<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">JavaZone Partnermøte</h1>
		<div class="section-content">

			<p>Nedenfor finner du presentasjonen som ble holdt på Teknologihuset torsdag 11. Desember. Presentasjonen inneholder informasjon om partnerskap på JavaZone, hvilke fagaktiviteter som planlegges for 2015, samt informasjon om JavaZone Academy. Vi er tilgjengelige på <a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a> om du har noen spørsmål.</p>

			<p>For information in english, please refer to our <a href="/partners.html">partnership web pages</a> and our <a href="/resources/partner/partnership-prospectus-javazone2015.pdf">partnership prospectus</a>. You can also contact us at <a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a></p>


		</div>
	</div>

	<div class="sub-section">
		<div class="table-of-contents">
			<div class="table-of-content cf">
				<h2>Faglig program:</h2>
				<ul>
					<li><a href="#slide003">Overordnet info</a></li>
					<li><a href="#slide004">Fagworkshop</a></li>
					<li><a href="#slide005">JavaZone Kickoff</a></li>
					<li><a href="#slide006">Call for Speakers</a></li>
					<li><a href="#slide008">Temamøter</a></li>
					<li><a href="#slide010">Alle viktige datoer</a></li>
				</ul>
			</div>
			<div class="table-of-content">
				<h2>Partnerskap:</h2>
				<ul>
					<li><a href="#slide014">Partnerpakken</a></li>
					<li><a href="#slide016">Standutvidelser</a></li>
					<li><a href="#slide019">Restaurantstand</a></li>
					<li><a href="#slide020">Stor stand</a></li>
					<li><a href="#slide022">Priser & datoer</a></li>
					<li><a href="#slide023">Bestille partnerskap</a></li>
				</ul>
			</div>
			<div class="table-of-content">
				<h2>JavaZone Academy:</h2>
				<ul>
					<li><a href="#slide026">Nyheter i 2015</a></li>
					<li><a href="#slide028">Academy i Oslo</a></li>
					<li><a href="#slide029">Academy i Trondheim</a></li>
					<li><a href="#slide030">Academy i Bergen</a></li>
					<li><a href="#slide031">Academy i ny by</a></li>
					<li><a href="#slide033">Stand på Academy</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>


<img class="slide" src="/resources/partner/desember2014/slides/slide.001.jpg" id="slide001" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.002.jpg" id="slide002" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.003.jpg" id="slide003" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.004.jpg" id="slide004" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.005.jpg" id="slide005" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.006.jpg" id="slide006" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.007.jpg" id="slide007" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.008.jpg" id="slide008" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.009.jpg" id="slide009" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.010.jpg" id="slide010" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.011.jpg" id="slide011" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.012.jpg" id="slide012" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.013.jpg" id="slide013" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.014.jpg" id="slide014" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.015.jpg" id="slide015" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.016.jpg" id="slide016" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.017.jpg" id="slide017" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.018.jpg" id="slide018" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.019.jpg" id="slide019" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.020.jpg" id="slide020" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.021.jpg" id="slide021" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.022.jpg" id="slide022" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.023.jpg" id="slide023" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.024.jpg" id="slide024" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.025.jpg" id="slide025" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.026.jpg" id="slide026" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.027.jpg" id="slide027" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.028.jpg" id="slide028" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.029.jpg" id="slide029" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.030.jpg" id="slide030" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.031.jpg" id="slide031" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.032.jpg" id="slide032" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.033.jpg" id="slide033" />
<img class="slide" src="/resources/partner/desember2014/slides/slide.034.jpg" id="slide034" />


<div class="section container">
	<div class="prospectus">
		<a class="button button-wide" href="/resources/partner/desember2014/javazone-partnermote-desember2014.pdf">Last ned presentasjonen (PDF)</a>
	</div>

	<div class="sub-section cf">
		<h1 class="section-header">Kontakt oss</h1>
		<div class="section-content">
			<p>JavaZone holdes i September 2015, men ta kontakt angående partnerskap så snart som mulig, slik at vi kan hjelpe deg å få til et så bra standkonsept som mulig. Vi jobber hardt for at alle standplasseringene i Expo-området skal være godt plassert og ha en god dynamikk, men har du spesielle ønsker eller vil kjøpe en standutvidelse, så lønner det seg å være tidlig ute.</p>

			<p>Send oss en mail til <a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a>, så tar vi kontakt.</p>
		</div>
	</div>
</div>