backend/target
backend/.classpath
backend/.project
backend/.settings
backend/logs
backend/logDirectory_IS_UNDEFINED/*
backend/awazone.properties
backend/node-templates
scripts/mongotemp/*
scripts/node_modules/*
*/.DS_Store

frontend/node_modules/*
resources/
frontend/public/*
