<div class="jumbotron illustration-question">
	<%= partial('assets/svg/illustrations/hoder/hode5.svg') %>
</div>

<div class="jumbotron container">
	<h1>JavaZone Partner Update – June 2015</h1>
	<p>This is a summary of all the news from JavaZone 2015 as presented at our partner meeting in June. Have a look at the slides below, and please get in touch at <a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a> if you have any questions.</p>
	<br>
	<div class="contact">
		<a class="button button-wide" href="mailto:<%= settings.partner_mail %>">Questions? <%= settings.partner_mail %></a>
	</div>
</div>

<div class="section container cf">
	<div class="sub-section">
		<div class="table-of-contents">
			<div class="table-of-content cf">
				<h2>Talks and program</h2>
				<ul>
					<li><a href="#slide003">Call for Speakers</a></li>
					<li><a href="#slide006">Important dates</a></li>
					<li><a href="#slide032">JavaZone Academy</a></li>
				</ul>
			</div>
			<div class="table-of-content">
				<h2>Expo area</h2>
				<ul>
					<li><a href="#slide007">The concept : Expo 2.0</a></li>
					<li><a href="#slide008">News about the Expo</a></li>
					<li><a href="#slide011">Concerts and Music</a></li>
					<li><a href="#slide016">Drawings Expo-area</a></li>
				</ul>
			</div>
			<div class="table-of-content">
				<h2>Partnership and stands</h2>
				<ul>
					<li><a href="#slide021">Stand competition</a></li>
					<li><a href="#slide027">Tips for the evening</a></li>
					<li><a href="#slide026">Roadmap for your stand</a></li>
					<li><a href="#slide030">Partner tickets</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>


<a class="anchor" id="slide001"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.001.jpg" />
<a class="anchor" id="slide002"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.002.jpg" />
<a class="anchor" id="slide003"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.003.jpg" />
<a class="anchor" id="slide004"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.004.jpg" />
<a class="anchor" id="slide005"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.005.jpg" />
<a class="anchor" id="slide006"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.006.jpg" />
<a class="anchor" id="slide007"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.007.jpg" />
<a class="anchor" id="slide008"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.008.jpg" />
<a class="anchor" id="slide009"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.009.jpg" />
<a class="anchor" id="slide010"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.010.jpg" />
<a class="anchor" id="slide011"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.011.jpg" />
<a class="anchor" id="slide012"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.012.jpg" />
<a class="anchor" id="slide013"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.013.jpg" />
<a class="anchor" id="slide014"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.014.jpg" />
<a class="anchor" id="slide015"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.015.jpg" />
<a class="anchor" id="slide016"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.016.jpg" />
<a class="anchor" id="slide017"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.017.jpg" />
<a class="anchor" id="slide018"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.018.jpg" />
<a class="anchor" id="slide019"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.019.jpg" />
<a class="anchor" id="slide020"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.020.jpg" />
<a class="anchor" id="slide021"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.021.jpg" />
<a class="anchor" id="slide022"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.022.jpg" />
<a class="anchor" id="slide023"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.023.jpg" />
<a class="anchor" id="slide024"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.024.jpg" />
<a class="anchor" id="slide025"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.025.jpg" />
<a class="anchor" id="slide026"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.026.jpg" />
<a class="anchor" id="slide027"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.027.jpg" />
<a class="anchor" id="slide028"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.028.jpg" />
<a class="anchor" id="slide029"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.029.jpg" />
<a class="anchor" id="slide030"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.030.jpg" />
<a class="anchor" id="slide031"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.031.jpg" />
<a class="anchor" id="slide032"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.032.jpg" />
<a class="anchor" id="slide033"></a> <img class="slide" src="/resources/partner/june2015english/slides/slide.033.jpg" />

<div class="section container">

	<div class="sub-section cf">
		<h1 class="section-header">Contact us</h1>
		<div class="section-content">
			<p>Do you have any questions, or perhaps would like to discuss your stand, the concept or anything else with us? Send us an email, and we'll get in touch.</p>

			<p>You can reach us at <a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a>.</p>
		</div>
	</div>
</div>
