<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0 tile-volunteer-dragup tile-nomargin"><div class="tile-inner tile-inner-tighttop">
        <div class="illustration ill-academy ill-academy-center animated rollIn"></div>

        <div class="space"></div>

    	<h2 class="first center color1 animated fadeInDown">
            Are you a student? Interested in IT?<br>
            Come join us for JavaZone Academy 2014.
        </h2>

        <p class="center animated fadeInDown">JavaZone Academy is an event for students in Norway. The event is free, and will take place in Oslo, Bergen and Trondheim. The events in Bergen and Trondheim is a mini-version of JavaZone, while the event in Oslo takes place during JavaZone.
        <p class="center animated fadeInDown">Get access to great talks, food, mingling and our great partners for a whole evening – a great taste of the full JavaZone Experience. See you there!</p>

        <div class="spacexx"></div>

	    <div class="academy-boxes">
	    	
	    	<div class="academy-box academy-box-first">
	    		<h3 class="color1">Oslo</h3>
	    		<h4>11. September 2014</h4>
	    		<div class="academy-pic ill-spektrum"></div>
	    		<div class="academy-box-inner">
	    		
		    		<p class="intro">For JavaZone Academy in Oslo, we invite you to participate at the main JavaZone event in Oslo Spektrum.</p>
		    		<p>Your free ticket gives you access to the conference from 12.00 on Thursday 11. September. You can watch the talks, mingle in the expo-area, enjoy the legendary JavaZone food, and meet all our partners.</p>
		    		<p><strong>The registration is now closed.</strong></p>
	    		</div>
			<a href="https://docs.google.com/forms/d/1W72wbZXUY7fcuyBlpC89Y2ChI9piGVqds83bV7w4c8U/viewform"><i class="fa fa-times-circle"></i> Registration closed</a>
	    	</div>

	    	<div class="academy-box academy-box-second">
	    		<h3 class="color1">Trondheim</h3>
	    		<h4>20. October 2014</h4>
	    		<div class="academy-pic ill-samfundet"></div>
	    		<div class="academy-box-inner">
	    		
		    		<p class="intro">JavaZone Academy Trondheim will take place in Storsalen at Studentersamfundet, the home of the students in Trondheim.</p>
		    		<p>We'll start with three talks handpicked from JavaZone, then we will enjoy a better dinner and some entertainment. Our partners will be there to mingle and talk.</p>
	    		</div>
	    		<a href="https://abakus.no/event/1456-javazone-academy/"><i class="fa fa-arrow-circle-o-right"></i> Registration at abakus.no</a>
	    		<a href="https://online.ntnu.no/events/99/javazone-academy/"><i class="fa fa-arrow-circle-o-right"></i> Registration at online.ntnu.no</a>
	    	</div>

	    	<div class="academy-box academy-box-last">
	    		<h3 class="color1">Bergen</h3>
	    		<h4>21. October 2014</h4>
	    		<div class="academy-pic ill-kvarteret"></div>
	    		<div class="academy-box-inner">
	    		
		    		<p class="intro">JavaZone Academy Bergen will take place at Det Akademiske Kvarter, which is the students culture house in Bergen.</p>
		    		<p>We'll start with three talks handpicked from JavaZone, then we will enjoy a better dinner and some entertainment. Our partners will be there to mingle and talk.</p>
	    		</div>
	    		<a href="http://fagutvalget.no/javazone-academy-21-oktober/"><i class="fa fa-arrow-circle-o-right"></i> Registration at fagutvalget.no</a>
	    	</div>


	    	<div class="clear"></div>
	    </div>

    </div></div>


    <div class="tile tile-big tile-partners tile-color0 tile-academypartners tile-ill"><div class="tile-inner">
	    <h2 class="first color1 center">
	        Companies you will meet at JavaZone Academy
	    </h2>
	    <div class="space"></div>
	    <div class="partners img-list"></div>
	    <div class="clear"></div>
	    <div class="space"></div>
	    <p class="centersmall">Are you interested in being a partner for JavaZone Academy? <br>Contact us at <a href="mailto:partner@java.no">partner@java.no</a>, and we'll get in touch.</p>
	</div></div>

	<div class="tile tile-big tile-ill tile-ill-full tile-color0 tile-nomargin"><div class="tile-inner">

		<div class="spacex"></div>

        <div class="moreinfoboxes">
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-user"></i> Who can attend JavaZone Academy?</h3>
	        	<p>JavaZone Academy is offered for free to all students. As long as you are currently a student you are welcome to attend JavaZone Academy.</p>
	        </div>
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-heart"></i> What is the price for JavaZone Academy?</h3>
	        	<p>JavaZone Academy is free for all students. Remember to register for the event as you will need a ticket to attend.</p>
	        </div>
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-home"></i> What about other student cities in Norway?</h3>
	        	<p>For 2014 we have prioritized Oslo, Bergen and Trondheim. If you think that this event should take place in your city as well, please let us know at <a href="mailto:javazone@java.no">javazone@java.no</a>.</p>
	        </div>
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-bullhorn"></i> Who will present at JavaZone Academy?</h3>
	        	<p>The speakers at JavaZone Academy in Bergen and Trondheim will be picked from the speakers at JavaZone. We'll announce the speakers in September. For Oslo, the regular schedule applies.</p>
	        </div>
	        <div class="clear"></div>
        </div>

        <div class="spacex"></div>

        <p class="questions-link"><a href="mailto:javazone@java.no">Got any questions? Contact us at <span>javazone@java.no</span></a></p>

    </div></div>

</div>


<%= partial("_partials/footer.html") %>