<% set('page', 'academy-page') %>

<div class="mood">
    <div class="mood-background"></div>
</div>

<div class="jumbotron clearfix">
    <h1><strong>JavaZone Academy</strong><br>– a free taste of JavaZone for all students –</h1>
</div>

<div class="section container cf">
    <div class="sub-section cf">
        <h1 class="section-header">Calling all IT-students!</h1>
        <div class="section-content">
            <p>Are you a student? Interested in IT? Come join us for JavaZone Academy 2015. JavaZone Academy is an event for students where we invite you to take part of JavaZone for a full day. You will get a ticket that gives you full access to the whole conference for one day with the same rights as every other participant. Get access to great talks, food, mingling and our great partners for a whole day – a great taste of the full JavaZone Experience.</p>

            <h2>Time and place</h2>
			<p> The event will take place in Oslo Spektrum during the second day of JavaZone – <strong>Thursday September 10th 2015</strong>. </p>

			<h2>Registration</h2>
			<p>The event is free, but we have a limited number of tickets availiable – we'll invite around 200 students. You have to apply for a ticket, and we'll let you know if you get one as soon as possible.</p>
			<p>The registration opens in August. The registration will stay open for about a week, and then we'll send out the invitations afterwards.</p>

			<a class="button" href="#">Registration opens in august</a>
        </div>
    </div>
</div>

<div class="jumbotron">
		<%= partial('assets/svg/illustrations/ears.svg') %>
	</div>

<div class="section container cf">
    <div class="sub-section cf">
        <h1 class="section-header">More information</h1>
        <div class="section-content">
        	<h2>The talks</h2>
            <p>You can find more information about the talks at JavaZone over in our <a href="/program.html">program web pages</a>. The details about which talks will take place on Thursday will be published in august. You can plan to be able to attend all the talks on Thursday, since your ticket gives you access from the early morning.</p>

            <a class="button" href="/program.html">See the full program</a>

            <h2>Practical information</h2>
            <p>We have a lot of <a href="/info.html">practical information for the participants</a> published. Feel free to look over that information to see if it answers your questions. If not, you are more than welcome to shoot us an email to <a href="mailto:javazone@java.no">javazone@java.no</a>.</p>

            <a class="button" href="/info.html">See more practical info</a>
        </div>
    </div>
</div>


<div class="jumbotron container thank-you">
	<p class="spread-the-word">See you at JavaZone, Thursday September 10th!</p>
	<p class="regards">Best regards,<br/>javaBin, the organizer of JavaZone.</p>
</div>