<%= partial("_partials/menu.html") %>
<% set('page', 'page-invert') %>

<div class="tile tile-img tile-med"><div class="img img-awezone-poster"></div></div>

<div class="tile tile-small tile-facts tile-invert"><div class="tile-inner">
  <h3 class="first">Join us at AweZone!</h3>
  <ul>
    <li><strong><i class="icon-calendar"></i> When and where?</strong> 11<sup>th</sup> September 2013, <a href="http://www.rockefeller.no/">Rockefeller Music Hall</a>, Torggata 16, Oslo.</li>
    <li><strong><i class="icon-user"></i> Who is invited?</strong> Everyone with a normal <a href="/tickets.html">JavaZone ticket</a>. Partners may <a href="mailto:partner@java.no">buy extra tickets</a> just for AweZone.</li>
    <li>
    <strong><i class="icon-credit-card"></i> How much does it cost?</strong> Free as in lunch! Entrance to the party is included in your regular ticket.</li>
  </ul>
</div></div>

<div class="tile tile-small tile-facts tile-invert"><div class="tile-inner">
  <h3 class="first">3 arenas under one roof!</h3>
  <ul>
    <li><strong><i class="icon-music"></i> Rockefeller Music Hall</strong>  <a href="http://bigbang.no/home/">Bigbang</a>, better known as Norway's best live band, joined by <a href="http://www.lemaitremusic.com/">Lemâitre</a>, the great Norwegian indie-electronic duo. As well as our great partner bands: <a href="http://bekk.no/#Aktuelt/">Bekk Band</a> and <a href="http://www.no.capgemini.com/">PocketRocket</a></li>
    <li><strong><i class="icon-music"></i> John Dee Live Club</strong> <a href="http://www.whileyouslept.net/band.php">While You Slept</a> playing catchy melodies merged with pumping energy, and <a href="http://www.djervmusic.com/">Djerv</a> playing dangerously catchy aggressive rock-metal.</li>
    <li>
    <strong><i class="icon-beer"></i> ChillZone</strong> Two arenas perfect for those who just want to catch up with old friends and have a cold beer. Both at the roof-top and below (Bushwick).</li>
  </ul>
</div></div>


<%= partial("_partials/footer.html") %>
