<%= partial("_partials/menu.html") %>



<div class="tiles" id="where">
    <div class="tile tile-med tile-tall"><a href="#" class="tile-inner img-agir">
        <div class="img-inner"></div>
        <span class="extra link"><i class="icon icon-play-sign"></i> Communities at JavaZone 2013!</span>
    </a></div>
    <div class="tile tile-invert tile-small tile-tall tile-tall-text"><div class="tile-inner">
        <h3 class="first">Special program!</h3>
        <p>There are more than 20 communities participating at JavaZone 2013. You can meet up with them at their stand in the expo area.</p>
        <p>There will also be a room filled with great talks held by the various communities.</p>
        <ul class="links">
            <li><a href="#"><i class="icon-star"></i> Check out the program</a></li>
            <li><a href="#"><i class="icon-meh"></i> Missing your community?</a></li>
        </ul>
    </div></div>
</div>

<div class="clear"></div>



<ul class="tiles">

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> OSWA Norway</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> XP-meetup</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-off"></i> NNUG</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-pencil"></i> OWASP</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-retweet"></i> C++ meetup</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-sitemap"></i> Oslo.pm</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-umbrella"></i> NUUG</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-truck"></i> IRB</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>
    
    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Framsia</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Cocoaheads</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Open Data meetup</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Baksia</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>
    
    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Oslo Coding Dojo</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Oslo Enterprise Search</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Hackeriet (Oslo Hackerspace)</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Lean Meetup</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>
    
    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Useability</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Semantic web</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Oslo C++ Users Group</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Mobile Monday</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>
    
    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Oslo Solr Community</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Node.js</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> scalabin</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Oslo Groovy Meetup</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> IxDA Oslo</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/program.html" class="tile-inner community">
        <div class="img-inner"></div>
        <h3><i class="icon-twitter"></i> Oslo Socially Functional (Programmers)</h3>
        <p>Vårt mål er å skape verdier for hverandre og å gjøre IT arkitektur til en fullverdig profesjon for bla bla bla og sånn vettu.</p>
    </a></li>
    
</ul>
<div class="clear"></div>


<%= partial("_partials/footer.html") %>
