<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>


<!-- <div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0 tile-volunteer-dragup tile-nomargin"><div class="tile-inner tile-inner-tighttop">
        <div class="illustration ill-infostand ill-infostand-center animated rollIn"></div>

        <div class="space"></div>

    	<h2 class="first center color7 animated fadeInDown">
            In it to win it?<br>
            Check out this years competitions!
        </h2>

        <p class="center animated fadeInDown">Our partners have a a lot of great competitions at their stands. Please check out all the partner stands during the event to see what they are up to, and maybe win a price or two as well!</p>
        <p class="center animated fadeInDown">javaBin and JavaZone also have two competitions. One before the conference, and one during the conference. Read all about it below.</p>
</div> -->

<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-center tile-color0 tile-volunteer-dragup tile-nomargin"><div class="tile-inner">
    	<div class="illustration ill-infostand ill-infostand-center animated rollIn"></div>

        <div class="space"></div>

    	<h2 class="first center color1 animated fadeInDown">
            Competitions during JavaZone<br>
            It's all about the partners in the expo area
        </h2>
        <p class="center">Our partners have a a lot of great competitions at their stands. Please check out all the partner stands during the event to see what they are up to, and maybe win a prize or two as well!</p>
        <p class="center">They will announce the winners at their own pace, and we'll summarize the winners here after the conference.</p>

        <div class="space"></div>

        <div class="competitionprices">
            <table>
                
                <thead>
                    <tr>
                        <td>Who</td>
                        <td>What</td>
                        <td>Winner</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Jpro</td>
                        <td>Weekend at the company cabin at Hafjell</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Nets</td>
                        <td>Beer Brewery equipment (30L)</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Greenbird</td>
                        <td>Donates 50,- per picture of participants with a green nose/beard towards cancer research</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>DIPS</td>
                        <td>Bose headphones</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>IBM</td>
                        <td>GoPro Hero+ Black Edition</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Steria</td>
                        <td>A trip in the Steria Hot Air baloon and a signed chessboard</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>InMeta</td>
                        <td>Sonos5 speaker and Sonos Bridge</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Visma</td>
                        <td>Advanced Lego and Portable Mobile Charger</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>ProgramUtvikling</td>
                        <td>Golden ticket (free cource/conference ticket) and more</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Accenture</td>
                        <td>Nvidia Shield with two controllers</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Ciber</td>
                        <td>Hubsan QuadCopter X4 m/ HD Camera and a GoPro Hero 3+ Black Edition</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Webstep</td>
                        <td>Pebbple wrist Watch</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Miles</td>
                        <td>Check for 10 000 towards a trip to Italy</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Kantega</td>
                        <td>NineBot</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Accando</td>
                        <td>A pair of sneekers/shoes</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Alran</td>
                        <td>Synth kit and a deluxe kit fra LittleBit</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Itera</td>
                        <td>Course/Training from Glasspaper</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Iterate</td>
                        <td>Instant gifts like books, "the note board" and such</td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>Finn.no</td>
                        <td>Two Retro Game Boy each day, bought at finn.no</td>
                        <td>TBA</td>
                    </tr>
                    <tr class="last">
                        <td colspan="3">Other partners might have competitons as well, visit their stands to see…</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div></div>
</div>


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-center tile-color0"><div class="tile-inner">
    	<h2 class="first center color2">
            The javaBin competition:<br>
            Visit the most partners, win a Pebble + cool swag
        </h2>
        <p class="center">At your lanyard, you'll find a card with all our partner's logos. Visit as many partners as possible during the conference, get them to each make a hole in your card (just like the old computer punchcards), and deliver the card to the javaBin stand at the end of the conference. Remember to vote for the best stand at the card as well.</p>
        <p class="center">We'll give out Pebble smart watches as well as some cool JavaZone swag to four winners.</p>
        <div class="space"></div>
        <div class="illustration ill-standkonkurranse"></div>
        <p class="centersmall">The punch cards, the punchers, the fun!</p>

    </div></div>
</div>




<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-center tile-color0"><div class="tile-inner">
    	<h2 class="first center color1">
            Game of Codes + code reading + compiling<br>
            That's a JavaZone ticket to you
        </h2>

        <p class="center">The competition we held before JavaZone was announced in a typical geeky fashion: not at all. You really had your work cut out for you if you wanted to participate. In our main JavaZone Movie this year, <a href="/videos.html">Game of Codes – a song of bytes and wire</a>, we included a "scroll" with some cryptic code on it. To confuse you, we made the actors say it was Java code. The most clever of you of cource understood that this was blasphemy, it really was pure Clojure code!</p>

        <div class="illustration ill-javacode"></div>
        <p class="centersmall">The clojure code you had to compile to win</p>

        <p class="center">At the end of the day, some of you compiled it, sent an email to foundit@java.no as the running code told you to do, and presto: three of the clever human compilers won a full JavaZone 2014 ticket!</p>
        <p class="center">Congrats to the winners: Anders Furseth, Albrecht Schmidt & Alexander Sagen.</p>
    </div></div>
</div>




<%= partial("_partials/footer.html") %>