<div class="contact">


	<div class="jumbotron container">
		<p>
		We're not dangerous! Please don't hesitate to get in touch if you have any questions.<br />
		If you're unsure, just email <a href="mailto:<%= settings.general_mail %>"><%= settings.general_mail %></a> and we'll handle all the details.
		</p>
	</div>

	<div class="jumbotron contacts container cf">
		<dl>
			<dt>General inquiries</dt>
			<dd><a href="mailto:<%= settings.general_mail %>"><%= settings.general_mail %></a></dd>
			<dt>Partner inquiries</dt>
			<dd><a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a></dd>
			<dt>Program committee</dt>
			<dd><a href="mailto:<%= settings.program_mail %>"><%= settings.program_mail %></a></dd>
		</dl>
	</div>

	<div class="splitter"></div>

	<div class="jumbotron container">
		<h1>We made this!</h1>
		<p>A bunch of awesome people have helped bringing JavaZone 2015 to life. These are the people of javaBin who work tirelessly to make it all possible. Give them a hug if you see them!</p>
	</div>

	<div class="javabinsuperstars">
<!-- 		
		<a class="javabiner" href="#">
			<div style="background-image: url('/assets/img/javabin/mark_west.jpg')"></div>
			<p><span>Mark West</span></p>
		</a>
-->

		<div style="clear: both"></div>
	</div>
</div>