<div class="contact">


	<div class="jumbotron container">
		<p>
		We're not dangerous! Please don't hesitate to get in touch if you have any questions.<br />
		If you're unsure, just email javazone@java.no and we'll handle all the details.
		</p>
	</div>

	<div class="jumbotron contacts container cf">
		<dl>
			<dt>General inquiries</dt>
			<dd><a href="mailto:<%= settings.general_mail %>"><%= settings.general_mail %></a></dd>
			<dt>Partner inquiries</dt>
			<dd><a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a></dd>
			<dt>Program committee</dt>
			<dd><a href="mailto:<%= settings.program_mail %>"><%= settings.program_mail %></a></dd>
		</dl>
	</div>
</div>