<%= partial("_partials/menu.html") %>

<div class="tile tile-big"><div class="tile-inner img-stand2">
    <span class="extra">
        <strong>JavaZone is created by these hardworking people.</strong><br>
        With fantastic help from over 40 awesome partners.
    </span>
</div></div>

<div class="clear"></div>

<div class="tile tile-big tile-credits"><div class="tile-inner">
    <div class="credits img-list"></div>
    <div class="clear"></div>
</div></div>

<div class="tile tile-big tile-partners"><div class="tile-inner">
    <div class="partners img-list"></div>
    <div class="clear"></div>
</div></div>


<%= partial("_partials/footer.html") %>
