<% set('page', 'volunteer-page') %>

<div class="jumbotron container cf">
	<%= partial('assets/svg/illustrations/questions.svg') %>
</div>

<div class="jumbotron container cf">
	<h1>Hjelp oss å arrangere Nord-Europas største IT-konferanse – Meld deg som JavaZone-frivillig i dag!</h1>
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Hva er JavaZone?</h1>
		<div class="section-content">
			<p>Hvert år strømmer over 2000 utviklere til Oslo for å delta på JavaZone. I tillegg kommer over 150 foredragsholdere fra hele verden, pluss mennesker fra over 40 ulike partnere.</p>
			<p>Har du lyst til å bidra til at disse 2.500 menneskene skal få en fantastisk opplevelse, og også få ta del i dette selv? Er du student? Perfekt! Du er akkurat den vi leter etter! Søk som frivillig på JavaZone 2015, og bli med å hjelpe oss å lage tidenes beste JavaZone!</p>
		</div>
	</div>
</div>

<div class="jumbotron container cf">
	<a class="button button-red" href="#">Søk som frivillig på JavaZone 2015</a>
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<ul class="information cf">
			<li class="info">
				<div class="info-header">Hvem kan bli frivillig på JavaZone?</div>
				<div class="info-content">Alle studenter som behersker norsk og engelsk flytende kan bli frivillige på JavaZone. Så lenge du vil gjøre en innsats, så er du hjertelig velkommen til å søke!</div>
			</li>
			<li class="info">
				<div class="info-header">Hvor mange frivillige bidrar på JavaZone?</div>
				<div class="info-content">Hvert år deltar ca 50 frivillige på JavaZone. Interessen for dette er stor, så dessverre får ikke alle søkere plass. Men ikke la dette hindre deg i å søke, prøv da vel!</div>
			</li>
			<li class="info">
				<div class="info-header">Får jeg med meg noe faglig som frivillig?</div>
				<div class="info-content">Å være frivillig på JavaZone er litt som å være frivillig på en musikkfestival, bare mer nerdete! Du får derfor ca 50% fri, og kan da gå på foredrag, spise god mat og snakke med kule folk.</div>
			</li>
			<li class="info">
				<div class="info-header">Hva med reise hvis jeg ikke bor i Oslo?</div>
				<div class="info-content">JavaZone dekker ikke reise eller overnatting for frivillige. Men erfaringsmessig så er det mange studiesteder som velger å gi reisestøtte. Spør derfor instituttet/skolen din om dette.</div>
			</li>
			<li class="info">
				<div class="info-header">Får jeg bli med på AweZone?</div>
				<div class="info-content">Selvsagt får du det! JavaZone er ikke det samme uten! Her får du se 6 band og snakke med de kuleste folka i IT-bransjen! Ingen jobbing på kvelden – bare fest og morro =)</div>
			</li>
			<li class="info">
				<div class="info-header">I don't speak norwegian… What about me?</div>
				<div class="info-content">Beeing a volunteer at JavaZone requires you to be fluent in both norwegian and english. This is because you are one of the main goto-people for 2500 guests.</div>
			</li>
		</ul>
	</div>
</div>

<div class="jumbotron container cf">
	<a class="button button-red" href="#">Søk som frivillig på JavaZone 2015</a>
</div>