<% set('page', 'volunteer-page') %>

<div class="jumbotron container cf">
	<%= partial('assets/svg/illustrations/presentations.svg') %>
</div>

<div class="jumbotron container cf">
	<h1>Hjelp oss å arrangere Nord-Europas største IT-konferanse! Meld deg som JavaZone-frivillig i dag!</h1>
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Hva er JavaZone?</h1>
		<div class="section-content">
			<p>Hvert år strømmer over 2000 utviklere til Oslo for å delta på JavaZone. I tillegg kommer over 150 foredragsholdere fra hele verden, pluss mennesker fra over 40 ulike partnere.</p>
			<p>Har du lyst til å bidra til at disse 2.500 menneskene skal få en fantastisk opplevelse, og også få ta del i dette selv? Er du student? Perfekt! Du er akkurat den vi leter etter! Søk som frivillig på JavaZone 2015, og bli med å hjelpe oss å lage tidenes beste JavaZone!</p>
		</div>
	</div>
</div>

<div class="jumbotron container cf">
	<a class="button button-red" href="#">Søk som frivillig på JavaZone 2015</a>
</div>