<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>





<div class="tile tile-tallx tile-big"><div class="tile-inner img-expo2014-tiltshift">
    <div class="img-inner"></div>
    <span class="extra extra-right extra-bottom-higher">
        <strong>JavaZone 2014 is over. Thank you for being a part of it and making it awesome.</strong><br>
        JavaZone 2015 will be held September 9-10th. See <a href="http://2015.javazone.no">2015.javazone.no</a> for more info.
    </span>
</div></div>

<a href="/survey.html" class="tile tile-txt tile-small tile-link tile-hover tile-color4 tile-scale-hover"><div class="tile-inner">

    <p>Give us your feedback</p>

</div></a>

<a href="/program.html" class="tile tile-txt tile-small tile-link tile-hover tile-color1 tile-scale-hover"><div class="tile-inner">

    <p>Videos from 146 talks</p>

</div></a>

<a href="/academy.html" class="tile tile-txt tile-small tile-link tile-hover tile-color3 tile-scale-hover"><div class="tile-inner">

    <p>JavaZone Academy</p>

</div></a>


<%= partial("_partials/footer.html") %>