<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<a href="/speakers.html" class="tile tile-big tile-tall animated fadeInDown"><div class="tile-inner img-crazy3">
    <span class="extra extra-top">
        Join thousands of fellow developers at <strong>Norway's biggest open source conference</strong><br> JavaZone 2014 takes place in Oslo Spektrum September 9th–11th 2014
    </span>
</div></a>

<a href="/speakers.html" class="tile tile-txt tile-small tile-link tile-hover tile-color1 tile-white-color tile-scale-hover animated fadeInLeft"><div class="tile-inner">
    <p>Submit your talk</p>
</div></a>

<a href="/tickets.html" class="tile tile-txt tile-small tile-link tile-hover tile-color3 tile-white-color tile-scale-hover animated fadeInUp"><div class="tile-inner">
    <p>Buy your ticket</p>
</div></a>

<a href="/partners.html" class="tile tile-txt tile-small tile-link tile-hover tile-color4 tile-white-color tile-scale-hover animated fadeInRight"><div class="tile-inner">
    <p>Become a partner</p>
</div></a>

<%= partial("_partials/footer.html") %>