<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<div class="tile tile-big tile-tall not-min"><div class="tile-inner img-crazy3">
    <div class="img-inner"></div>
    <span class="extra">
        Join thousands of fellow nerds at <strong>Norways biggest open source conference</strong><br> JavaZone takes place in Oslo Spektrum 10th–11th September 2014
    </span>
</div></div>

<!-- <div class="tile tile-small tile-tall tile-tall-text tile-invert"><div class="tile-inner">
    <h3 class="first">
        The dates for JavaZone 2014 will be announced soon.
    </h3>
    <p>Help make JavaZone 2014 an even better conference by <a href="/feedback.html">filling out this feedback form</a>. Thanks!</p>
    <p>You can <a href="https://twitter.com/javazone">follow us on Twitter</a> to be the first to know everything about JavaZone 2014. </p>
    <p>Thank you for being a supporter of JavaZone! See you next year!</p>
</div></div> -->

<!-- <div class="tile tile-small"><a href="/program.html" class="tile-inner img-crowd">
    <div class="img-inner"></div>
    <span class="extra">
        <i class="icon icon-chevron-sign-right"></i>
        Filmed sessions
    </span>
</a></div>

<div class="tile tile-small"><a href="/videos.html" class="tile-inner img-bags">
    <div class="img-inner"></div>
    <span class="extra">
        <i class="icon icon-chevron-sign-right"></i>
        Promo videos
    </span>
</a></div>


<div class="tile tile-small"><a href="/workshops.html" class="tile-inner img-spektrum">
    <div class="img-inner"></div>
    <span class="extra">
        <i class="icon icon-chevron-sign-right"></i>
        Want to help us?
    </span>
</a></div> -->




<div class="clear"></div>
<div class="tweet"></div>

<%= partial("_partials/footer.html") %>