<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFPq2g8meU3zeIZUknGBaEosjs9B7WKlE&sensor=false">
    </script>

<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-right tile-color0"><div class="tile-inner">
        <div class="illustration ill-1 animated bounceInRight"></div>
        <div class="floatedcontent animated bounceInLeft">
            <h2 class="first color1">
                <span>2.500 developers. 70 presentations.<span> <br>
                <span>60 lightning talks. 20 workshops.</span> <br>
                <span class="color3">Come join us for the adventure!</span>
            </h2>
            <p>Norway is a strange country. And so is our conferences! Every year a group of volunteers called javaBin comes together to create a different conference, something uniquely norwegian.</p>
            <p>We invite <a href="/speakers.html">more than 150 speakers</a> to enlighten us for three full days. The first day is dedicated to workhops, then we have two full days with talks as well as workshops. Want to see what all the fuss is about? Well, come join us then!</p>
        </div>
        
<!--         <p>Innhold her: Hva er JavaZone? Hvem kommer på JavaZone? Hvorfor skal man dra på JavaZone - "Whats in it for me?". Hvem lager JavaZone. Hvem er foredragsholderene?</p> -->
    </div></div>
</div>



<div class="tiles animated bounceInUp">
    <div class="tile tile-big tile-ill tile-ill-left tile-color0"><div class="tile-inner">
        <div class="illustration ill-2"></div>
        <div class="floatedcontent">
            <h2 class="first color2">
                So you want to attend JavaZone? <br>
                <span class="color2">That's awesome! Let's get you a ticket</span>
            </h2>
            <p>The first step to heaven is to buy your JavaZone ticket. Either buy it yourself, ask your dear beloved boss, or ask the ticket-santa. Whomever buys it can do so in our superfancy high-tech online web-2.0 ticketstore.</p>
            <div class="spacex"></div>
            <p>
                <a href="/tickets.html" class="button"><i class="fa fa-star-o"></i> Buy your ticket now</a>
            </p>
        </div>
<!--         <p class="animated bounceInUp">The awesome ticket gives you access to a whole lot of stuff. The workhops on September 9th is included. So is the two conference days on September 10th and 11th (obviously!). But did you know that JavaZone has the world's best food? No kidding! How much? Free, as in food! And the six bands at AweZone? Included as well! Look under your seat! A free toilet visit for you! And you! Oprah style!</p> -->
<!--         <p>Innhold her: Hvordan kjøpe billett? Hva er inkludert i billettprisen? Workshops er first-come-first-served! JavaZone har awesome mat! ...</p> -->
    </div></div>
</div>


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0"><div class="tile-inner">
        <h2 class="first center color1">
            Your ticket to JavaZone 2014 includes
        </h2>

        <div class="salesbubbles">
            <a class="salesbubble" href="#">
                <span>Workshops <br>sept. 9th</span>
            </a>
            <a class="salesbubble" href="#">
                <span>Conference <br>sept. 10th</span>
            </a>
            <a class="salesbubble" href="#">
                <span>AweZone <br>sept. 10th</span>
            </a>
            <a class="salesbubble" href="#">
                <span>Conference <br>sept. 11th</span>
            </a>
            <a class="salesbubble" href="#">
                <span>Food <br>bonanza</span>
            </a>
            <a class="salesbubble" href="#">
                <span>Bragging <br>rights</span>
            </a>
            <div class="clear"></div>
        </div>
    </div></div>
</div>        


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0 pullupxx"><div class="tile-inner">
        <div class="illustration ill-3"></div>
        <h2 class="first color2 crazyheader">What, when, how, whyyy? You know, all the practicalities…</h2>
        <div class="spacexx"></div>

        <div class="infoboxes">
            <div class="infobox infobox-small">
                <div class="infobox-icon"><i class="fa fa-map-marker"></i></div>
                <h3 class="color2">Where's the conference at, yo?</h3>
                <p>The venue is literary a 2 minutes to walk from the main train station, bus station, trams and taxis (duh!)</p>
                <p>Feeling lost? Use the <a href="http://reiseplanlegger.ruter.no/en">Travel planner</a>, choose "Oslo Spektrum" as the destination.</p>
            </div>
            <div class="infobox infobox-med">
                <div class="infobox-icon"><i class="fa fa-cutlery"></i></div>
                <h3 class="color2">"Uten mat og drikke, duger helten ikke"</h3>
                <p>That's norwegian for "where can I get some food?". The nice thing about JavaZone is that we have the best food of any conference, ever! (we promise)</p>
                <p>The Flying Culinary Circus are preparing food all day long. No queues, no price, all inclusive, all day long (from 10am)</p>
            </div>
            <div class="infobox infobox-small">
                <div class="infobox-icon"><i class="fa fa-home"></i></div>
                <h3 class="color2">When tired, where to sleep?</h3>
                <p>There will be beanbags at the conference. If you prefer a hotel, there are plenty of them in the area around the conference center.</p>
                <p>Just search for hotels near "Oslo Central Station", and you should be home free!</p>
            </div>

            <div class="infobox infobox-small">
                <div class="infobox-icon"><i class="fa fa-cloud"></i></div>
                <h3 class="color2">More practical info here</h3>
                <p>Consectetur adipiscing elit. Cras adipiscing orci condimentum, adipiscing est.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing.</p>
            </div>
            <div class="infobox infobox-med">
                <div id="map-canvas"></div>
            </div>
            <div class="infobox infobox-small">
                <div class="infobox-icon"><i class="fa fa-comments"></i></div>
                <h3 class="color2">More practical info here</h3>
                <p>Consectetur adipiscing elit. Cras adipiscing orci condimentum, adipiscing est.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing.</p>
            </div>

            <div class="infobox infobox-small">
                <div class="infobox-icon"><i class="fa fa-cloud"></i></div>
                <h3 class="color2">More practical info here</h3>
                <p>Consectetur adipiscing elit. Cras adipiscing orci condimentum, adipiscing est.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing.</p>
            </div>
            <div class="infobox infobox-med">
                <div class="infobox-icon"><i class="fa fa-calendar"></i></div>
                <h3 class="color2">More practical info here</h3>
                <p>Consectetur adipiscing elit. Cras adipiscing orci ksjronsj, adipiscing est. ras adipiscing orci ksjronsj</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing ras adipiscing orci ksjronsj.</p>
            </div>
            <div class="infobox infobox-small">
                <div class="infobox-icon"><i class="fa fa-comments"></i></div>
                <h3 class="color2">More practical info here</h3>
                <p>Consectetur adipiscing elit. Cras adipiscing orci condimentum, adipiscing est.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing. </p>
            </div>
        </div>


<!--         <p>Innhold her: Alt av praktisk informasjon: hvor skal man bo, hvor er oslo/oslo spektrum, når/hvor/hva/hvem/hvordan?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing orci condimentum, adipiscing est id, pellentesque enim. Nunc gravida porttitor eros sit amet placerat.</p> -->
    </div></div>
</div>

<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-right tile-color0"><div class="tile-inner">
        <div class="illustration ill-4 pullupxx"></div>
        <div class="floatedcontent">
            <h2 class="first color1">Rise n' shine, dear dev! We have a<br> nifty & detailed program for you.</h2>

            <p>JavaZone 2014 is packed with activites. Ooh, teh activities! You don't want to miss out on any of these cool things; so pack your bag, pick up your badge and come join the learning bonanza!</p>


            <div class="spacex"></div>

            <div class="timetable">
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-header">
                        <span class="date">Tuesday September 9th</span><br>
                        <span class="title">The workshop day</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">09.00</div>
                    <div class="timetable-line-content timetable-line-second">First batch of workshops begins. Remember to register!</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">13.30</div>
                    <div class="timetable-line-content timetable-line-second">Second batch of workhops begins. Remember to register!</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line timetable-line-last">
                    <div class="timetable-line-content timetable-line-first">16.00</div>
                    <div class="timetable-line-content timetable-line-second">Not attending workshops? Pick up your badge to avoid a line next day.</div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="spacex"></div>

        </div>

        <div class="floated-timetables">
            <div class="timetable timetable-left">
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-header">
                        <span class="date">Wednesday September 10th</span><br>
                        <span class="title">The first and AweZome day</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">08.00</div>
                    <div class="timetable-line-content timetable-line-second">The doors to Oslo Spektrum opens. Switch your ticket to a cool badge!</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">08.30</div>
                    <div class="timetable-line-content timetable-line-second">Morning show. You don't want to miss out on this!</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">09.00</div>
                    <div class="timetable-line-content timetable-line-second">The presentations, lightning talks and workshops starts.</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">10.00</div>
                    <div class="timetable-line-content timetable-line-second">The food serving starts. Bring out the (pitch)forks!</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">19.20</div>
                    <div class="timetable-line-content timetable-line-second">The presentations end for today, and we close the doors.</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line timetable-line-last">
                    <div class="timetable-line-content timetable-line-first">19.30</div>
                    <div class="timetable-line-content timetable-line-second">AweZone at Rockefeller is officially started! Come rock out!</div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="spacex"></div>

            <div class="timetable timetable-right">
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-header">
                        <span class="date">Thursday September 11h</span><br>
                        <span class="title">The second and also nice day</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">08.00</div>
                    <div class="timetable-line-content timetable-line-second">The doors to Oslo Spektrum opens.</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">09.00</div>
                    <div class="timetable-line-content timetable-line-second">The second day of presentations and lightning talks starts.</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">09.00</div>
                    <div class="timetable-line-content timetable-line-second">2-hour workshops are held during the day. Remember to register!</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">10.00</div>
                    <div class="timetable-line-content timetable-line-second">The food serving starts. Bring out the (pitch)forks!</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line">
                    <div class="timetable-line-content timetable-line-first">16.00</div>
                    <div class="timetable-line-content timetable-line-second">Something cool happens! What? Wait and see :)</div>
                    <div class="clear"></div>
                </div>
                <div class="timetable-line timetable-line-last">
                    <div class="timetable-line-content timetable-line-first">18.00</div>
                    <div class="timetable-line-content timetable-line-second">The last presentations end, and JavaZone 2014 is officially over for now.</div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </div></div>
</div>



<!-- 
<div class="tile tile-big tile-lowxx"><a href="http://goo.gl/maps/LSn0A" class="tile-inner img-map">
        <div class="img-inner"></div>
        <span class="hidden">Oslo Spektrum, Sonja Henies plass 2, 0185 Oslo, Norway</span>
    </a></div> -->

<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0"><div class="tile-inner">
        <div class="illustration ill-5"></div>
        <h2 class="first">Faglig innhold: Foredrag, program, apps,  språk, lyntaler...</h2>
        <p>Innhold her: Hva er det faglige innholdet på JavaZone? Hvor finner jeg program? Når lanseres programmet? Hva er en lyntale? hva er greia med foredrag på både norsk og engelsk?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing orci condimentum, adipiscing est id, pellentesque enim. Nunc gravida porttitor eros sit amet placerat.</p>
        
    </div></div>
</div>


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-right tile-color0"><div class="tile-inner">
        <div class="illustration ill-6"></div>
        <h2 class="first">Workshops er et relativt nytt konsept...</h2>
        <p>Innhold her: Hva er workshops? hvorfor må man melde seg på? hvor mange plasser har vi? Er det inkludert i prisen? Hva hvis jeg ikke får plass. Osv…</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing orci condimentum, adipiscing est id, pellentesque enim. Nunc gravida porttitor eros sit amet placerat.</p>
    </div></div>
</div>


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0"><div class="tile-inner">
        <div class="illustration ill-7"></div>
        <h2 class="first">Work hard, party hard!</h2>
        <p>Innhold her: JavaZone-festen i etterkant av konferansen! Band og øl og morro! Hvor, når, hvordan, billett (inkludert), infoinfoinfo…</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras adipiscing orci condimentum, adipiscing est id, pellentesque enim. Nunc gravida porttitor eros sit amet placerat.</p>
    </div></div>
</div>


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0"><div class="tile-inner">
        <div class="illustration ill-8"></div>
    </div></div>
</div>










<!-- <div class="tiles" id="where">
    <div class="tile tile-med tile-tall"><a href="http://goo.gl/maps/LSn0A" class="tile-inner img-map">
        <div class="img-inner"></div>
        <span class="hidden">Oslo Spektrum, Sonja Henies plass 2, 0185 Oslo, Norway</span>
    </a></div>
    <div class="tile tile-invert tile-small tile-tall tile-tall-text"><div class="tile-inner">
        <h3 class="first">
            Thousands of developers, more than one hundred sessions, workshops and over 40 unique partners in one building.
        </h3>
        <p>More information about JavaZone 2014 will be published soon.</p>
        <ul class="links">
            <li><a href="/participants.html#speakers"><i class="icon icon-chevron-sign-right"></i> Information for speakers</a></li>
            <li><a href="/participants.html#partners"><i class="icon icon-chevron-sign-right"></i> Information for partners</a></li>
            <li><a href="/participants.html#volunteers"><i class="icon icon-chevron-sign-right"></i> Information for volunteers</a></li>
        </ul>
    </div></div>
</div>


<div class="tiles" id="when">
    <div class="tile tile-med tile-txt"><div class="tile-inner">
        <h2 class="first"><i class="icon-globe"></i> Welcome to JavaZone!</h2>
        <p>JavaZone is an important meeting place for software developers in Scandinavia, and is the biggest community driven conference of its kind. JavaZone has been described as a high quality, independent conference – a leading forum for knowledge exchange for IT- professionals. All speakers are selected by the independent Program Committee.</p>
        <p>Over 40 large and mid-sized companies – our partners – exhibit their brand and services/ products during the conference. Without partners, volunteers, the speakers and the participants, the conference would not be possible.</p>

        <p>Topics include: Alternative languages, Architecture, Big Data and NoSQL, Con­tin­u­ous De­liv­ery, Core Java, Crafts­man­ship, En­ter­prise, Ex­pe­ri­ence Re­port, Fron­tend, Functional Programming, Mobile, Re­search and Trends, Se­cu­rity, Star­tups, and much, much more.</p>

        <div class="minis">
            <div class="mini">
                <h3><i class="icon-plane"></i> How do I get to the conference?</h3>
                <p>The conference center is placed in the heart of Oslo, so there are plenty of public transportation options. You can use the <a href="http://reiseplanlegger.ruter.no/en">travel planner</a> for Oslo by choosing "Oslo Spektrum" as your destination.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-calendar"></i> When does the conference start?</h3>
                <p>The conference starts in the morning of Wednesday 11. september. The doors opens 08.00, we'll kick if of with a morning show before starting the sessions at 09.00.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-tag"></i> Where do I buy my ticket?</h3>
                <p>Conference tickets can be bought at <a href="/tickets.html">our webshop</a>. If you work for one of our <a href="/partners.html"></a> partners, they might have a ticket to you, so be sure to check that first.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-credit-card"></i> How much does a ticket cost?</h3>
                <p>Tickets are priced at <a href="/tickets.html">4950,- NOK</a> for members of javaBin, and <a href="/tickets.html">5950,- NOK</a> for non-members. Partners will get special prices for the tickets.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-calendar"></i> Where do I pick up my ticket?</h3>
                <p>Pick it up at the entrance of Oslo Spektrum between 16.00 and 18.00 the day before JavaZone starts. You can also pick it up the same day as the conference, but there might be some small lines.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-headphones"></i> What is JavaZone Overflow?</h3>
                <p>We have a special area where you can watch all the presentations at big screens. It's perfect if the talk you wanted to see is full, or you can't decide between talks. Pick up a headset, and take a seat!</p>
            </div>
            <div class="mini">
                <h3><i class="icon-cog"></i> How can I attend a Workshop?</h3>
                <p>The workshops are held the day before and during the conference. More information can be found at our special <a href="/workshops.html">workshop page</a>. Be aware: there are limited seating at the workshops!</p>
            </div>
            <div class="mini">
                <h3><i class="icon-music"></i> What (and when) is AweZone?</h3>
                <p><a href="/awezone.html">AweZone</a> is our conference after party, and it will be held at Rockefeller the evening after the first day of the conference. Admission is free with your JavaZone ticket.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-food"></i> What about food?</h3>
                <p>JavaZone is well known for it's awesome conference food. We started the tradition of "food always, non-stop", and this year is no different. Food is served continously from 10.00 every day.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-phone"></i> Dude, got apps?</h3>
                <p>Sure bro! We have created apps for <a href="https://play.google.com/store/apps/details?id=no.java.schedule&hl=no">Android</a> and <a href="https://itunes.apple.com/app/javazone/id384888388?mt=8">iPhone</a>. And if apps isn't your cup of tea, the program is on <a href="/program.html">the web pages</a> as well – fully mobile ready!</p>
            </div>
            <div class="mini">
                <h3><i class="icon-reorder"></i> Who will present at JavaZone?</h3>
                <p>Check out <a href="/program.html">this years program</a>. You can also check out the program of <a href="http://javazone.no/incogito10/events/JavaZone%202012/sessions">previous conferences</a>,
                    and <a href="/videos.html">watch previous talks</a> as well.</p>
            </div>
            <div class="mini">
                <h3><i class="icon-question-sign"></i> Where can I find more information?</h3>
                <p>If you're a speaker, partner or volunteer, check out our <a href="/participants.html">page with additional information</a>. If you have any other questions, please contact us at <a href="mailto:javazone@java.no">javazone@java.no</a>.</p>
            </div>
        </div>

    </div></div>
    <div class="tile tile-small tile-txt tile-dates tile-last"><div class="tile-inner">
        <h2 class="first"><i class="icon-calendar"></i> Schedule 2013</h2>
        <h4>Tuesday 10th September</h4>
        <ul class="dates">
            <li><strong>09:00</strong>: Workshops (separate registration)</li>
            <li><strong>13:30</strong>: Workshops – part 2</li>
            <li><strong>16.00-18.00</strong> Pre-registration, Oslo Spektrum</li>
        </ul>
        <h4>Wednesday 11th September</h4>
        <ul class="dates">
            <li><strong>08:00</strong>: The doors to Oslo Spektrum open</li>
            <li><strong>08:30</strong>: Morning show</li>
            <li><strong>09:00</strong>: First day of sessions</li>
            <li><strong>10:00</strong>: Food serving starts</li>
            <li><strong>19:20</strong>: First day of sessions end</li>
            <li><strong>19:30</strong>: AweZone 2013 at Rockefeller</li>
        </ul>
        <h4>Thursday 12th September</h4>
        <ul class="dates">
            <li><strong>08:00</strong>: The doors to Oslo Spektrum open</li>
            <li><strong>09:00</strong>: Second day of sessions</li>
            <li><strong>10:00</strong>: Food serving starts</li>
            <li><strong>18:00</strong>: Second day of sessions end</li>
        </ul>
        <p><a href="participants.html#speakers"><i class="icon icon-chevron-sign-right"></i> Schedule for speakers &amp; partners</a></p>
    </div></div>

    <div class="tile tile-small tile-tall tile-tall-text tile-javabin" id="contact"><div class="tile-inner">
        <h2 class="first"><i class="icon-heart"></i> Who creates JavaZone?</h2>
        <p>JavaZone is created by <a href="http://www.java.no">javaBin</a>, a non-profit and independent organisation. We are 200 people around Norway, who arranges meetups, hackathons, and of course: JavaZone!</p>
        <p>Want to help? Come visit us at our stand in the middle of the Expo Area, or meet up with us on our <a href="http://www.meetup.com/javaBin/events/137173572/">Speed Date 24th of September at Teknologihuset</a>.</p>
    </div></div>

    <%= partial("_partials/contact.html") %>
</div>
<div class="clear"></div>



<ul class="tiles">
    <li class="tile tile-small tile-low"><a href="/workshops.html" class="tile-inner img-workshop">
        <div class="img-inner"></div>
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Workshops at JavaZone
        </span>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/awezone.html" class="tile-inner img-awezone">
        <div class="img-inner"></div>
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Party at AweZone
        </span>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/journeyzone.html" class="tile-inner img-flam">
        <div class="img-inner"></div>
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Travel to JourneyZone
        </span>
    </a></li>
</ul>
<div class="clear"></div> -->

<%= partial("_partials/footer.html") %>
