<div class="container">
	<div class="interviews">
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/bendik.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Bendik Solheim</h1>
					<span class="twitter">
						<a href="http://twitter.com/javabin" target="_blank"><%= partial('assets/svg/twitter.svg') %></a>
					</span>
					<h2>Utvikler i BEKK & code monkey i JavaBin</h2>
				</div>
				<div class="interview-text">
					<p>
						Elve alver reparerte en blå metallic ringperm på ti dager. Tre kroner måtte en gorilla betale. Det ble stille og kaninen viste hvordan den kule kaninen fungerte. En kjempearaber barberte lydmodulen til egypterene. Pyromanen var grei og uheldig. Den hurtige sofaen traff stiftene med en kriger som snakket over en sort oljekanne.
					</p>
					<p>
						Flere sabeltanntigerer tastet da mauren som mistet skiskytteren stakk en elefant over dieseltanken. Plutselig så de 6 astronauter som kom bak fisken. De så en venn som rodde vinglete langt foran en fisk. Alpinisten tatoverte en parykk. Flere orker luktet da ei venninne som barberte en viking mobbet en bjørn bak mikrofonen. 
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/bendik.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Bendik Solheim</h1>
					<span class="twitter">
						<a href="http://twitter.com/javabin" target="_blank"><%= partial('assets/svg/twitter.svg') %></a>
					</span>
					<h2>Utvikler i BEKK & code monkey i JavaBin</h2>
				</div>
				<div class="interview-text">
					<p>
						Elve alver reparerte en blå metallic ringperm på ti dager. Tre kroner måtte en gorilla betale. Det ble stille og kaninen viste hvordan den kule kaninen fungerte. En kjempearaber barberte lydmodulen til egypterene. Pyromanen var grei og uheldig. Den hurtige sofaen traff stiftene med en kriger som snakket over en sort oljekanne.
					</p>
					<p>
						Flere sabeltanntigerer tastet da mauren som mistet skiskytteren stakk en elefant over dieseltanken. Plutselig så de 6 astronauter som kom bak fisken. De så en venn som rodde vinglete langt foran en fisk. Alpinisten tatoverte en parykk. Flere orker luktet da ei venninne som barberte en viking mobbet en bjørn bak mikrofonen. 
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/bendik.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Bendik Solheim</h1>
					<span class="twitter">
						<a href="http://twitter.com/javabin" target="_blank"><%= partial('assets/svg/twitter.svg') %></a>
					</span>
					<h2>Utvikler i BEKK & code monkey i JavaBin</h2>
				</div>
				<div class="interview-text">
					<p>
						Elve alver reparerte en blå metallic ringperm på ti dager. Tre kroner måtte en gorilla betale. Det ble stille og kaninen viste hvordan den kule kaninen fungerte. En kjempearaber barberte lydmodulen til egypterene. Pyromanen var grei og uheldig. Den hurtige sofaen traff stiftene med en kriger som snakket over en sort oljekanne.
					</p>
					<p>
						Flere sabeltanntigerer tastet da mauren som mistet skiskytteren stakk en elefant over dieseltanken. Plutselig så de 6 astronauter som kom bak fisken. De så en venn som rodde vinglete langt foran en fisk. Alpinisten tatoverte en parykk. Flere orker luktet da ei venninne som barberte en viking mobbet en bjørn bak mikrofonen. 
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/bendik.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Bendik Solheim</h1>
					<span class="twitter">
						<a href="http://twitter.com/javabin" target="_blank"><%= partial('assets/svg/twitter.svg') %></a>
					</span>
					<h2>Utvikler i BEKK & code monkey i JavaBin</h2>
				</div>
				<div class="interview-text">
					<p>
						Elve alver reparerte en blå metallic ringperm på ti dager. Tre kroner måtte en gorilla betale. Det ble stille og kaninen viste hvordan den kule kaninen fungerte. En kjempearaber barberte lydmodulen til egypterene. Pyromanen var grei og uheldig. Den hurtige sofaen traff stiftene med en kriger som snakket over en sort oljekanne.
					</p>
					<p>
						Flere sabeltanntigerer tastet da mauren som mistet skiskytteren stakk en elefant over dieseltanken. Plutselig så de 6 astronauter som kom bak fisken. De så en venn som rodde vinglete langt foran en fisk. Alpinisten tatoverte en parykk. Flere orker luktet da ei venninne som barberte en viking mobbet en bjørn bak mikrofonen. 
					</p>
				</div>
			</div>
		</div>
	</div>
</div>