<%= partial("_partials/menu.html") %>

<div class="tile tile-video tile-med"><div class="tile-inner">
  <iframe src="http://player.vimeo.com/video/50468163?byline=1&amp;portrait=0&amp;color=FFFFFF" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<div class="tile tile-invert tile-small tile-tall tile-tall-text"><div class="tile-inner">
  <h3 class="first">Experience Norwegian nature at JourneyZone,
        an adventure for the speakers at JavaZone, September 13th-15th.</h3>
    <p>We are arranging JourneyZone on the first weekend after JavaZone. This is our fourth annual journey with our speakers into Norwegian nature.</p>
    <p>Questions? More info is coming, but feel free to ask: <a href="mailto:program@​java.​no">program@​java.​no</a></p>
</div></div>

<div class="tile tile-txt tile-med"><div class="tile-inner">

  <h2 class="first"><i class="icon-globe"></i> Great sights with great people</h2>
  <p>We would like to exclusively invite speakers to explore the Norwegian nature, enjoy the very best of Norwegian food and have a great time together.</p>

  <p>To ensure safety and exclusivity, this journey is limited to 30 participants on a first come, first served basis. JavaZone will subsidize the journey with qualified guides to ensure the best possible experience. Your personal expenses will be around NOK 1500. More information about the trips destination, departure and arrival times to Oslo will be provided.</p>

  <p>
  To see what this is all about, take a look at the pic­tures from <a href="http://www.flickr.com/photos/philwills/sets/72157631638077768/with/8030820679/">last years JourneyZone</a>. JourneyZone has been a tradition for many years, here are some pictures from <a rel="nofollow" class="external-link" href="http://picasaweb.google.com/andreas.roe/201009JourneyZone?authkey=Gv1sRgCMHcycO1io6h1QE&amp;feat=directlink">Jour­ney­Zone 2010</a>.
  Some ad­di­tional pic­tures can be found in
  <a rel="nofollow" class="external-link" href="http://www.idg.no/computerworld/article220078.ece">Com­put­er­world</a>
  (nor­we­gian).
  </p>

  <h2><i class="icon-heart"></i> How to register</h2>

  <p>
  JourneyZone is a trip exclusively for speakers of full presentations. We will send out information to the speakers on how to register
  for the trip after the program is finished. The 30 slots on the trip is filled on a first come first served basis.
  If you have any ques­tions, get in touch with us at <a href="mailto:program@​java.​no">program@​java.​no</a>.
  </p>

  <p class="credits">Photos by
  <a href="http://timberglund.com/">Tim Berglund</a> and
  <a href="https://plus.google.com/photos/112516676359706650510/albums/5516130661117458145?banner=pwa">Andreas Røe</a>.
  </p>

</div></div>

<div class="tile tile-small tile-low"><div class="tile-inner img-flam">
</div></div>

<div class="tile tile-small tile-facts"><div class="tile-inner">
  <ul>
    <li><strong><i class="icon-home"></i> Accomodation</strong>
      Trans­port, food, guides and ac­com­mo­da­tion are arranged and pro­vided.</li>
    <li><strong><i class="icon-picture"></i> Hiking</strong>
      The Journey will probably require some hiking skills.</li>
    <li>
      <strong><i class="icon-shopping-cart"></i> Cost</strong>
      Your per­sonal ex­penses are es­ti­mated to NOK&nbsp;1500.</li>
  </ul>
</div></div>

<%= partial("_partials/footer.html") %>
