<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<a class="tile tile-big tile-tall"><div class="tile-inner img-journeyzone10">
    <span class="extra extra-right extra-top">
      Each year 30 speakers take off after the conference to travel<br> together on a <strong>magical journey into the Norwegian wilderness</strong>
    </span>
</div></a>


<a class="tile tile-big tile-tall"><div class="tile-inner img-journeyzone9">
    <span class="extra">
      Last year the JourneyZone trip went to Lyngen, <br><strong>a beautiful place far far north in Norway</strong>
    </span>
</div></a>

<a class="tile tile-big tile-tallerx"><div class="tile-inner img-journeyzone1">
    <span class="extra extra-top">
      There, we were welcomed to the wild Norwegian nature by the <br><strong>friendly people at the MIT Lab</strong>, a hideout far far away from civilization
    </span>
</div></a>

<a class="tile tile-big tile-supertall"><div class="tile-inner img-journeyzone5">
    <span class="extra extra-right extra-top">
      We spent the days doing crazy stuff like ziplining…
    </span>
</div></a>

<a class="tile tile-big tile-tallerxxx"><div class="tile-inner img-journeyzone2">
    <span class="extra extra-right extra-top">
      …with great food as a reward for the brave zippers!
    </span>
</div></a>

<a class="tile tile-big tile-tallerxx"><div class="tile-inner img-journeyzone3">
    <span class="extra extra-top">
      …and lots of tasty suprises
    </span>
</div></a>

<a class="tile tile-big tile-taller"><div class="tile-inner img-journeyzone6">
    <span class="extra extra-right extra-top">
      In the evening, we lit up even more bonfires<br> <strong>while we watched the northern lights…</strong>
    </span>

    <span class="extra">
	The video below is a combination of 15 minutes of still photos from the first night,<br> created by the great speaker (and photographer!) <strong>Tim Berglund</strong>
    </span>
</div></a>

<div class="tile tile-video tile-big tile-taller"><div class="tile-inner">
    <iframe src="https://www.youtube-nocookie.com/embed/bgTxdaBh_VA?rel=0&hd=1&vq=hd720&showinfo=0" frameborder="0" allowfullscreen></iframe>
</div></div>

<a class="tile tile-big tile-tallerx"><div class="tile-inner img-journeyzone7">
    <span class="extra extra-right">
      Some spent the night hacking away at all <br><strong>the new stuff they learned at JavaZone…</strong>
    </span>
</div></a>

<a class="tile tile-big tile-taller"><div class="tile-inner img-journeyzone13">
    <span class="extra extra-right extra-top">
      …or burning holes in stuff with the <strong>crazy laser-burner-machine</strong>
    </span>
</div></a>

<a class="tile tile-big tile-tallerx"><div class="tile-inner img-journeyzone12">
    <span class="extra extra-top">
      The next day, we set foot into the mountains <br>to once again conquer <strong>famous Norwegian wilderness…</strong>
    </span>
</div></a>

<a class="tile tile-big tile-taller"><div class="tile-inner img-journeyzone11">
    <span class="extra extra-top">
      <strong>The great glazier in Lyngsalpene. </strong><br>It really is that dirty. But you should've seen the top!
    </span>
</div></a>

<a class="tile tile-big tile-tall"><div class="tile-inner img-journeyzone14">
    <span class="extra extra-right extra-top">
      We even got to take the cable car up to <strong>Storsteinen in Tromsø</strong>, <br>expecting to see the whole beauty of Norway before us…
    </span>
</div></a>

<a class="tile tile-big tile-tallerxx"><div class="tile-inner img-journeyzone16">
    <span class="extra extra-right extra-top">
      …only to be met by the most <strong>magical sight of cotton skies</strong>, <br>feeling like we were on top of the world.
    </span>
</div></a>

<a class="tile tile-big tile-tallerx"><div class="tile-inner img-journeyzone15">
    <span class="extra extra-right extra-top">
      <strong>The weekend after JavaZone 2014, we will repeat this tradition!</strong> <br>We can promise one thing: it will be at least as magical as last year!
    </span>
</div></a>

<a class="tile tile-big tile-tall"><div class="tile-inner img-journeyzone8">
    <span class="extra extra-right">
      Will you be there for <strong>JourneyZone 2014?</strong> <br>Be a part of this magical journey!
    </span>
</div></a>

<a href="/journeyzone.html" class="tile tile-txt tile-link tile-hover tile-color1 tile-white-color tile-scale-hover animated fadeInLeft"><div class="tile-inner">
    <p>Journeyzone 2014</p>
</div></a>

<a href="https://docs.google.com/forms/d/1929DeUeY8ZNHdvslbzXLBhXhgq6v9T08zx2dmB6zMc8/viewform?usp=send_form" class="tile tile-txt tile-link tile-hover tile-color3 tile-white-color tile-scale-hover animated fadeInUp"><div class="tile-inner">
    <p>Registration form</p>
</div></a>




<%= partial("_partials/footer.html") %>