<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>







<a href="https://docs.google.com/forms/d/1929DeUeY8ZNHdvslbzXLBhXhgq6v9T08zx2dmB6zMc8/viewform?usp=send_form" class="tile tile-big tile-tall animated fadeInDown"><div class="tile-inner img-journeyzonebaat1">
    <span class="extra">
	<strong>JourneyZone 2014: Join us for an adventure at sea!</strong> <br> We'll go on a 3 day sailing trip the weekend after JavaZone. <br>Follow the trip live at the map below! :)
    </span>
</div></a>


<script type="text/javascript">
// Map Size
var width='1233';  // width of the embedded map in pixels (min. 600 px) or percentage (default=600px)
var height='600'; // height of the embedded map in pixels (min. 400 px) (default=400px)

var zoom='2';        // map zoom level (between 2 and 17)
// Ship selection
// IMPORTANT: USE ONLY ONE OF THE FOLLOWING OPTIONS
// Option 1 – by MMSI
var mmsi='257165000';      // center map over selected vessel specified by MMSI
var show_track=true;       // show track of the selected ship
// Auxiliary parameters
var names=true; // always display ship names (default is false)
var click_to_activate=true; // user has to click on the map before zooming with mouse wheel
var store_position=false; // store the last position of the map (default is false, does not work when ship selection is used
var map_style=[ // use this tool for custom map styling 
{"featureType": "landscape.natural.landcover", "stylers": [{ "hue": "#ffaa00" }]},
{"featureType": "water", "stylers": [{ "hue": "#00a1ff" },{ "saturation": 91 },{ "lightness": -18 }]}];
</script>
<script type="text/javascript" src="http://www.vesselfinder.com/aismap.js"></script>

<div class="spacex"></div>

<div class="tile tile-txt tile-med animated fadeInUp"><div class="tile-inner">

  <h2 class="first"><i class="fa fa-life-ring"></i> Calling all speakers of JavaZone! Ship ahoy!</h2>

  <p class="ingress">For the fifth time, JavaZone is inviting all of our speakers on an adventure out in the norwegian wilderness the weekend after the conference. This year, we'll be on a boat!</p>

  <p>If you have held a talk, lightning talk or workshop at JavaZone 2014 – you are invited. You will be joined by many of the organizers of JavaZone. The boat is limited to about 50 people, so the attendance is limited to the first registrants. <a href="https://docs.google.com/forms/d/1929DeUeY8ZNHdvslbzXLBhXhgq6v9T08zx2dmB6zMc8/viewform?usp=send_form">Register early</a> to make sure you get a spot!</p>

  <h2><i class="fa fa-slack"></i> Practical information</h2>

  <p>We'll provide you with a lot of the details in the weeks before the trip. But for now, here is some information you should know.</p>

  <ul class="fa-ul">
    <li><i class="fa-li fa fa-angle-right"></i> We leave Oslo Thursday September 11th, at appr. 16.00.</li>
    <li><i class="fa-li fa fa-angle-right"></i> We take a bus to the south of Norway, and will board the boat there.</li>
    <li><i class="fa-li fa fa-angle-right"></i> You will be divided into groups, and each group will take turn sailing the boat.</li>
    <li><i class="fa-li fa fa-angle-right"></i> JavaZone pays for most of the trip, your personal expenses is limited to NOK 1.500,–</li>
    <li><i class="fa-li fa fa-angle-right"></i> You'll be back in Oslo Sunday September 14th, at about 19.00.</li>
  </ul>

    <p>To attend the expedition, please register using <a href="https://docs.google.com/forms/d/1929DeUeY8ZNHdvslbzXLBhXhgq6v9T08zx2dmB6zMc8/viewform?usp=send_form">this registration form</a>.</p>

    <div class="space-elegant"></div>

    <p class="goodbye">We hope to see you at JourneyZone 2014. It's a big blue watery road! Poseidon, look at me, oh, all hands on deck!</p>

    <p class="goodbye goodbye-small">Best Regards,<br>The JavaZone Program Committee</p>

</div></div>

<a href="https://docs.google.com/forms/d/1929DeUeY8ZNHdvslbzXLBhXhgq6v9T08zx2dmB6zMc8/viewform?usp=send_form" class="tile tile-txt tile-small tile-link tile-hover tile-color6 tile-scale-hover animated bounceInRight"><div class="tile-inner">

    <p>Register to join in</p>

</div></a>

<a href="https://docs.google.com/forms/d/1929DeUeY8ZNHdvslbzXLBhXhgq6v9T08zx2dmB6zMc8/viewform?usp=send_form" class="tile tile-small tile-low animated fadeInUp"><div class="tile-inner img-journeyzonebaat2">
</div></a>

<div class="tile tile-small tile-facts"><div class="tile-inner">
  <ul>
    <li><strong><i class="fa fa-car"></i> Transport, food, …</strong>
      Trans­port, food, guides and ac­com­mo­da­tion are arranged and pro­vided.</li>
    <li><strong><i class="fa fa-life-ring"></i> Sailing skills …</strong>
      The Journey don't require previous sailing skills, but you have to be willing to participate and learn.</li>
    <li>
      <strong><i class="fa fa-money"></i> Personal expenses …</strong>
      Your per­sonal ex­penses are limited to NOK&nbsp;1.500,–</li>
  </ul>
</div></div>

<a href="/journeyzone-old.html" class="tile tile-txt tile-small tile-link tile-hover tile-color1 tile-scale-hover"><div class="tile-inner">

    <p>Pictures from 2013</p>

</div></a>

<a href="http://vimeo.com/50468163" class="tile tile-txt tile-small tile-link tile-hover tile-color4 tile-scale-hover"><div class="tile-inner">

    <p>Video from 2012</p>

</div></a>

<%= partial("_partials/footer.html") %>
