<% set('page', 'memories-page') %>

<div class="jumbotron illustration-ears">
    <%= partial('assets/svg/illustrations/ears.svg') %>
</div>

<div class="jumbotron container">
	<h1>Memories from JavaZone 2015</h1>
	<h2>We had a great time at the conference, thanks to all our speakers, partners, volunteers and participants for making this the most amazing and memorable conference ever!</h2>
	<h2>See you again in 2015!</h2>
</div>

<div class="splitter"></div>

<div class="memories">
	<h1>Chili Claus</h1>
	<h2>The famous danish chili king served his explosive fruits, and dared all our participants to have a taste.</h2>
	<img src="/assets/img/memories/chilislides1-min.jpg">
	<img src="/assets/img/memories/chilislides2-min.jpg">
	<img src="/assets/img/memories/chilislides3-min.jpg">
	<img src="/assets/img/memories/chilislides4-min.jpg">
	<img src="/assets/img/memories/chilislides5-min.jpg">
	<img src="/assets/img/memories/chilislides6-min.jpg">
	<img src="/assets/img/memories/chilislides7-min.jpg">
	<img src="/assets/img/memories/chilislides8-min.jpg">
</div>

<div class="memories">
	<h1>Sondre Justad</h1>
	<h2>AweZone kicked off with one of this years biggest new Norwegian artists. He was the perfect guy to get the party started!</h2>
	<img src="/assets/img/memories/sondreslides1-min.jpg">
	<img src="/assets/img/memories/sondreslides2-min.jpg">
	<img src="/assets/img/memories/sondreslides3-min.jpg">
</div>

<div class="memories">
	<h1>Datarock</h1>
	<h2>No IT-conference without a geeky band: these guys are in our opinion this century's coolest computer rock band! Stagediving, crowdsurfing, red overalls – this concert had it all!</h2>
	<img src="/assets/img/memories/datarockslides1-min.jpg">
	<img src="/assets/img/memories/datarockslides2-min.jpg">
	<img src="/assets/img/memories/datarockslides3-min.jpg">
	<img src="/assets/img/memories/datarockslides4-min.jpg">
</div>

<div class="memories">
	<h1>Kvelertak</h1>
	<h2>When in Norway, you do as the Norwegians. Listening to heavy metal, that is! Our late-night concert blew the roof of Oslo Spektrum, and was the perfect finale of day 1! (much smarter than starting the day with heavy metal as we did last year :P)</h2>
	<img src="/assets/img/memories/kvelertakslides1-min.jpg">
	<img src="/assets/img/memories/kvelertakslides2-min.jpg">
	<img src="/assets/img/memories/kvelertakslides3-min.jpg">
	<img src="/assets/img/memories/kvelertakslides4-min.jpg">
</div>


<div class="jumbotron container thank-you">
	<p class="spread-the-word">Thanks for helping us make JavaZone 2015 happen. See you at JavaZone 2016!</p>
	<p class="regards">Best regards,<br/>javaBin, the organizer of JavaZone.</p>
</div>