<% set('page', 'speakers-page') %>

<div class="jumbotron">
	<%= partial('assets/svg/illustrations/technical_level.svg') %>
</div>

<div>
	<div class="section container cf">
		<div class="sub-section cf">
			<div class="section-header">
				<h1>JavaZone Monetary Policy</h1>
			</div>
			<div class="section-content">
				<p>The organizer of JavaZone is <a href="http://www.java.no">javaBin</a> (the Norwegian Java User Group), an independent, non-profit organization. Its objective is to promote java expertise among its members, their companies and in the market. javaBin is based in Oslo, with local groups in Sørlandet, Stavanger, Vestfold, Bergen and Trondheim. JavaZone is based on voluntary work. We believe that this gives our conference the unique experience it has.</p>

				<p>JavaZone does not offer any classical sponsorships although we do have a partner program. However, the work of the Program Committee to create the best possible agenda is completely independent. No one (including partners) can influence the outcome of the agenda for the conference. As a result of our independence, we have very limited resources when it comes to covering costs for our speakers. In the case of the conference ending in positive figures, we assure you that the money will be pushed back to the Java community.</p>

				<p>For this reason, we have a general policy of not reimbursing speakers. Most speakers are backed by a company which in most cases will cover costs for travel and accommodation. However, there are some cases where we may cover travel and accommodation costs, or parts of these for some speakers. We wish to be 100% open around our monetary policy. Also we want to be sure that all speakers receive the same information.</p>
			</div>
		</div>

		<div class="sub-section cf">
			<div class="section-header">
				<h1>Often asked questions</h1>
			</div>
			<div class="section-content">
				<p><strong>Refundable items:</strong> Speakers can apply for refunds on the hotel you live in during the conference, and for travel costs. Please note that under no circumstances do we pay anyone to speak.</p>
				<p><strong>Approval for refunds:</strong> All costs must be approved by e-mail from javazone@java.no. We prefer that you find reasonably priced airlines and hotels.</p>
				<p><strong> No up-front refunds:</strong> Refunds are made after the conference, given the approval. Unfortunately, we do not have the capacity to provide a refund up-front.</p>
				<p><strong> Time to refund:</strong> Our goal is that all refunds are completed within two weeks after the conference, given that we have received the proper details. If you have any further questions, please don't hesitate to contact us on javazone@java.no.</p>
			</div>
		</div>

		<div class="sub-section cf">
			<div class="section-header">
				<h1>How we handle reimbursements</h1>
			</div>
			<div class="section-content">
				<p>Before the conference, you have to apply for reimbursements:</p>
				<ul>
					<li>Copy the <a href="javazone-refunds.txt">refund application</a></li>
					<li>Fill in the details</li>
					<li>Send in your application by email, to javazone@java.no</li>
				</ul>
				
				<p>After the conference, send an invoice to javazone@java.no including the following bank information:</p>
				<ul>
					<li>The name of your bank</li>
					<li>Your IBAN account number</li>
					<li>The BIC/Swift code</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron container thank-you">
	<p class="spread-the-word">We hope you agree with the spirit of our monetary policy, and hope to see you as a speaker at JavaZone 2015!</p>
	<p class="regards">Best regards,<br/>the JavaZone Organizers</p>
</div>