<%= partial("_partials/menu.html") %>

<div class="tile tile-big"><div class="tile-inner img-intro">
    <span class="extra">
        <strong>Information about our Monetary Policy.</strong><br>
        In the spirit of 100% openness.
    </span>
</div></div>

<div class="content">

<div class="tile tile-txt tile-med"><div class="tile-inner">

    <h2 class="first"><i class="icon-globe"></i> The policy</h2>

    <p>The organiser of JavaZone is javaBin (the Norwegian Java User Group), an independent, non-profit organization. Its objective is to promote java expertise among its members, their companies and in the market. javaBin is based in Oslo, with local groups in Sørlandet, Stavanger, Bergen and Trondheim. The organisation of JavaZone is based on voluntary work. We believe that this makes our conference unique.</p>

    <p>JavaZone does not offer any classical sponsorships although we do have a partner program. However, the work which is done by the Program Committee in order to create the best possible agenda is completely independent. No one (including partners) can influence the outcome of the agenda for the conference. As a result of our independence, we have very limited resources when it comes to covering costs for our speakers. In the case of the conference ending in positive figures, we assure you that the money will be pushed back to the Java community.</p>

    <p>For this reason, we have a general policy of not reimbursing speakers. Most speakers are backed by a company which in most cases will cover costs for traveling and accommodation. However, there are some cases where we may cover traveling and accommodation costs, or parts of these for some speakers. We wish to be 100% open around our monetary policy. Also we want to be sure that all speakers receive the same information.</p>

    <h2><i class="icon-credit-card"></i> How to apply</h2>

    <p>
      Before the conference, you have to apply for reimbursements:
      (1) Copy the <a href="javazone-refunds.txt">refund application</a>;
      (2) Fill in the details;
      (3) Send in your application by email, to <a href="mailto:javazone@java.no">javazone@java.no</a>.
    </p>

    <p>
      After the conference, send an invoice to <a href="mailto:javazone@java.no">javazone@java.no</a>
      including the following bank information:
      (1) The name of your bank;
      (2) Your IBAN account number;
      (3) The BIC/Swift code.
    </p>

</div></div>

<div class="tile tile-small tile-facts"><div class="tile-inner">
  <ul>
  <li><strong><i class="icon-ok-sign"></i> Refundable items</strong>
    Speakers can apply for refunds on the hotel you live in during the conference, and for traveling costs. Please note that under no circumstances do we pay anyone to speak.</li>
  <li><strong><i class="icon-ok-sign"></i> Approval for refunds</strong>
    All costs must be approved by e-mail from <a href="mailto:javazone@java.no">javazone@java.no</a>. We prefer that you find reasonably priced airlines and hotels.</li>
  <li><strong><i class="icon-ok-sign"></i> No up-front refunds</strong>
    Refunds are made after the conference, given the approval. Unfortunately, we do not have the capacity to provide a refund up-front.</li>
  <li><strong><i class="icon-ok-sign"></i> Time to refund</strong>
    Our goal is that all refunds are completed within two weeks after the conference, given that we have received the proper details. If you have any further questions, please don't hesitate to contact us on <a href="mailto:javazone@java.no">javazone@java.no</a>.</li>
  </ul>
</div></div>


<%= partial("_partials/footer.html") %>
