<% set('page', 'partners') %>

<div class="partners">
	<div class="partner-list">		
	</div>
	<div class="contact">
		<a class="button" href="mailto:<%= settings.partner_mail %>">Contact us at <%= settings.partner_mail %></a>
	</div>
	<div class="section cf">
		<h1>What is JavaZone?</h1>
		<div class="section-content">
			<p>JavaZone is a conference organized by and for a great community of developers. The conference has been held in Oslo for 13 consecutive years.</p>

			<p>Last year, we had around 2,500 attendees at the conference, including speakers, volunteers and around 100 representatives from our partners. At JavaZone 2015, we estimate that there will be around the same number of participants.</p>

			<p>We would not be able to arrange a conference of this size and quality without the involvement and support of every one of our partners. Each year, between 40 and 50 partners contributes to make JavaZone a great success.</p>
		</div>
	</div>
	<div class="section cf">
		<h1>What does a partnership involve?</h1>
		<div class="section-content">
			<p>All companies are given the same option to become a partner; there is no bronze, silver or gold partnerships – everyone are treated as equals. There are however options to increase the size of the stand or buy in on one of our restaurant or concept stands. We strive to make the expo area a thriving and dynamic location for participants and partners.</p>

			<p>The expo area at JavaZone is placed in the center of the conference hall, making this the perfect area to meet all the participants. To make a dynamic and vibrant place, we have found that shorter breaks between sessions, and the concept of serving food continuously throughout the conference from partner stands located in this same area, is key. This means that partners with stands in the expo area are given the opportunity of quite a lot of visitors throughout the day. At the same time, this makes the expo area a perfect place to hang out for the conference guests.</p>

			<p>You can find more information and prices in the slides from our first partner meeting. They are availiable in both norwegian and english. Please <a href="<%= settings.partner_mail %>">get in touch</a> to discuss with us if you need any more information.</p>
		</div>
	</div>
	<!-- <div class="section cf">
		<h1>Partner packages</h1>
		<div class="section-content">
			<p>As a partner you will get a number of opportunities in the expo area. <a href="mailto:<%= settings.partner_mail %>">Contact us</a> if you have any special wishes.</p>
			<div class="sub-section package">
				<h2>Basic partner package</h2>
			</div>
			<div class="sub-section package">
				<h2>Available options</h2>
			</div>
		</div>
	</div> -->
	<div class="section package cf">
		<h2>Basic partner packages</h2>
		<ul class="section-content">
			<li>6 square meters of stand space</li>
			<li>Four flexible, nameless expo-tickets for the stand crew</li>
			<li>Branding on javazone.no, the venue, in ads and other promotional stuff</li>
			<li>Discounted participant tickets</li>
		</ul>
	</div>
	<div class="section package cf">
		<h2>Available options</h2>
		<ul class="section-content">
			<li><span class="package-title">Double stand space</span> – Would you like some more stand space? This gives you 12 square meters instead of 6.</li>
			<li><span class="package-title">Restaurant stand</span> – We have room for a total of eight restaurand stands in the expo area. The theme and menu is decided by you. The food is prepared by the famous norwegian chefs from <a href="http://www.fccircus.com" target="_blank">The Flying Culinary Circus</a></li>
			<li><span class="package-title">Theme/Concept stands</span> – We also have room for two extra large stands, where there is room for some extra creativity. Give your visitors a unique experience, and be remembered as one of the top stands of JavaZone 2015.</li>
		</ul>
	</div>
</div>