<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<div class="tiles">

	<div id="speakers" class="tile tile-med tile-txt"><div class="tile-inner">
		<h2 class="first"><i class="icon-bullhorn"></i> Information for speakers</h2>
		<p>JavaZone is nothing without all our wonderful speakers who are holding full tracks, lightning talks or workshops. To help you help us make this years conference the best for both you and all the other guests, we have collected a bunch of information here. If there is anything else, please don't hesitate to contact us.</p>

		<p>The or­gan­iser of Java­Zone is jav­aBin (the Nor­we­gian Java User Group), an in­de­pen­dent, non-profit or­ga­ni­za­tion. The con­fer­ence has part­ners but no spon­sors. The agenda is de­fined by the Pro­gram Com­mit­tee with­out ex­ter­nal in­ter­fer­ence. This in­de­pen­dence is part of what makes Java­Zone so unique. We there­fore have a lim­ited bud­get for re­im­burs­ing con­fer­ence speak­ers. Please see our <a href="/monetarypolicy.html">mon­e­tary pol­icy</a> for more in­for­ma­tion.</p>

		<p>To get a feel for what content we have featured on previous conferencec, you can look at <a href="/toptalks.html">the top talks of JavaZone 2013</a>.</p>

		<p>Speak­ers with ac­cepted <strong>pre­sen­ta­tions</strong> will get free ad­mis­sion to the con­fer­ence.
		  They will also be in­vited to the speak­ers din­ner and can join us on <a href="journeyzone.html">Jour­ney­Zone</a>, an epic journey in the Norwegian wilderness. Speak­ers with ac­cepted <strong>light­ning talks</strong> will be in­vited to the speak­ers din­ner but will have to pay for their own ad­mis­sion to Java­Zone.</p>

		<div class="minis">
			<div class="mini">
				<h3><i class="icon-magic"></i> Where can I edit my presentation?</h3>
				<p>To edit your talk, use the link provided in the email message we sent you when you submitted your talk. If you have lost that mail, send us a quick note at <a href="mailto:program@java.no">program@java.no</a>, and we'll send you a new link.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-tag"></i> Do I have to buy a ticket?</h3>
				<p>Speakers who are holding full-length talks or workshops will get free admission to JavaZone. Lightning talk speakers will have to pay for their own ticket.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-cog"></i> What tools do I have at the stage?</h3>
				<p>All the conference rooms will have projectors with VGA-cables (widescreen, 1920x1080). There are two microphones. We also provide you with water to calm your brain. Ask us if you have other requirements.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-laptop"></i> Presenting from your own laptop?</h3>
				<p>That's okay for us! Just make sure to come to the room 15-20 minutes before your talk starts to make sure the technology is working for you. lightning talk speakers: you have to switch fast!</p>
			</div>
			<div class="mini">
				<h3><i class="icon-microphone"></i> WiFi? Power? Audio?</h3>
				<p>Of course! It's 2014 after all! No-password-asked WiFi (that actually work!), Minijack-cable, plenty of power outlets. We'll also have Ethernet-cables on stage if you need that for some reason.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-fire-extinguisher"></i> What if everything goes south?</h3>
				<p>We have a couple of nice helpers at each room that will make sure the tech is working. But to sleep well, you should bring an extra copy of your slides in case your laptop goes bananas.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-camera-retro"></i> Will you record my talk?</h3>
				<p>Most definitely! We record all talks, both regular talks and lightning talks (not workshops). This will be provided free for everyone, even those without a ticket, at <a href="http://video.javazone.no/">video.javazone.no</a> a few days after the conference.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-question-sign"></i> Should I take questions?</h3>
				<p>You should reserve some time for questions at the end of your talk. Remember to repeat a summary of the question before answering, for the benefit of both the live audience and for the taped video.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-star"></i> Will I get feedback?</h3>
				<p>After the conference we'll ask all participants to rate the talks they attended, and provide written feedback. This will go directly to you afterwards. You'll most certainly get other feedback as well :)</p>
			</div>
			<div class="mini">
				<h3><i class="icon-leaf"></i> How do I attend JourneyZone?</h3>
				<p>Our annual journey into the norwegian wilderness, <a href="/journeyzone.html"></a> is reserved for speakers of full length presentations. More info about how to attend will be given by email.</p>
			</div>
		</div>

	</div></div>

	<div class="tile tile-small tile-txt tile-dates"><div class="tile-inner">
		<h2 class="first"><i class="icon-calendar"></i> Special happenings 2014</h2>
		<p>The following is a list of happenings that partners, speakers and volunteers of JavaZone should be aware of.</p>
		<h4>Tuesday 9th September</h4>
		<ul class="dates">
		    <li><strong>19:00</strong>: Speakers dinner</li>
		</ul>
		<h4>Wednesday 10th September</h4>
		<ul class="dates">
		    <li><strong>08:00</strong>: Doors open</li>
		    <li><strong>09:00</strong>: Sessions start</li>
		    <li><strong>19:20</strong>: Sessions ends</li>
		    <li><strong>19:30</strong>: Oslo Spektrum closes</li>
		    <li><strong>19:30</strong>: AweZone 2014 at Rockefeller start</li>
		</ul>
		<h4>Thursday 11th September</h4>
		<ul class="dates">
		    <li><strong>08:00</strong>: Doors open</li>
		    <li><strong>09:00</strong>: Sessions start</li>
		    <li><strong>18:00</strong>: Sessions ends</li>
		    <li><strong>18:15</strong>: Rigging down stands</li>
		    <li><strong>Evening</strong>: JourneyZone starts</li>
		</ul>
		<h4>Sunday 14th September</h4>
		<ul class="dates">
		    <li><strong>~20:00</strong>: JourneyZone ends</li>
		</ul>
    </div></div>

    <%= partial("_partials/contact.html") %>

</div>



</div>
<div class="clear"></div>


<%= partial("_partials/footer.html") %>
