<%= partial("_partials/menu.html") %>

<ul class="tiles">
    <li class="tile tile-small tile-low"><a href="#speakers" class="tile-inner img-crowd">
    	<div class="img-inner"></div>
		<span class="extra">
			<i class="icon icon-chevron-sign-right"></i>
			Information for <strong>Speakers</strong>
		</span>
    </a></li>
    <li class="tile tile-small tile-low"><a href="#partners" class="tile-inner img-intro">
	    <div class="img-inner"></div>
		<span class="extra">
			 <i class="icon icon-chevron-sign-right"></i>
		    Information for <strong>Partners</strong>
		</span>
    </a></li>
    <li class="tile tile-small tile-low"><a href="#volunteers" class="tile-inner img-agir">
		<div class="img-inner"></div>
		<span class="extra">
			<i class="icon icon-chevron-sign-right"></i>
			Information for <strong>Volunteers</strong>
		</span>
    </a></li>
</ul>
<div class="clear"></div>


<div class="tiles">

	<div id="speakers" class="tile tile-med tile-txt"><div class="tile-inner">
		<h2 class="first"><i class="icon-bullhorn"></i> Information for speakers</h2>
		<p>JavaZone is nothing without all our wonderful speakers who are holding full tracks, lightning talks or workshops. To help you help us make this years conference the best for both you and all the other guests, we have collected a bunch of information here. If there is anything else, please don't hesitate to contact us.</p>

		<p>The or­gan­iser of Java­Zone is jav­aBin (the Nor­we­gian Java User Group), an in­de­pen­dent, non-profit or­ga­ni­za­tion. The con­fer­ence has part­ners but no spon­sors. The agenda is de­fined by the Pro­gram Com­mit­tee with­out ex­ter­nal in­ter­fer­ence. This in­de­pen­dence is part of what makes Java­Zone so unique. We there­fore have a lim­ited bud­get for re­im­burs­ing con­fer­ence speak­ers. Please see our <a href="/monetarypolicy.html">mon­e­tary pol­icy</a> for more in­for­ma­tion.</p>

		<p>We have collected <a href="/partners.html#statistics">some statistics about the participants</a> to give you a better indication on what audience to expect at your talks. To get a feel for what content we have featured on previous conferencec, you can look at <a href="/videos.html">the top talks of JavaZone 2012</a>.</p>

		<p>Speak­ers with ac­cepted <strong>pre­sen­ta­tions</strong> will get free ad­mis­sion to the con­fer­ence.
		  They will also be in­vited to the speak­ers din­ner and can join us on <a href="journeyzone.html">Jour­ney­Zone</a>, an epic journey in the Norwegian wilderness. Speak­ers with ac­cepted <strong>light­ning talks</strong> will be in­vited to the speak­ers din­ner but will have to pay for their own ad­mis­sion to Java­Zone.</p>

		<div class="minis">
			<div class="mini">
				<h3><i class="icon-magic"></i> Where can I edit my presentation?</h3>
				<p>To edit your talk, use the link provided in the email message we sent you when you submitted your talk. If you have lost that mail, send us a quick note at <a href="mailto:program@java.no">program@java.no</a>, and we'll send you a new link.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-tag"></i> Do I have to buy a ticket?</h3>
				<p>Speakers who are holding full-length talks or workshops will get free admission to JavaZone. Lightning talk speakers will have to pay for their own ticket.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-cog"></i> What tools do I have at the stage?</h3>
				<p>All the conference rooms will have projectors with VGA-cables (widescreen, 1920x1080). There are two microphones. We also provide you with water to calm your brain. Ask us if you have other requirements.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-laptop"></i> Presenting from your own laptop?</h3>
				<p>That's okay for us! Just make sure to come to the room 15-20 minutes before your talk starts to make sure the technology is working for you. lightning talk speakers: you have to switch fast!</p>
			</div>
			<div class="mini">
				<h3><i class="icon-microphone"></i> WiFi? Power? Audio?</h3>
				<p>Of course! It's 2013 after all! No-password-asked WiFi (that actually work!), Minijack-cable, plenty of power outlets. We'll also have Ethernet-cables on stage if you need that for some reason.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-fire-extinguisher"></i> What if everything goes south?</h3>
				<p>We have a couple of nice helpers at each room that will make sure the tech is working. But to sleep well, you should bring an extra copy of your slides in case your laptop goes bananas.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-camera-retro"></i> Will you record my talk?</h3>
				<p>Most definitely! We record all talks, both regular talks and lightning talks (not workshops). This will be provided free for everyone, even those without a ticket, at <a href="http://video.javazone.no/">video.javazone.no</a> a few days after the conference.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-question-sign"></i> Should I take questions?</h3>
				<p>You should reserve some time for questions at the end of your talk. Remember to repeat a summary of the question before answering, for the benefit of both the live audience and for the taped video.</p>
			</div>
			<div class="mini">
				<h3><i class="icon-star"></i> Will I get feedback?</h3>
				<p>After the conference we'll ask all participants to rate the talks they attended, and provide written feedback. This will go directly to you afterwards. You'll most certainly get other feedback as well :)</p>
			</div>
			<div class="mini">
				<h3><i class="icon-leaf"></i> How do I attend JourneyZone?</h3>
				<p>Our annual journey into the norwegian wilderness, <a href="/journeyzone.html"></a> is reserved for speakers of full length presentations. More info about how to attend will be given by email.</p>
			</div>
		</div>

	</div></div>

	<div class="tile tile-small tile-txt tile-dates"><div class="tile-inner">
		<h2 class="first"><i class="icon-calendar"></i> Special happenings 2013</h2>
		<p>The following is a list of happenings that partners, speakers and volunteers of JavaZone should be aware of.</p>
		<h4>Tuesday 10th September</h4>
		<ul class="dates">
		    <li><!-- <strong>11:32</strong>:  -->Speakers dinner</li>
		    <li><strong>14:00-22:00</strong>: The Expo open for partners</li>
		    <li><strong>16:00-18:00</strong>: Pre-registration, Oslo Spektrum</li>
		</ul>
		<h4>Wednesday 11th September</h4>
		<ul class="dates">
		    <li><strong>07:00</strong>: Oslo Spektrum opens for partners</li>
		    <li><strong>08:00</strong>: All stands should be staffed</li>
		    <li><strong>09:00</strong>: First day of sessions start</li>
		    <li><strong>19:20</strong>: First day of sessions ends</li>
		    <li><strong>19:30</strong>: Oslo Spektrum closes</li>
		    <li><strong>19:30</strong>: AweZone 2013 at Rockefeller</li>
		</ul>
		<h4>Thursday 12th September</h4>
		<ul class="dates">
		    <li><strong>07:00</strong>: Oslo Spektrum opens for partners</li>
		    <li><strong>08:00</strong>: All stands should be staffed</li>
		    <li><strong>09:00</strong>: Second day of sessions start</li>
		    <li><strong>18:00</strong>: Second day of sessions ends</li>
		    <li><strong>18:15</strong>: Rigging down stands</li>
		    <li><strong>Evening</strong>: JourneyZone starts</li>
		</ul>
		<h4>Sunday 15th September</h4>
		<ul class="dates">
		    <li><!-- <strong>11:32</strong>:  -->JourneyZone ends</li>
		</ul>
    </div></div>

    <%= partial("_partials/contact.html") %>

    <div id="partners" class="tile tile-med tile-txt"><div class="tile-inner">
		<h2 class="first"><i class="icon-certificate"></i> Information for partners</h2>
		<p>Without all our wonderful partners, JavaZone as it is today would not be possible. You are the main reason for JavaZone's strength as a conference, both because you help us financially and are sending your employees to the conference, both as attendees and maybe also as speakers.</p>

		<p>This year we are proud to say that more than 40 companies, big and small, have decided to be a part of JavaZone 2013. We have a list of all our partners at the <a href="/partners.html">partner page</a>.</p>

		<p>Do your company want to be a part of JavaZone 2013, and get the possibility to meet thousands of developers and other geniuses? That's great! We have a lot of different options for our partners, you can read more about our partnership possibilities at our <a href="/partners.html">partner pages</a>. Feel free to <a href="mailto:partner@java.no">send an email to our partner contact</a> for more information.</p>

		<div class="minis">
		<div class="mini">
			<h3><i class="icon-comment"></i> Can I suggest a talk?</h3>
			<p>The agenda is de­fined by the Pro­gram Com­mit­tee with­out ex­ter­nal in­ter­fer­ence. This in­de­pen­dence is part of what makes Java­Zone so unique. Therefore we don't prioritize speakers suggested by partners.</p>
		</div>
		<div class="mini">
			<h3><i class="icon-comments"></i> Any partner meetings?</h3>
			<p>Throughout the year before the conference, we arrange four to five partner meetings, where we'll update you about all the things you need to know about JavaZone. Invitations to these will be sent to you by mail.</p>
		</div>
		<div class="mini">
			<h3><i class="icon-group"></i> Who will I meet at JavaZone?</h3>
			<p>We have collected <a href="/partners.html#statistics">some statistics about the participants</a> to give you a better indication on what demographic to expect at your stand.</p>
		</div>
		<div class="mini">
			<h3><i class="icon-calendar"></i> When can I pick my stand?</h3>
			<p>We let our partners pick stands based on who have provided the coolest stand concept. After that, the stands are assigned in a "first signed, first served"-manner.</p>
		</div>
		<div class="mini">
			<h3><i class="icon-certificate"></i> Where will I be profilated?</h3>
			<p>Partners of JavaZone will be profiled at our web pages, in the session rooms and in various other material produced for the conference. Partners will also get a stand in the expo area.</p>
		</div>
		<div class="mini">
			<h3><i class="icon-bullseye"></i> Where are the stands placed?</h3>
			<p>All the stands are placed in the Expo area, which are situated at the floor of Oslo Spektrum (with all the sessions placed in rooms around this).</p>
		</div>
		</div>
	</div></div>

	<div id="volunteers" class="tile tile-med tile-txt"><div class="tile-inner">
		<h2 class="first"><i class="icon-group"></i> Information for volunteers</h2>
		<p>Each year, we get a lot of volunteers for JavaZone, who helps us with the organisation of the conference. Look out for the volunteers by spotting their cool t-shirts at the conference area.</p>

		<div class="minis">
		<div class="mini">
			<h3><i class="icon-gift"></i> What do I get as a volunteer?</h3>
			<p>Volunteers at JavaZone get the admission for free, in return for helping us organize the conference. You'll get the chance to attend a lot of the talks when you are not working.</p>
		</div>
		<div class="mini">
			<h3><i class="icon-envelope-alt"></i> Can I apply to be a volunteer?</h3>
			<p>Absolutely, as long as you are an IT student in Norway, we would love for you to come help us out at this years conference! Just <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEFTdURhZHl0NGNaVjhNX0pKWlBsbkE6MA#gid=0">fill out this form</a>, and we'll contact you soon.</p>
		</div>
		</div>
	</div></div>



</div>
<div class="clear"></div>


<%= partial("_partials/footer.html") %>
