<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<div class="tile tile-big tile-partners"><div class="tile-inner">
    <div class="partners img-list"></div>
    <div class="clear"></div>
</div></div>

<!-- <div class="tile tile-taller tile-big not-min  animated fadeInDown"><div class="tile-inner img-standcomic">
    <div class="img-inner"></div>
    <span class="extra">
        In 2013 we had 42 amazing partners at the conference.<br> <a href="mailto:partner@java.no">Contact us</a> if you are interested in being a partner of JavaZone 2014.
    </span>
</div></div> -->

<div class="tile tile-txt tile-med" id="become"><div class="tile-inner">


    <h2 class="first"><i class="fa fa-globe"></i> What is JavaZone?</h2>

    <p>JavaZone is a conference organized by and for a great community of developers. The conference has been held in Oslo for 12 consecutive years.</p> 
    <p>Last year, we had around 2.300 attendees at the conference, including speakers, volunteers and around 100 representatives from our partners. At JavaZone 2014, we estimate that there will be around the same number of participants.</p>

    <p>We would not be able to arrange a conference of this size and quality without the involvement and support of every one of our partners. Each year, between 40 and 50 partners contributes to make JavaZone a great success.</p>

    <h2><i class="fa fa-road"></i> What does a partnership involve?</h2>

    <p>All companies are given the same option to become a partner; there is no bronze, silver or gold partnerships – everyone are treated as equals. There are however options to increase the size of the stand or buy in on one of our restaurant- or concept stands. We strive to make the expo floor a thriving and dynamic location for participants and partners.</p>

    <p>The expo area at JavaZone is placed in the center of the conference hall, making this the perfect area to meet all the participants. To make the a dynamic and vibrant place, we have found that shorter breaks between sessions, and the concept of serving food continuously throughout the conference from partner stands located in this same area is key. This means that partners with stands in the expo area are given the opportunity of quite a lot of visitors throughout the day. At the same time, this makes the expo area a perfect place to hang out for the conference guests.</p>

    <p>You can find more information and prices in <a href="/partner/eng.html">the slides from our first partner meeting</a>. They are availiable in both <a href="/partner/dec2013.html">norwegian</a> and <a href="/partner/eng.html">english</a>. Please get in touch to discuss with us if you want any more information.</p>

    <div class="space-elegant"></div>

    <h2><i class="fa fa-tachometer"></i> Some facts about JavaZone 2013</h2>

    <div class="img img-half img-jzfact1"></div>
    <div class="img img-half img-jzfact2"></div>
    <div class="img img-half img-jzfact3"></div>
    <div class="img img-half img-jzfact4"></div>
    <div class="img img-half img-jzfact5"></div>
    <div class="img img-half img-jzfact6"></div>
    <div class="img img-half img-jzfact7"></div>
    <div class="img img-half img-jzfact8"></div>
    



    


</div></div>

<a href="mailto:partner@java.no" class="tile tile-txt tile-small tile-link tile-hover tile-color4 tile-scale-hover"><div class="tile-inner">

    <p>Contact us at partner@java.no</p>

</div></a>

<div class="tile tile-txt tile-small tile-color1"><div class="tile-inner">

    <div class="topics">
      <h2 class="first"><i class="fa fa-puzzle-piece"></i> Partner meetings</h2>
      <p>We arrange regular meetings for both current partners and new potential partners. <a href="mailto:partner@java.no">Contact us</a> if you would like to attend.</p>
      <p>The slides from these meetings are in norwegian, but we have translated the most recent information to english: <a href="/partner/eng.html">english slides</a>.</p>
      <ul class="list">
        <li>
            <strong><i class="icon-comment"></i> 12. December 2013</strong>: <br>Partner meeting #1<br>
            <a href="/partner/dec2013.html"><i class="fa fa-arrow-right"></i>Norwegian slides</a><br>
            <a href="/partner/eng.html"><i class="fa fa-arrow-right"></i>English slides</a>
        </li>
        <li>
            <strong><i class="icon-comment"></i> 13. February 2014</strong>: <br>
            Meeting about JavaZone Academy <br>
            <a href="/partner/feb2014.html"><i class="fa fa-arrow-right"></i>Norwegian slides</a>
        </li>
        <li><strong><i class="icon-comment"></i> 13. March 2014</strong>: <br>Partner meeting #2<br>
            <a href="mailto:partner@java.no"><i class="fa fa-arrow-right"></i>Email us if you want to attend</a>
        </li>
        <li><strong><i class="icon-comment"></i> June 2014</strong>: <br>Partner meeting #3</li>
        <li><strong><i class="icon-comment"></i> August 2014</strong>: <br>Partner meeting #4</li>
      </ul>
    </div>

</div></div>

<div class="tile tile-txt tile-small tile-color3"><div class="tile-inner">

    <div class="topics">
      <h2 class="first"><i class="fa fa-puzzle-piece"></i> Partner packages</h2>
      <p>We have a lot of different opportunities for partners in the expo area. <a href="mailto:partner@java.no">Contact us</a> if you have any special wishes.</p>

      <h4>The basic partner package includes: </h4>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-angle-right"></i> 6 sq. meters of stand space</li>
            <li><i class="fa-li fa fa-angle-right"></i> 4 flexible (nameless) expo-tickets for the stand crew</li>
            <li><i class="fa-li fa fa-angle-right"></i> Branding on JavaZone.no, the venue, in ads and other promotional stunts</li>
            <li><i class="fa-li fa fa-angle-right"></i> Discounted participant tickets</li>
        </ul>

        <h4>Options that are available:</h4>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-angle-right"></i> <strong>Double stand space:</strong> <br>Gives you double the space for your stand (12 sq. meters)</li>
            <li><i class="fa-li fa fa-angle-right"></i> <strong>Restaurant stands:</strong> <br>We have room for 8 restaurant stands in the expo area. The theme and menu is decided by the partner, and all the food is prepared by the famous norwegian chefs <a href="http://www.fccircus.com">The Flying Culinary Circus</a>.</li>
            <li><i class="fa-li fa fa-angle-right"></i> <strong>Theme/Concept stands:</strong><br> We also have room for two extra large stands, where there are a lot of opportunities to create a unique experience for the guests.</li>
        </ul>

        <p><i><a href="mailto:partner@java.no">Contact us</a> to check the availiability of the different stands</i></p>
    </div>

</div></div>

<a href="mailto:partner@java.no" class="tile tile-txt tile-small tile-link tile-hover tile-color4 tile-scale-hover"><div class="tile-inner">

    <p>Contact us at partner@java.no</p>

</div></a>

<%= partial("_partials/footer.html") %>
