<% set('page', 'partners-page') %>

<div class="partners">
	<div class="section container cf">
		<div class="partner-list-explanation">Partners who have already signed up for JavaZone 2015</div>
		<div class="partner-list">
			<ul class="cf"></ul>
		</div>
	</div>
</div>
<div class="section container cf">
	<div class="contact">
		<a class="button button-wide" href="mailto:<%= settings.partner_mail %>">Contact us at <%= settings.partner_mail %></a>
	</div>
	<div class="sub-section cf">
		<h1 class="section-header">What is JavaZone?</h1>
		<div class="section-content">
			<p>JavaZone is a conference organized by and for a great community of developers. The conference has been held in the heart of Oslo for 13 consecutive years, and JavaZone 2015 will be the 14th time we arrange the conference.</p>

			<p>Last year, we had around 2,500 attendees at the conference, including speakers, volunteers and around 100 representatives from our partners.</p>

			<p>We would not be able to arrange a conference of this size and quality without the involvement and support of every one of our partners. Each year, between 40 and 50 partners contribute to make JavaZone a great success.</p>

			<p>Want to be a part of this? You are more that welcome to join as a partner. Read on for all the possibilities.</p>
		</div>
	</div>
</div>

<div class="img img-spektrum1"></div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">The Expo Area</h1>
		<div class="section-content">
			<p>The Expo Area at JavaZone is placed in the center of the conference hall, making this the perfect area to meet all the participants. The talks are held in rooms located on all sides of the expo area, meaning that in each break the big hall is filled with people talking, eating and having a good time.</p> 

			<p>We have found that shorter breaks between sessions, and the concept of serving food continuously throughout the day from partner stands located in this same expo area, is key to make the expo work.</p> 

			<p>The result of this is that partners with stands in the expo area are given the opportunity to meet quite a lot of visitors throughout the day. At the same time, this makes the expo area a perfect place to hang out for the conference guests. Every year, our partners help us raise the bar by making our expo area even better.</p>
		</div>
	</div>
</div>

<div class="img img-sjakk2"></div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Become a partner</h1>
		<div class="section-content">
			<p>Every partner of JavaZone plays a big part in making the conference possible. Without our partners, we would not be able to create a conference of the quality JavaZone has become known for having.</p>
			<p>All companies are given the same option to become a partner. There is no bronze, silver or gold sponsorships – everyone are treated as equals. There are however options to increase the size of the stand or buy in on one of our restaurant or concept stands. We are also more than open to accomodate creative ideas, so please let us know if you have anything special in mind.</p>
			<p>We have outlined the different options below. Please don't hesitate to <a href="mailto:<%= settings.partner_mail %>">get in touch</a> if you need any more information.</p>
		</div>
	</div>
</div>

<div class="packages">
	<div class="section container">
		<div class="sub-section package cf">
			<h2 class="section-header">Every partnership includes<br>the following things</h2>
			<div class="section-content">
				<ul>
					<li>A stand in the expo area (6 square meter)</li>
					<li>Four flexible, nameless expo-tickets for the stand crew</li>
					<li>Discounted participant tickets for your employees</li>
					<li>Branding on javazone.no, at the venue, in ads and other promotional material JavaZone produces</li>
					<li>A partnership in JavaZone Academy (JavaZone for students) is included in the basic partner package</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="img img-pizza"></div>

<div class="packages">
	<div class="section container">		
		<div class="sub-section package cf">
			<h2 class="section-header">We also have some options if you would like something extra</h2>
			<div class="section-content">
				<ul>
					<li><span class="package-title">Extra stand space</span> – Would you like some more stand space? We have the option to double the stand space if you prefer that.</li>
					<li><span class="package-title package-title-soldout">Restaurant stand</span> (sold out) – We have room for a total of seven restaurant stands in the expo area. The theme and menu is decided by you, and the food is prepared by the famous norwegian chefs from <a href="http://www.fccircus.com" target="_blank">The Flying Culinary Circus</a></li>
					<li><span class="package-title package-title-soldout">Theme/Concept stands</span> (sold out) – We also have room for three extra large stands, where there is room for some extra creativity. Give your visitors a unique experience, and be remembered as one of the top stands of JavaZone 2015.</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="section container">
	<div class="prospectus">
		<a class="button button-wide" href="/resources/partner/partnership-prospectus-javazone2015.pdf">Download full Partnership Prospectus</a>
	</div>

	<div class="sub-section cf">
		<h1 class="section-header">Contact us today</h1>
		<div class="section-content">
			<p>JavaZone will be held in September 2015, but please get in touch sooner rather than later. Even though the expo area is a thriving place and all stand positions are considered equal, the extra options are often sold out early.</p> 

			<p>So <a href="mailto:<%= settings.partner_mail %>">get in touch today</a>, and we'll work with you to create the best possible partnership for you.</p>
		</div>
	</div>
</div>