<%= partial("_partials/menu.html") %>


<div class="tile tile-med tile-tall not-min"><div class="tile-inner img-spektrum">
    <div class="img-inner"></div>
    <span class="extra extra-top">
        The doors are closed and <strong>JavaZone 2013</strong> is over. <br>Missed a session? Watch videos from all sessions below.<br>
    </span>
</div></div>

<div class="tile tile-small tile-tall tile-tall-text tile-invert"><div class="tile-inner">
    <h3 class="first">
        The dates for JavaZone 2014 will be announced soon.
    </h3>
    <p>Help make JavaZone 2014 an even better conference by <a href="/feedback.html">filling out this feedback form</a>. Thanks!</p>
    <p>You can <a href="https://twitter.com/javazone">follow us on Twitter</a> to be the first to know everything about JavaZone 2014. </p>
    <p>Thank you for being a supporter of JavaZone! See you next year!</p>
</div></div>

<!-- <ul class="tiles not-min">
	<li class="tile tile-small tile-low"><a href="/info.html" class="tile-inner img-video">
        <div class="img-inner"></div>
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            About JavaZone 2013
        </span>
    </a></li>

    <li class="tile tile-small tile-low"><a href="https://vimeo.com/album/2525252" class="tile-inner img-crowd">
        <div class="img-inner"></div>
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Filmed sessions from 2013
        </span>
    </a></li>

    <li class="tile tile-small tile-low"><a href="/awezone.html" class="tile-inner img-awezone">
        <div class="img-inner"></div>
        <span class="extra">
            <i class="icon icon-chevron-sign-right"></i>
            Party at AweZone
        </span>
    </a></li>
</ul> -->
<div class="clear"></div>
<div class="tweet"></div>
<div class="clear"></div>

<div class="tiles tiles-program">
    <div class="tile tile-three tile-blank"><div class="tile-inner">
        <div class="program"></div>
        <div class="clear"></div>
    </div></div>
    <div class="tile tile-one tile-blank"><div class="tile-inner">
        <div class="filters"></div>
        <div class="clear"></div>
    </div></div>
</div>

<div class="clear"></div>
<p class="program-disclaimer">Small changes to the program might occur at any time due to cancellations and other unforseen events. The up-to-date program will always be visible at this page.</p>

<%= partial("_partials/footer.html") %>
