<% set('page', 'speakerinterviews-page') %>

<div class="jumbotron jumbotron-spacing illustration-ears">
    <%= partial('assets/svg/illustrations/info_2.svg') %>
</div>

<div class="jumbotron container">
    <h1><strong>Nighthacking @ javaBin lounge</strong><br>– continuous speaker interviews all day long –</h1>
    <p>We are lucky to have <a href="http://nighthacking.com">the Nighthacking crew</a> join us for JavaZone 2015. <br>They will be interviewing speakers at the javaBin lounge in every break between the talks.</p>
    <p>Your host for the interviews will be Stephen Chin, the Lead Java Community Manager at Oracle. He will take you through interviews by both norwegian heros and international hotshots.</p>
    <p>Come by to watch it live, or if you're not in the expo – check out the live stream at <a href="http://nighthacking.com">nighthacking.com</a></p>
</div>

<div class="javazone-program">
    
    <div class="section container cf">
        <div class="sub-section cf">
                <h1 class="section-header centered">Wednesday 9th</h1>
            </div>
        <div class="sub-section cf">
            <div class="section-content">
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>10.00</strong> JavaZone - Insider Secrets!</h2>
                    <p class="submission-speakers">Espen Herseth Halvorsen</p>
                </div>
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>11.20</strong> Norwegian Kids Initiatives</h2>
                    <p class="submission-speakers">Simen Sommerfeldt</p>
                </div>
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>12.40</strong> The Lisp in the Machine</h2>
                    <p class="submission-speakers">Joe Nash</p>
                </div>
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>14.00</strong> Microservices for Mortals</h2>
                    <p class="submission-speakers">Bert Ertman</p>
                </div>
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>15.20</strong> Sustainable Code</h2>
                    <p class="submission-speakers">Christin Gorman</p>
                </div>
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>16.40</strong> Production Time Profiling</h2>
                    <p class="submission-speakers">Klara Ward</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section container cf">
        <div class="sub-section cf">
                <h1 class="section-header centered">Thursday 10th</h1>
            </div>
        <div class="sub-section cf">
            <div class="section-content">
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>12.40</strong> JVM Debugging Under the Hood</h2>
                    <p class="submission-speakers">Martin Skarsaune</p>
                </div>
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>14.00</strong> Clojure and Scala on the JVM</h2>
                    <p class="submission-speakers">Alf Kristian Støyle</p>
                </div>
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>15.20</strong> Java 8 DOs and DON'Ts</h2>
                    <p class="submission-speakers">Fredrik Vraalsen</p>
                </div>
                <div class="talk">
                    <h2 class="submission submission-difficulty"><strong>16.40</strong> Developers, Start Thinking About Design!</h2>
                    <p class="submission-speakers">Alexandra Leisse</p>
                </div>
            </div>
        </div>
    </div>

</div>