<% set('page', 'speaker-info-page') %>

<div class="mood">
    <div class="mood-background"></div>
</div>

<div class="jumbotron container first-info">
    <h1>So, you're a speaker!</h1>
    <p>With JavaZone 2015 quickly approaching, it's time to go over a few details to ensure you are ready. If you are having a workshop, lightning talk or presentation, this is for you.</p>
</div>

<div class="section container cf">
    <div class="sub-section cf">
        <h1 class="section-header">Before the conference</h1>
        <div class="section-content">
            <h2>The essentials</h2>
            <p>By now, you probably have all the essentials in place – traveling tickets if you come from out of town, and hotel. If not, it's probably a good idea to get this fixed.</p>
            <h2>Your talk</h2>
            <p>Your talk is listed in <a href="/program.html">the program</a>. It is a good idea to find out when you are up already now. You might also want to read through the info listed to ensure that everything is correct.</p>
            <h2>Guided tour</h2>
            <p>Never been to JavaZone, or just curious to see the venue? We will have a guided tour for speakers at Tuesday September 8th, 18:00. Meet us at <a href="https://www.google.com/maps/place/Oslo+Spektrum/@59.912985,10.754742,17z/data=!3m1!4b1!4m2!3m1!1s0x46416e61cee4e1bf:0xeaab41e737da924c?hl=en|https://www.google.com/maps/place/Oslo+Spektrum/@59.912985,10.754742,17z/data=!3m1!4b1!4m2!3m1!1s0x46416e61cee4e1bf:0xeaab41e737da924c?hl=en" target="_blank">the main entrance</a></p>
            <h2>Your slides</h2>
            <p>You never know what might happen, so it is always a good idea to keep a backup of your talk somewhere <em>else</em> than your computer – memory stick, Dropbox or something similiar.</p>
        </div>
    </div>
</div>

<div class="section container cf">
    <div class="sub-section cf">
        <h1 class="section-header">During the conference</h1>
        <div class="section-content">
            <p>The conference is, as always, located at <a href="https://www.google.no/maps/place/Oslo+Spektrum/@59.912985,10.754742,17z/data=!3m1!4b1!4m2!3m1!1s0x46416e61cee4e1bf:0xeaab41e737da924c">Oslo Spectrum</a>. Regardless if you're having a workshop, presentation or lightning talk, this is where you will be having it. For those of you who are new to Oslo – this is more or less in the heart of the city (well, not quite, but no more than a five minute walk from the main street!).</p>
            <p>As a speaker, you have access to the <b>Speakers Lounge</b> in addition to the rest of Oslo Spektrum. This can be a good place to relax or look over your presentation a few times before you're up.</p>
            <h2>Your presentation</h2>
            <p>
                To ensure that everything goes as smooth as possible, everyone are asked to arrive at their designated presentation room <b>20 minutes</b> before the start of the session. In practice, this means that you should show up at the end of the session just before you.
                Each room has a technician that will help you with connecting your laptop to the projector, and with the microphone. Testing your laptop on the projector is especially important if you have a lightning talk – there won't be time for big projector troubles during the talk.
            </p>
            <p>
                If you are having a workshop the day before the conference (Tuesday, September 8th), we will meet you at the entrance and guide you to the workshop rooms. You should still meet <b>20 minutes</b> before the start of your workshop to get set up.
            </p>
        </div>
    </div>
</div>

<div class="section container cf">
    <div class="sub-section cf">
        <h1 class="section-header">The technical stuff</h1>
        <div class="section-content">
            <dl>
                <dt>Computers</dt>
                <dd>You are encouraged to use your own computer for your presentation. Each room is configured to run presentations from both PCs and Macs. If you are planning on using anything else (tablets, phones, or anything else), please notify us.</dd>
                <dt>Projectors</dt>
                <dd>The optimal screen resolution for the projectors are 1920x1080 (16/9 screen format), but other resolutions are of course supported. The video signal will be 60Hz in all auditoriums.</dd>
                <dt>Connectors</dt>
                <dd>The projectors support VGA, HDMI and DVI. If you need displayport or mini displayport, you probably want to bring your own adapter. Don't hesitate to contact technicians or the staff if you have any problems.</dd>
                <dt>Internet</dt>
                <dd>What's a conference without internet? The whole of Oslo Spektrum is equiped with wireless network (SSID: JavaZone), and all auditoriums have cable network.</dd>
                <dt>Microphones</dt>
                <dd>Each room will have two headsets and one handheld microphone.</dd>
                <dt>Audio</dt>
                <dd>Each room is equipped with a 3.5" audio jack. If you plan on using audio during your presentation it might also be a good idea to notify the technician.</dd>
                <dt>Water</dt>
                <dd>Although arguably not a technical point, each presentation room will have water available for the speaker.</dd>
            </dl>
        </div>
    </div>
</div>

<div class="section container cf">
    <div class="sub-section cf">
        <h1 class="section-header centered">The rooms</h1>
        <div class="section-content">
            JavaZone has 7 different tracks running at all times. This means we have 7 different presentation rooms. Each room is a little different, both in terms of layout and how many seats there are.<br />
            Select your room below, and get to know it!

            <ul class="room-list">
                <li><button data-id="room-1" class="button">1</button></li>
                <li><button data-id="room-2" class="button">2</button></li>
                <li><button data-id="room-3" class="button">3</button></li>
                <li><button data-id="room-4" class="button">4</button></li>
                <li><button data-id="room-5" class="button">5</button></li>
                <li><button data-id="room-6" class="button">6</button></li>
                <li><button data-id="room-7" class="button">7</button></li>
            </ul>
        </div>
    </div>
    <div class="rooms">
        <div class="sub-section cf room room-1">
            <div class="room-illustration">
                <%= partial('assets/svg/rooms/1.svg') %>
            </div>
            <h2 class="section-header">Room 1</h2>
            <div class="section-content">
                <p>
                    Our biggest room. Wide room with audience seated flat in front of the stage. Total three big screens: one in the middle and two on either side of the stage.
                    Entrance from the expo area.
                </p>
            </div>
        </div>
        <div class="sub-section cf room room-2">
            <div class="room-illustration">
                <%= partial('assets/svg/rooms/2.svg') %>
            </div>
            <h2 class="section-header">Room 2</h2>
            <div class="section-content">
                <p>
                    Wide room with audience seated flat in front of the stage.
                    One screen at both sides of the stage.
                    Entrance to the expo area.
                </p>
            </div>
        </div>
        <div class="sub-section cf room room-3">
            <div class="room-illustration">
                <%= partial('assets/svg/rooms/3.svg') %>
            </div>
            <h2 class="section-header">Room 3</h2>
            <div class="section-content">
                <p>
                    Wide room with audience seated flat in front of the stage.
                    One screen at both sides of the stage.
                    Entrance to the expo area.
                </p>
            </div>
        </div>
        <div class="sub-section cf room room-4">
            <div class="room-illustration">
                <%= partial('assets/svg/rooms/4.svg') %>
            </div>
            <h2 class="section-header">Room 4</h2>
            <div class="section-content">
                <p>
                    More narrow room with audience seated steep up from the stage.
                    One big screen at the middle of the stage. Lightning from the top makes it difficult to see the audience seated at the top.
                    Entrance from the walkway above the expo floor.
                </p>
            </div>
        </div>
        <div class="sub-section cf room room-5">
            <div class="room-illustration">
                <%= partial('assets/svg/rooms/5.svg') %>
            </div>
            <h2 class="section-header">Room 5</h2>
            <div class="section-content">
                <p>
                    More narrow room with audience seated steep up from the stage.
                    One big screen at the middle of the stage. Lightning from the top makes it difficult to see the audience seated at the top.
                    Entrance from the walkway above the expo floor.
                </p>
            </div>
        </div>
        <div class="sub-section cf room room-6">
            <div class="room-illustration">
                <%= partial('assets/svg/rooms/6.svg') %>
            </div>
            <h2 class="section-header">Room 6</h2>
            <div class="section-content">
                <p>
                    More narrow room with audience seated steep up from the stage.
                    One big screen at the middle of the stage. Lightning from the top makes it difficult to see the audience seated at the top.
                    Entrance from the walkway above the expo floor.
                </p>
            </div>
        </div>
        <div class="sub-section cf room room-7">
            <div class="room-illustration">
                <%= partial('assets/svg/rooms/7.svg') %>
            </div>
            <h2 class="section-header">Room 7</h2>
            <div class="section-content">
                <p>
                    Lightning talk room. Wide room with audience seated flat in front of the stage.
                    Entrance is up a flight of stairs from the walkway above the expo floor.
                </p>
            </div>
        </div>
    </div>
</div>
