<% set('page', 'speakers-page') %>

<div class="jumbotron container">
	<h1>Call for speakers for JavaZone 2015 is now open!</h1>
	<p>JavaZone takes place in Oslo, Norway, on September 9th-10th 2015. The conference offers a combination of technical talks and workshops in an informal atmosphere with an expected attendance of more than 2500 highly skilled developers.</p>
</div>

<div class="hello">
	<div class="section container cf">
		<div class="sub-section cf">
			<div class="section-header">
				<h1>Be a speaker at JavaZone 2015!</h1>
				<div class="illustration illustration-left illustration-left-high">
					Illustrasjon 1
				</div>
			</div>
			<div class="section-content">
				<p>JavaZone 2015 will be the 14th consecutive JavaZone conference, and will consist of one workshop day followed by two full days of presentations and workshops. Last year's event was a great success with more than 2500 attendees enjoying 150 talks covering a wide range of topics, from both norwegian and internationally known speakers.</p>
				<p>JavaZone has grown to become one of the most important Java events in Europe over the years. You can see for yourself – videos from previous years are available for free at <a href="http://vimeo.com/javazone/videos">Vimeo</a>, and the full program from JavaZone 2014 can be found at the <a href="http://2014.javazone.no/program.html">last year's web page</a>.</p>
				<p>We can brag as much as we want, but JavaZone would be nothing without all the great speakers. And that is why we need your help to make sure that JavaZone 2015 will be at least as awesome as the earlier events. If you think you have something interesting to share, please <a href="/submitit/index.html">submit your talk or workshop</a> by the 20th of April, 2015.</p>
			</div>
		</div>
	</div>
</div>

<div class="section container cf">
	<div class="submit">
		<a href="/submitit" class="button">Submit your talk today</a>
	</div>
</div>

<div class="splitter"></div>


<div class="illustration illustration-wide">
	Illustrasjon 2
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Format and duration</h1>
		<div class="section-content">
			<p>You should think about which format your talk will work best in. Are you presenting a new idea or pitching a small topic, or do you need more time to elaborate on your idea? How hands-on do you want to be? We have three formats you can present your material in</p>



			<h2>Lightning talks (10 minutes)</h2>
			<p>Are you presenting a great new idea, or want to give the audience a teaser for a cool topic? Then you should strongly consider the lightning format.</p>
			<h2>Presentations (60 minutes)</h2>
			<p>All presentations at JavaZone have a length of 60 minutes. This gives you room to elaborate on an idea in detail, and also spend a little time at the end taking questions. We are considering double slots for special topics, so if you feel you need more than 60 minutes, please contact us.</p>
			<h2>Workshops (2 hours, half a day, whole day)</h2>
			<p>We will continue the popular workshop concept, both half-day and whole-day workshops on Tuesday September 8th and shorter 2-hour workshops during the conference. The format for the workshops is in-depth, hands-on and interactive.</p>
		</div>
	</div>
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Technical level</h1>
		<div class="section-content">
			<p>The audience at JavaZone mostly consists of software developers and in general talks and workshops should be technical enough that they include code (although that is not a requirement). Talks purely related to practices (agile etc.) are less likely to be accepted.</p>
			<p>When you submit your talk, you should indicate whether there will be code in your slides or not. If you are going to perform live coding, please state that as well.</p>
		</div>
	</div>
</div>

<div class="illustration illustration-wide">
	Illustrasjon 3
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<div class="section-header">
			<h1>Will it blend?</h1>
			<div class="illustration illustration-left">
				Illustrasjon 3 <br>(alternativ plassering)
			</div>
		</div>
		
		<div class="section-content">
			<p>JavaZone is proud to be an independent and community-driven conference. It is organized by javaBin, the idealistic and non-profit Norwegian Java User Group. This means that we have three important principles for selecting talks</p>
			<ul>
				<li>We do not sell speaker slots.</li>
				<li>We do not accept sales pitches masked as presentations</li>
				<li>We do not differentiate between speakers from partners and independent speakers</li>
			</ul>
			<p>If your talk adheres to these very important principles, you are more than welcome to <a href="/submitit">submit it</a>.
		</div>
	</div>
</div>

<div class="topics">
	<div class="section container cf">
		<div class="sub-section cf">
			<h1 class="section-header">What can I talk about?</h1>
			<div class="section-content">
				<p>Below is a compiled list of previous years topics. This can be a good place to look for suggestions and inspiration. Bear in mind that these are only suggestions – if your talk falls outside of these topics, but you still think it might be relevant, please don't hesitate to submit it.</p>
			</div>
		</div>
		<div class="sub-section cf">
			<ul>
				<li class="topic">
					<div class="topic-header">Security</div>
					<div class="topic-text">Privacy, Application Security, SSO, Auditing</div>
				</li>
				<li class="topic">
					<div class="topic-header">Core</div>
					<div class="topic-text">Memory, APIs, Performance</div>
				</li>
				<li class="topic">
					<div class="topic-header">Backend</div>
					<div class="topic-text">Data, Integration, Server, Cloud, NoSQL</div>
				</li>
				<li class="topic">
					<div class="topic-header">Frontend</div>
					<div class="topic-text">UX, UI, Apps, Mobile, Responsive</div>
				</li>
				<li class="topic">
					<div class="topic-header">Concepts</div>
					<div class="topic-text">Programming Languages, Paradigms, Algorithms</div>
				</li>
				<li class="topic">
					<div class="topic-header">Craftmanship</div>
					<div class="topic-text">Clean Code, Continuous Delivery, DevOps</div>
				</li>
				<li class="topic">
					<div class="topic-header">Architecture</div>
					<div class="topic-text">Architecture in Practice, Designs, Scalability</div>
				</li>
				<li class="topic">
					<div class="topic-header">Teamwork</div>
					<div class="topic-text">Teams, Roles, Process, Technical Leadership</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="deadlines">
	<div class="section container cf">
		<div class="sub-section cf">
			<h1 class="section-header centered">Dates & Deadlines</h1>
			<div class="section-content">
				<ul class="cf">
					<li class="deadline">
						<div class="happening">Call for speakers opens</div>
						<div class="date">February 6th, 2015</div>
					</li>
					<li class="deadline">
						<div class="happening">Call for speakers closes</div>
						<div class="date">April 20th, 2015</div>
					</li>
					<li class="deadline">
						<div class="happening">Accepted speakers notified</div>
						<div class="date">June 26th, 2015</div>
					</li>
					<li class="deadline">
						<div class="happening">Your talk in the schedule</div>
						<div class="date">When you have confirmed</div>
					</li>
					<li class="deadline">
						<div class="happening">Speakers dinner</div>
						<div class="date">September 8th, 2015</div>
					</li>
					<li class="deadline">
						<div class="happening">JavaZone 2015</div>
						<div class="date">September 9th - 10th, 2015</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">What's in it for me?</h1>
		<div class="section-content">
			<h2>Accepted speakers and workshops</h2>
			<p>You will get free admission to the conference. You will also be invited to the speakers dinner, held at September 9th. Lastly, you will have first priority on the limited number of slots for <a href="/journeyzone">JourneyZone, our annual speaker adventure</a></p>
			<h2>Accepted lightning talks</h2>
			<p>You will be invited to the speakers dinner, held at September 9th, but will have to provide for your own admission to JavaZone.</p>
			<h2>Monetary policy</h2>
			<p>Please see our <a href="/monetarypolicy">monetary policy</a> if you have any questions regarding our policy on paying for other expenses</p>
		</div>
	</div>
</div>


<div class="illustration illustration-wide">
	Illustrasjon 4
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Questions?</h1>
		<div class="section-content">
			<p>Please do not hesitate to contact the program committee at <a href="mailto:<%= settings.program_mail %>"><%= settings.program_mail %></a> should you need any further assistance.</p>
			<p>You can also contact the conference organizers at <a href="<%= settings.general_mail %>"><%= settings.general_mail %></a> if you have any questions regarding other topics connected to JavaZone.</p>
		</div>
	</div>
</div>

<div class="section container cf">
	<div class="submit">
		<a href="/submitit" class="button">Submit your talk today</a>
	</div>
</div>

<div class="jumbotron container thank-you">
	<p class="spread-the-word">We hope to see you at JavaZone 2015. Please feel free to spread the word about the conference to your local community!</p>
	<p class="regards">Best regards,<br/>the JavaZone Program Committee</p>
</div>
