<div class="container">
	<div class="interviews">
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/kenneth_pedersen.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Kenneth Pedersen</h1>
					<span class="twitter">
						<a href="http://twitter.com/miles_no" target="_blank"><%= partial('assets/svg/twitter.svg') %> @miles_no</a>
					</span>
					<h2>Technical Project Manager at Miles</h2>
					<p>Speaker @JavaZone 2014: <a href="http://2014.javazone.no/presentation.html?id=32ebe3d2">Hald bønnene dine unna domenemodellen min!</a></p>
				</div>
				<div class="interview-text">
					<p>
						I have been doing lighting talks three of the last four years attending JavaZone. Doing a lightning talk is much less scary than doing a full hour-long presentation. You get to present your favourite subjects, try out your presentation skills and you get valuable feedback. I encourage anyone to try it!
					</p>
					<p>
						For me one of the most interesting presentations in this year’s JavaZone was <a href="http://2014.javazone.no/presentation.html?id=483e15ab">"I-Tier: Breaking Up The Monolith"</a> by Brian McAllister from Groupon. I especially liked gaining insight in how their architectural decisions was carried out in a large and distributed organisation. I also enjoyed <a href="http://2014.javazone.no/presentation.html?id=96a5fd40">"Practical Considerations for Micro Service Architectures"</a> by Sam Newman for providing valuable tips and Nathaniel Schutta's <a href="http://2014.javazone.no/presentation.html?id=6038cb37">"Mind the Gap: Architecting UIs in the Era of Diverse Devices"</a> for showing exactly how hard it is to test your apps on the multitude of devices out there.					
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		

		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/kevlin_henney.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Kevlin Henney</h1>
					<span class="twitter">
						<a href="http://twitter.com/kevlinhenney" target="_blank"><%= partial('assets/svg/twitter.svg') %> @kevlinhenney</a>
					</span>
					<h2>Independent consultant, trainer and writer</h2>
				</div>
				<div class="interview-text">
					<p>
						What I love most about JavaZone is the conversations. The sessions are great, and I love creating and presenting new talks for JavaZone, but it's the people you bump into in and around the exhibitor stands, in between and during sessions. I always learn something new: sometimes it's in a session; sometimes it's between sessions; sometimes it's from someone I know; sometimes it's from someone new to me or who I've just met; sometimes it's about something in Java or elsewhere in the Java space; sometimes it's about something in software development outside the Javaverse.
					</p>
					<p class="talklinks">
						See Kevlin's talk from JavaZone 2014: <br><a href="http://2014.javazone.no/presentation.html?id=3c1b487d"><i class="icon-heart"></i>Making Steaks from Sacred Cows</a>
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>

	</div>
</div>