<div class="container">
	<div class="interviews">
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/bjornar_almli.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Bjørnar Almli</h1>
					<span class="twitter">
						<a href="http://twitter.com/bjornara" target="_blank"><%= partial('assets/svg/twitter.svg') %> @bjornara</a>
					</span>
					<h2>Developer and architect at Miles</h2>
				</div>
				<div class="interview-text">
					<p>
						I have been doing lighting talks three of the last four years attending JavaZone. Doing a lightning talk is much less scary than doing a full hour-long presentation. You get to present your favourite subjects, try out your presentation skills and you get valuable feedback. I encourage anyone to try it!						
					</p>
					<p>
						A great example was Hadi Hariri's <a href="http://2014.javazone.no/presentation.html?id=bcefe952">"Refactoring two Functional"</a>, with a practical approach to how functional programming can be used. In the web development area Brian Sletten's <a href="http://2014.javazone.no/presentation.html?id=c16e1531">"Polymer: Shadow DOMs, Custom Components and the Future of Web"</a> stood out. Polymer is based on new web standards like Shadow DOM, HTML imports, custom elements and Object.observe. The project has come very far in a short time and can, according to Brian, very well be used in web solutions already now.
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/kenneth_pedersen.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Kenneth Pedersen</h1>
					<span class="twitter">
						<a href="http://twitter.com/miles_no" target="_blank"><%= partial('assets/svg/twitter.svg') %> @miles_no</a>
					</span>
					<h2>Technical Project Manager at Miles</h2>
					<p>Speaker @JavaZone 2014: <a href="http://2014.javazone.no/presentation.html?id=32ebe3d2">Hald bønnene dine unna domenemodellen min!</a></p>
				</div>
				<div class="interview-text">
					<p>
						A few years had passed since my last participation and JavaZone has a reputation as a good conference. These combined made up a good starting point for me to go to Oslo for some professional input. A well organised event with great food and very good quality talks among the ones I attended.
					</p>
					<p>
						For me one of the most interesting presentations in this year’s JavaZone was <a href="http://2014.javazone.no/presentation.html?id=483e15ab">"I-Tier: Breaking Up The Monolith"</a> by Brian McAllister from Groupon. I especially liked gaining insight in how their architectural decisions was carried out in a large and distributed organisation. I also enjoyed <a href="http://2014.javazone.no/presentation.html?id=96a5fd40">"Practical Considerations for Micro Service Architectures"</a> by Sam Newman for providing valuable tips and Nathaniel Schutta's <a href="http://2014.javazone.no/presentation.html?id=6038cb37">"Mind the Gap: Architecting UIs in the Era of Diverse Devices"</a> for showing exactly how hard it is to test your apps on the multitude of devices out there.					
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/mario_ek_aparicio.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Mario Ek Aparicio</h1>
					<span class="twitter">
						<a href="http://twitter.com/marioaparicio" target="_blank"><%= partial('assets/svg/twitter.svg') %> @marioaparicio</a>
					</span>
					<h2>Architect at Miles</h2>
				</div>
				<div class="interview-text">
					<p>
						JavaZone is to me a kind of industry party where you meet colleagues you haven't seen for a while. It was nice to walk around talking to both known and unknown people. As usual JavaZone had put together a very strong program.
					</p>
					<p>
						One of my favourite talks was <a href="http://2014.javazone.no/presentation.html?id=cce167fb">"Continuous Delivery for Architects"</a> by Neal Ford. A very well-organised talk describing many important principles of Continuous delivery and Micro Services at a fairly general level. A must see, if you want a good introduction to the topic. I would also like to highlight a fun and different talk on mathematics that challenges common sense and intuition. The talk has no direct relevance to IT, but it challenges how we look at problems in everyday life and it shows why the most intuitive solutions often are not the right ones: <a href="http://2014.javazone.no/presentation.html?id=666d19fe">“Kontroversiell matematikk”</a> by Christian Magnus Berg
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>

		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/kjetil_husebo.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Kjetil Husebø</h1>
					<span class="twitter">
						<a href="http://twitter.com/miles_no" target="_blank"><%= partial('assets/svg/twitter.svg') %> @miles_no</a>
					</span>
					<h2>Developer and architect at Miles</h2>
				</div>
				<div class="interview-text">
					<p>
						As a first-time JavaZone visitor I met a firework of impressions. Kudos to JavaBin for the fantastic format; everything was centered around the show floor, never a long way to the sessions. A very good spread of talks, consistent high quality, some variations in presentation skills, but overall very good.
					</p>
					<p>
						One of my favourite talks was <a href="http://2014.javazone.no/presentation.html?id=483e15ab">"I-Tier: Breaking Up the Monolith"</a> by Brian McCallister. In a delightfully humorous and ironic manner Brian showed us the road that Groupon had travelled, breaking down the monolith to small and manageable subsystems. Lots of good examples of what went bad and what went well. Another favourite was <a href="http://2014.javazone.no/presentation.html?id=9b99aad3">"The Adventurous Developer's guide to Application Servers"</a> by Simon Maple. A really energetic and dynamic talk on selecting application servers. He was passionate and had plenty of good documentation underway, clearly having properly tested the different alternatives, presenting everything in a good way.
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>

		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/johannes_brodwall.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Johannes Brodwall</h1>
					<span class="twitter">
						<a href="http://twitter.com/jhannes" target="_blank"><%= partial('assets/svg/twitter.svg') %> @jhannes</a>
					</span>
					<h2>Principal Software Engineer i Sopra Steria</h2>
				</div>
				<div class="interview-text">
					<p>
						I always go to JavaZone! It is THE place to feel the pulse of what people are excited about and what is just a hype. And of course, it's always nice to catch up with everyone in the Oslo Java community.
					</p>
					<p>
						This year, being a speaker was a bit of a roller coaster. I had more than one talk and I wasn't totally satisfied with everything. But the talk that worked best, I was able to convey something really useful to people which is always a great experience.
					</p>
					<p>
						I watched several lightning talks and I always get a lot out of these because of the information density. I especially found Sigurd Fosseng's lightning talk on <a href="http://2014.javazone.no/presentation.html?id=35212c88">"Web Components?"</a> useful and straight forward. As a second talk, I always enjoy listening to Christin Gorman. Her talk on <a href="http://2014.javazone.no/presentation.html?id=076c8839">"Fix That!"</a> was inspiring and fun.
					</p>
					<p class="talklinks">
						See Johannes's talks from JavaZone 2014: <br><a href="http://2014.javazone.no/presentation.html?id=4b0f09b2"><i class="icon-heart"></i> How to "login with Facebook": OAuth 2 demystified</a> <br><a href="http://2014.javazone.no/presentation.html?id=8ae1fc42"><i class="icon-heart"></i> Strategic reuse</a> <br><a href="http://2014.javazone.no/presentation.html?id=36ab7112"><i class="icon-heart"></i> Accelerate your development by accelerating your feedback loop</a>
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>

		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/simen_sommerfeldt.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Simen Sommerfeldt</h1>
					<span class="twitter">
						<a href="http://twitter.com/sisomm" target="_blank"><%= partial('assets/svg/twitter.svg') %> @sisomm</a>
					</span>
					<h2>Enterprise Architect and CTO at Bouvet Oslo</h2>
				</div>
				<div class="interview-text">
					<p>
						I have attended javazone ever since 2004. Not only is it an important source of competence for me – it is also an alumni where I meet people in the business for gossip and a party!
					</p>
					<p>
						In my view, the conference was instrumental in the tremendous competence lift we had in industry in the Oslo Area during the 2000’s.  From the get-go, JavaZone encouraged local talent to talk alongside with international celebrities. This had a very positive effect on the local java-community: People who could find innovative solutions and identify best practices – and share them – were awarded with fame and peer recognition. As as side effect, many people think of it as a bit daunting. But with the right preparations and coaching it can be a very exciting and rewarding experience - at least it was for me!
					</p>
					<p>
						I have given two talks at javaZone: In 2013 I was allowed to present our local initiative to <a href="http://jz13.java.no/presentation.html?id=359cd17a">teach children coding</a>, and last year I gave a presentation about the current state of <a href="http://2014.javazone.no/presentation.html?id=a3976bdb">“The Internet of Things”</a>. The people who work behind the scenes are very professional and helpful. I can attest to the quality of the service, since I had rather special needs last year, with a plastic skull, two Arduinos and a Raspberry PI that needed a network connection. 
					</p>
					<p>
						Two of my favourite presentations in 2014 were Per Jørgen Walstrøm about how he made <a href="http://2014.javazone.no/presentation.html?id=72157526">camels dance (duh.. Camel the integration framework)</a> and Jeff Genender about how <a href="http://2014.javazone.no/presentation.html?id=8a6cfc53">"Building a Country on Open Source Java"</a> – in Ecuador. It makes me wonder what would be possible here in Norway
					</p>
					<p class="talklinks">
						See Simens's talk from JavaZone 2014: <br><a href="http://2014.javazone.no/presentation.html?id=a3976bdb"><i class="icon-heart"></i> En realitetsorientering om tingenes internett - og hvordan du kan komme i gang selv</a>
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>

	</div>
</div>