<div class="jumbotron illustration-question">
	<%= partial('assets/svg/illustrations/questions.svg') %>
</div>

<div class="jumbotron container">
	<h1>Stories from our speakers, participants and volunteers</h1>
	<p>Each year, more than 2.500 people take a few days off their busy everyday life to attend JavaZone. Some do it as speakers, some as participants, and some as student volunteers. Every JavaZone attendee is unique, but they all have one thing in common: the passion for knowledge and the desire to learn new things.</p>
	<p>We have collected the stories of a few people who attended JavaZone 2014 here, and have asked each and every one the same two questions: why did you attend JavaZone, and which talks were your favorites? We'll add more stories as we approach JavaZone 2015. If you want to share your story too, please <a href="mailto:javazone@java.no">get in touch</a>!</p>
</div>

<div class="splitter"></div>

<div class="container">
	<div class="interviews">
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/arun_gupta.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Arun Gupta</h1>
					<span class="twitter">
						<a href="http://twitter.com/arungupta" target="_blank"><%= partial('assets/svg/twitter.svg') %> @arungupta</a>
					</span>
					<h2>Director, Developer Advocacy at Red Hat Software</h2>
				</div>
				<div class="interview-text">
					<p>
						I've been speaking at different Java conferences for many years and heard only good things about JavaZone. I've been especially intrigued by JourneyZone and an opportunity to engage with other speakers in a high bandwidth setup for 2-3 days. However my sessions were rejected for 3 years in a row which piqued my interest all the more. An athlete by nature and practice, I kept trying and finally the Program Committee liked my submission in 2014. Got a little boost and was extremely happy with the acceptance. Overall, I had an excellent time at the conference.
					</p>
					<p>
						Found several unique aspects:
						<ul>
							<li>International cuisine and top notch food quality (Louisiana BBQ, Mexican, fresh pizza from oven, Indian, Sushi, Smoothie, Creme Brûlée, Juice bar, Meatballs, and much more) </li>
							<li>JavaZone movies have always been a joy to watch</li>
							<li>Ability to sit on Game of Code Source Throne (<a href="https://twitter.com/arungupta/status/509614646115172354">picture</a>)</li>
							<li>Overflow rooms done right</li>
							<li>Plenty of space for networking with attendees</li>
							<li>Continuous Delivery of video recordings of the sessions</li>
						</ul>
					</p>
					<p>
						I had the opportunity to give <a href="http://2014.javazone.no/presentation.html?id=7f6e0518">50 New Features in Java EE 7</a>. Since the replays were made available instantaneously, I'm always more keen on running a "hallway track" and this allows to engage with other attendees in a lot more relaxed setting.
					</p>
					<p>
						I was pleasantly surprised to learn that this is the biggest developer gathering in the Nordics. To me, it was not just about numbers but the quality of attendees was awesome as well. I had the opportunity to meet several Red Hat partners and have meaningful conversations with them. JourneyZone was definitely icing on the cake. Ability to run a sail boat with other speakers is a very unique experience. Climbing up the mast up to 80 feet and set and wrap the sails, just priceless! OK, I couldn't go beyond 30 but it was still a great experience.
					</p>
					<p class="talklinks">
						See Arun's talk from JavaZone 2014: <br><a href="http://2014.javazone.no/presentation.html?id=7f6e0518"><i class="icon-heart"></i>50 New Features in Java EE 7</a>
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/martin_skarsaune.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Martin Skarsaune</h1>
					<span class="twitter">
						<a href="https://twitter.com/mskarsaune" target="_blank"><%= partial('assets/svg/twitter.svg') %> @MSkarsaune</a>
					</span>
					<h2>Senior Developer and Co-Owner at Kantega</h2>
				</div>
				<div class="interview-text">
					<p>
						I have been attending JavaZone since 2003. I find the 2 day conference an effective place to pick up on new ideas, trends and knowledge. In addition it is THE meeting spot for the community, and the food selection is outstanding :-o. The conference also offers a really practical solution in the overflow room, where you can follow any of the ongoing sessions with both video and audio.
					</p>
					<p>
						Last year, there were actually two lightning talks that gave me the most valuable impulses: Kjetil Valstadve challenged established Java conventions in a refreshing way in <a href="http://2014.javazone.no/presentation.html?id=6eec076e">his talk defending the use of public fields</a>. Rafael Winterhalter introduced a really clever framework to <a href="http://2014.javazone.no/presentation.html?id=e49a8e3d">unit test your code for concurrency issues</a>.
					</p>
 					<p>
						I also got the chance to share some thoughts of my own both in <a href="http://2014.javazone.no/presentation.html?id=640bf7b0">a lightning talk</a> and <a href="http://2014.javazone.no/presentation.html?id=32012fc6">a presentation</a>. The experience was very rewarding for my part, and the feedback has been good. The video was published just a couple of hours later, and after a few weeks I received questions all the way from China! After the conference I took part in <a href="http://2014.javazone.no/journeyzone.html">JourneyZone</a>, where both local and international speakers stood shoulder to shoulder carrying out the duties on an iconic old sailing vessel. It was a great arena to discuss and get to know each other on a personal level.
					</p>
					<p class="talklinks">See Martin's talks from JavaZone 2014: <br><a href="http://2014.javazone.no/presentation.html?id=32012fc6"><i class="icon-heart"></i> goto java;</a><br><a href="http://2014.javazone.no/presentation.html?id=640bf7b0"><i class="icon-heart"></i> Iteration 2.0: Stream</a></p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/jan_preben_mossin.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Jan-Preben Mossin</h1>
					<span class="twitter">
						<a href="http://twitter.com/miles_no" target="_blank"><%= partial('assets/svg/twitter.svg') %> @miles_no</a>
					</span>
					<h2>Developer at Miles</h2>
				</div>
				<div class="interview-text">
					<p>
						JavaZone offers a good opportunity to attend a major IT conference without going abroad. With a large selection of topics to choose from, I usually found at least one presentation I wanted to attend. I especially enjoyed that other JVM languages and Javascript got some focus.
					</p>
					<p>
						My highlight from the conference was Fraser Green and his presentation, <a href="http://2014.javazone.no/presentation.html?id=9d357858">"Akka in real-time"</a>, where he stressed the importance of thinking about "Domain Driven vs Work distribution" when designing actor-based systems. The talk also provided some useful tips for using Akka and actors in general. Primarily recommended for those who have some previous experience with Akka. Another favorite was Rafael Winterhalter's <a href="http://2014.javazone.no/presentation.html?id=38ae33c2">"Understanding Java bytecode"</a>, which gave a good intro to JVM byte code. Although the practical value for everyday Java development perhaps is limited, it is always fun to understand more of what really happens when the code is running!
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
				<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/stein_inge.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Stein Inge Morisbak</h1>
					<span class="twitter">
						<a href="https://twitter.com/steinim" target="_blank"><%= partial('assets/svg/twitter.svg') %> @steinim</a>
					</span>
					<h2>Practice Lead Continuous Delivery and DevOps at Bekk and founder of DevOps Norway</h2>
				</div>
				<div class="interview-text">
					<p>
						JavaZone is one of my favorite conferences. It attracts the most renowned speakers from all over the world, yet the local speakers often offer some of the best talks of the conference. It is a great place to meet programmers and other IT-professionals. The socializing and discussions are always valuable. I also have to mention AweZone which is the most awesome conference party I have ever been to!
					</p>

					<p>
						I was privileged to give a talk my self, "<a href="http://2014.javazone.no/presentation.html?id=238ba96e">Kill 'Em All – and the ultimate developer will rise again!</a>", about all the unnecessary roles within IT. Giving a talk at JavaZone is a great honor and a wonderful experience. The staff hosting JavaZone is very professional and the audience is always great. I would highly reccomend everyone having something they want to share to submit a proposal.
					</p>

					<p>
						My favorite talks of the conference is hard to choose, but I really enjoyed Jøran Lillesands lightning talk "<a href="http://2014.javazone.no/presentation.html?id=c43ed7d4">Presentasjon 2.0</a>". He took presenting to a whole new level using new and old web technologies to interact with the audience and make slides come alive with rich futuristic media. In "<a href="http://2014.javazone.no/presentation.html?id=cce167fb">Continuous Delivery for Architects</a>" Neal Ford talked about how to work with architecture in a Continuous Delivery world. His thoughts about how to reduce intra-component/service coupling, and microservices architectures were really valuable to me.
					</p>
					<p class="talklinks">See Stein Inge's talk from JavaZone 2014: <br><a href="http://2014.javazone.no/presentation.html?id=238ba96e"><i class="icon-heart"></i> Kill 'Em All – and the ultimate developer will rise again!</a></p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/mark_west.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Mark West</h1>
					<span class="twitter">
						<a href="http://twitter.com/markawest" target="_blank"><%= partial('assets/svg/twitter.svg') %> @markawest</a>
					</span>
					<h2>Manager and Coding Enthusiast at Bouvet</h2>
				</div>
				<div class="interview-text">
					<p>
						I love JavaZone!  The conference is organised in a manner that allows me to brush on the latest happenings in the Java world, while also giving me time to meet old friends and make new acquaintances.  
					</p>
					<p>
						Other things I enjoy about JavaZone?  The overall quality of the talks, channel surfing in the overflow room, an intuitive mobile app, lightning talks and most importantly for us busy conference attendees - all day food!
					</p>
					<p>
						At last years JavaZone I really enjoyed Simen Sommerfeldt’s <a href="http://2014.javazone.no/presentation.html?id=a3976bdb">talk about the Internet of Things</a>, which has inspired me to get started with my own <a href="http://blogg.bouvet.no/2015/01/11/voice-controlling-a-robot-using-arduino-node-js-mqtt-websockets-johnny-five-and-html5-speech-recognition/">hobby project</a>. From a pure Java perspective I learnt a lot from Arun Gupta’s <a href="http://2014.javazone.no/presentation.html?id=7f6e0518">talk about 50 new features of Java EE 7</a> – although I was pretty exhausted at the end!
					</p>
					<p>
						Last year I also got the chance to speak at JavaZone and gave a <a href="http://2014.javazone.no/presentation.html?id=b6ef4b93">lightning talk about the etiquette of community driven events</a>.  Experiencing JavaZone from the perspective of a speaker was a really positive and rewarding experience, and I would recommend it to everyone!  In fact I enjoyed contributing to JavaZone so much that this year I have joined the JavaZone Programme Committee!
					</p>
					<p class="talklinks">See Mark's talk from JavaZone 2014: <br><a href="http://2014.javazone.no/presentation.html?id=b6ef4b93"><i class="icon-heart"></i> The Spirit of the Dugnad – Support Your Local Meetup!</a></p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
	</div>
</div>

<div class="jumbotron container thank-you">
	<p class="spread-the-word">We hope these stories have inspired you, and look forward to seeing you at JavaZone 2015!</p>
	<p class="regards">Best regards,<br/>javaBin, on behalf of the norwegian Java community.</p>
</div>