<div class="jumbotron illustration-question">
	<%= partial('assets/svg/illustrations/questions.svg') %>
</div>

<div class="jumbotron container">
	<h1>Stories from our speakers, participants and volunteers</h1>
	<p>Each year, more than 2.500 people takes a few days off their busy everyday life to attend JavaZone. Some do it as speakers, some as a participant, and some as a student volunteer. Every JavaZone attendee is unique, but they all have one thing in common: the passion for knowledge and the desire to learn more.</p>
	<p>We have collected the stories of a few people here, and have asked each and everyone the same questions: why did you attend JavaZone, and which talks was your favorite? We'll add more stories as we approach JavaZone 2015. <a href="mailto:javazone@java.no">Get in touch</a> if you want to share your story!</p>
</div>

<div class="splitter"></div>

<div class="container">
	<div class="interviews">
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/martin_skarsaune.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Martin Skarsaune</h1>
					<span class="twitter">
						<a href="https://twitter.com/mskarsaune" target="_blank"><%= partial('assets/svg/twitter.svg') %> @MSkarsaune</a>
					</span>
					<h2>Senior Developer and Co-Owner at Kantega</h2>
					<p>Speaker @JavaZone 2014: <a href="http://2014.javazone.no/presentation.html?id=32012fc6">goto java;</a> & <a href="http://2014.javazone.no/presentation.html?id=640bf7b0">Iteration 2.0: Stream</a></p>
				</div>
				<div class="interview-text">
					<p>
						I have been attending JavaZone since 2003. I find the 2 day conference an effective place to pick up on new ideas, trends and knowledge. In addition it is THE meeting spot for the community, and the food selection is outstanding :-o. The conference also offers a really practical solution in the overflow room, where you can follow any of the ongoing sessions with both video and audio.
					</p>
					<p>
						Last year, there were actually two lightning talks that gave me the most valuable impulses: Kjetil Valstadve challenged established Java conventions in a refreshing way in <a href="http://2014.javazone.no/presentation.html?id=6eec076e">his talk defending the use of public fields</a>. Rafael Winterhalter introduced a really clever framework to <a href="http://2014.javazone.no/presentation.html?id=e49a8e3d">unit test your code for concurrency issues</a>.
					</p>
 					<p>
						I also got the chance to share some thoughts of my own both in <a href="http://2014.javazone.no/presentation.html?id=640bf7b0">a lightning talk</a> and <a href="http://2014.javazone.no/presentation.html?id=32012fc6">a presentation</a>. The experience was very rewarding for my part, and the feedback has been good. The video was published just a couple of hours later, and after a few weeks I received questions all the way from China! After the conference I took part in <a href="http://2014.javazone.no/journeyzone.html">JourneyZone</a>, where both local and international speakers stood shoulder to shoulder carrying out the duties on an iconic old sailing vessel. It was a great arena to discuss and get to know each other on a personal level.
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
		<div class="interview">
			<div class="interview-image">
				<img src="/assets/img/interviews/jan_preben_mossin.jpg" />
			</div>
			<div class="interview-content">
				<div class="interview-info">
					<h1>Jan-Preben Mossin</h1>
					<span class="twitter">
						<a href="http://twitter.com/miles_no" target="_blank"><%= partial('assets/svg/twitter.svg') %> @miles_no</a>
					</span>
					<h2>Developer at Miles</h2>
				</div>
				<div class="interview-text">
					<p>
						JavaZone offers a good opportunity to attend a major IT conference without going abroad. With a large selection of topics to choose from, I usually found at least one presentation I wanted to attend. I especially enjoyed that other JVM languages and Javascript got some focus.
					</p>
					<p>
						My highlight from the conference was Fraser Green and his presentation, <a href="http://2014.javazone.no/presentation.html?id=9d357858">"Akka in real-time"</a>, where he stressed the importance of thinking about "Domain Driven vs Framework distribution" when designing actor-based systems. The talk also provided some useful tips for using Akka and actors in general. Primarily recommended for those who have some previous experience with Akka. Another favorite was Rafael Winterhalter's <a href="http://2014.javazone.no/presentation.html?id=38ae33c2">"Understanding Java bytecode"</a>, which gave a good intro to JVM byte code. Although the practical value for everyday Java development perhaps is limited, it is always fun to understand more of what really happens when the code is running!
					</p>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
	</div>
</div>

<div class="jumbotron container thank-you">
	<p class="spread-the-word">We hope these stories have inspired you, and look forward to seeing you at JavaZone 2015!</p>
	<p class="regards">Best regards,<br/>javaBin, on behalf of the norwegian Java community.</p>
</div>