<%= partial("_partials/menu.html") %>
<% set('page', 'page-invert') %>

<div class="tiles">

    <div class="tile tile-big tile-ill tile-color0 tile-nomargin"><div class="tile-inner">
        <div class="illustration ill-academy ill-academy-center animated rollIn"></div>
        <h2 class="first center color1 animated fadeInDown">
            Give the JavaZone speakers<br> your honest feedback
        </h2>

        <p class="centersmall">We appreciate you taking the time to give feedback! <br>Submit your feedback by september 24th and you will enter <br>the draw to win a free ticket to JavaZone 2015</p>

<!--         <p class="center">We appreciate all feedback! To show our gratitude, we'll give out tickets to JavaZone 2015 to 2&nbsp;random selected people who give feedback. Each question you answer and each talk you give feedback on gives you one extra chance to get a ticket :)</p> -->

    </div></div>

<div class="tile tile-big tile-txt tile-blank"><div class="tile-inner">

<div class="form">
<div class="form-inner">

<div class="thanks hide">
    <h2><i class="icon-heart"></i> Thank you for your feedback!</h2>
    <p>We will take all suggestions to heart to make next year's conference even better!</p>
</div>

<form>

<!-- <h2>Feedback on the conference</h2> -->
<!-- 
<div class="field">
    <h3><i class="fa fa-bullhorn"></i> What do you think of the program?</h3>
    <p class="small">Variation of talks, the different lengths and forms.</p>
    <p class="choices">
        <label><input type="radio" name="presentations_rating" value="3"> <em>3</em> The program was great! <i class="icon-smile"></i></label>
        <label><input type="radio" name="presentations_rating" value="2"> <em>2</em> It was all right. <i class="icon-meh"></i></label>
        <label><input type="radio" name="presentations_rating" value="1"> <em>1</em> Meh, not very good. <i class="icon-frown"></i></label>
    </p>
</div>

<div class="field">
    <h3><i class="fa fa-cog"></i> What do you think of the conference?</h3>
    <p class="small">Practicalities, expo area, food serving, AweZone etc.</p>
    <p class="choices">
        <label><input type="radio" name="conference_rating" value="3"> <em>3</em> The conference was great! <i class="icon-smile"></i></label>
        <label><input type="radio" name="conference_rating" value="2"> <em>2</em> It was all right. <i class="icon-meh"></i></label>
        <label><input type="radio" name="conference_rating" value="1"> <em>1</em> Meh, not very good. <i class="icon-frown"></i></label>
    </p>
</div>

<div class="field">
    <h3><i class="fa fa-user"></i> What was your role at the conference?</h3>
    <p class="choices">
        <label><input type="radio" name="role" value="participant"> Participant</label>
        <label><input type="radio" name="role" value="speaker"> Proud speaker</label>
        <label><input type="radio" name="role" value="other"> Something else</label>
    </p>
</div> -->

<div class="talkfeedback">
    

</div>

<div class="clear"></div>

<div class="field">
    <h3><i class="fa fa-heart-o"></i> Additional feedback about the conference</h3>
    <p class="small">What do you think worked well? What can we do better next year. Any other comments?</p>
    <p class="freetext">
        <textarea class="tosubmit" name="conference" id="conference" placeholder="Additional feedback…"></textarea>
    </p>
</div>

<div class="field">
    <h3><i class="fa fa-envelope-o"></i> Your email address</h3>
    <p class="small">If you want to enter the price draw. Will never be matched with your feedback.</p>
    <p class="freetext">
        <input class="tosubmit" name="email" id="email" placeholder="Email address…"></input>
    </p>
</div>

<div class="field field-submit">
    <p><a href="#" class="button submitform">
        <i class="fa fa-check"></i>
        Submit feedback
    </a></p>
</div>

</form>
</div>
</div>


</div></div>
</div>


<div class="clear"></div>
<%= partial("_partials/footer.html") %>
