<%= partial("_partials/menu.html") %>
<% set('page', 'page-invert') %>

<div class="tiles">

    <div class="tile tile-big tile-ill tile-color0 tile-nomargin"><div class="tile-inner">
        <div class="illustration ill-academy ill-academy-center"></div>
        <h2 class="first center color3">
            Give the JavaZone speakers<br> your honest feedback
        </h2>

       <!--  <p class="centersmall animated rubberBand">We appreciate you taking the time to give feedback! <br>Submit your feedback by september 24th and you will enter <br>the draw to win a free ticket to JavaZone 2015</p>

        <p class="centersmall animated rubberBand">Please only provide feedback for the talks you attended</p> -->

        <div class="feedback-instructions">
            <div class="feedback-instruction">
                <div class="number">1</div>
                <div class="instruction">
                    <h4>Give the talks you attended a rating</h4>
                    <p>Choose between 1, 2 and 3 stars. Give 3 stars to the talks that really inspired you and gave you some great learning, and 2 or 1 stars to other talks at your discretion.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="feedback-instruction">
                <div class="number">2</div>
                <div class="instruction">
                    <h4>Give written feedback <br>to a few talks</h4>
                    <p>Beside each talk, you can write a short comment to the speaker. Please make sure to give comments to a few speakers, as they really value your feedback.</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="feedback-instruction">
                <div class="number">3</div>
                <div class="instruction">
                    <h4>Win a ticket to <br>JavaZone 2015!</h4>
                    <p>We really value your feedback! That's why we'll pick two winners of a free ticket to JavaZone 2015. Each field you fill out gives you a chance to win!</p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="clear"></div>

            <div class="field">
                <p><a href="#" class="button startfeedback">
                    <i class="fa fa-check"></i>
                    I'm ready! Let's give some feedback
                </a></p>
            </div>
        </div>

    </div></div>

<div class="tile tile-big tile-txt tile-blank tile-allfeedback hide feedback-form"><div class="tile-inner">

<div class="form">
<div class="form-inner">

<div class="thanks hide">
    <h2><i class="icon-heart"></i> Thank you for your feedback!</h2>
    <p>We will take all suggestions to heart to make next year's conference even better!</p>
</div>

<form>

<div class="talkfeedback">
    

</div>

<div class="clear"></div>

<div class="field">
    <h3><i class="fa fa-heart-o"></i> Additional feedback about the conference</h3>
    <p class="small">What do you think worked well? What can we do better next year. Any other comments?</p>
    <p class="freetext">
        <textarea class="tosubmit" name="conference" id="conference" placeholder="Additional feedback…"></textarea>
    </p>
</div>

<div class="field">
    <h3><i class="fa fa-envelope-o"></i> Your email address (optional)</h3>
    <p class="small">If you want to enter the price draw. Will never be matched with your feedback.</p>
    <p class="freetext">
        <input class="tosubmit" name="email" id="email" placeholder="Email address…"></input>
    </p>
</div>

<div class="field field-submit">
    <p><a href="#" class="button submitform">
        <i class="fa fa-check"></i>
        Submit feedback
    </a></p>
</div>

</form>
</div>
</div>


</div></div>
</div>


<div class="clear"></div>
<%= partial("_partials/footer.html") %>
