<%= partial("_partials/menu.html") %>
<% set('page', 'page-invert') %>

<div class="tiles">

    <div class="tile tile-big tile-ill tile-color0 tile-nomargin"><div class="tile-inner">
        <div class="illustration ill-academy ill-academy-center animated rubberBand"></div>
        <h2 class="first center color1 animated rubberBand">
            Thank you for your feedback!
        </h2>

        <p class="centersmall animated rubberBand">We'll let you know if you win a free ticket to JavaZone 2015</p>

    </div></div>

</div>


<div class="clear"></div>
<%= partial("_partials/footer.html") %>
