<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<link href='http://fonts.googleapis.com/css?family=Codystar|VT323' rel='stylesheet' type='text/css'>

<!-- <h2 class="headerOnBackground">Buy your JavaZone 2014 ticket before 28th of April to get the Early Bird price</h2> -->

<div class="tile tile-tall tile-big not-min"><div class="tile-inner tile-inner-background-top img-standcomic-cramped">
    <div class="img-inner"></div>
    <span class="extra extra-right">
        <strong>Buy your JavaZone 2014 ticket before the 28th of April</strong> <br>to get the Early Bird price, and save more than 10% of the price
    </span>
</div></div>

<div class="tiles">
    <div class="ticket-tile1 tile tile-half tile-ticket tile-color0 tile-nomargin animated rotateInUpLeft"><div class="tile-inner">
        <div class="ticket ticket1"><span class="circle"></span><a href="#">
            <div class="ticket-header">JavaZone 2014: JavaBin member ticket</div>
            <div class="ticket-info"><span>Includes:</span> workshops, conference, AweZone, food & drinks</div>
            <div class="ticket-info"><span>Early Bird:</span> NOK 4.590,- (before 28. April)</div>
            <div class="ticket-info"><span>Late Bird:</span> NOK 5.190,- (after 28. April)</div>
            <div class="ticket-info"><span>Admits:</span> javaBin members</div>
            <div class="ticket-info"><span>Buy:</span> <strong>in our webshop</strong></div>
        </a></div>
    </div></div>
    <div class="ticket-tile2 tile tile-half tile-ticket tile-color0 tile-nomargin animated rotateInUpRight"><div class="tile-inner">
        <div class="ticket ticket2"><span class="circle"></span><a href="#">
            <div class="ticket-header">JavaZone 2014: regular ticket</div>
            <div class="ticket-info"><span>Includes:</span> workshops, conference, AweZone, food & drinks</div>
            <div class="ticket-info"><span>Early Bird:</span> NOK 5.590,- (before 28. April)</div>
            <div class="ticket-info"><span>Late Bird:</span> NOK 6.190,- (after 28. April)</div>
            <div class="ticket-info"><span>Admits:</span> anyone</div>
            <div class="ticket-info"><span>Buy:</span> <strong>in our webshop</strong></div>
        </a></div>
    </div></div>
</div>

<div class="tiles">
    <div class="tile tile-med tile-txt tile-color0"><div class="tile-inner">
        <h2 class="first"><i class="fa fa-heart"></i> Which ticket should you buy?</h2>

        <p>JavaZone sells two ticket types: tickets for members of javaBin, and tickets for anyone else. Both tickets give you the same full access to the conference, but member tickets are discounted NOK 1000.</p>
        <p>Anyone is welcome to join javaBin, we already have more than 2.000 members from all over the country. We fully recommend that you consider a membership before buying your ticket.</p>
        <p>The price for javaBin memberships is just NOK 500 pr. year, and can be bought <a href="http://java.no/index.html?page=medlemskap">in the javaBin webshop</a>. If you do your calculations, we think that you will consider this a great deal! <i class="fa fa-smile-o"></i></p>



<!--         <h2 class="first"><i class="fa fa-heart"></i> About javaBin member tickets</h2>
        <p>To buy a javaBin member ticket, you are required to have a valid javaBin membership for 2014. The ticket comes with a reduced price exclusive for members of javaBin – the non-profit and independent Java User Group in Norway.</p>
        <p>The purpose of javaBin to promote Java expertise among members, member firms and the market. javaBin is headquartered in Oslo, with subgroups in Stavanger, Bergen, Trondheim and in southern Norway.</p>
        <p>You can easily become a member of javaBin, and we fully recommend that you consider that before buying your ticket. The price for a membership is just NOK 500 pr. year, and can be bought <a href="http://java.no/index.html?page=medlemskap">in the javaBin webshop</a>.</p>

        <h2><i class="fa fa-heart-o"></i> About regular tickets</h2>
        <p>Anyone can buy and use the regular JavaZone tickets. The regular tickets gives you exactly the same access to the conference as the member tickets, except the benefit of the reduced price.</p> -->
    </div></div>
</div>

<div class="tile tile-txt tile-small tile-color0"><div class="tile-inner">

    <div class="topics">
        <h2 class="first"><i class="fa fa-puzzle-piece"></i> What is javaBin?</h2>
        <p>javaBin is the community behind JavaZone. We are a non-profit & independent Java User Group in Norway.</p> 
        <p>The purpose is to promote Java expertise among members, member firms and the market. javaBin is headquartered in Oslo, with subgroups in Stavanger, Bergen, Trondheim, Grimstad and in southern Norway.</p>
    </div>

</div></div>


<!-- <div class="tiles" id="where">
    <div class="tile tile-med tile-tall animated fadeInLeft"><a href="https://www.eventsystems.no/es/event/javazone/products" class="tile-inner img-view">
        <div class="img-inner"></div>
        <span class="extra link"><i class="fa fa-play-circle"></i> Buy your ticket now, and join us at JavaZone 2014!</span>
    </a></div>
    <div class="tile tile-invert tile-small tile-tall tile-tall-text animated fadeInRight"><div class="tile-inner">
        <h3 class="first">Buy your ticket!</h3>
        <p>Tickets are priced at <a href="https://www.eventsystems.no/es/event/javazone/products">4590,- NOK</a> for members of javaBin, and <a href="https://www.eventsystems.no/es/event/javazone/products">5190,- NOK</a> for non-members. Partners will get special prices for the tickets.</p>
        <p>If you work for one of our <a href="/partners.html"></a> partners, they might have a ticket to you, so be sure to check that first.</p>
        <ul class="links">
            <li><a href="https://www.eventsystems.no/es/event/javazone/products"><i class="fa fa-tags"></i> Buy tickets now</a></li>
            <li><a href="https://www.eventsystems.no/es/user_mgt/login"><i class="fa fa-cog"></i> Administer your tickets</a></li>
        </ul>
    </div></div>
</div>


<div class="tile tile-med tile-txt"><div class="tile-inner">
    <h3 class="first"><i class="fa fa-info-circle"></i> About javaBin</h3>
    <p>javaBin is a non-profit, independent organization. The purpose is to promote Java expertise among members, member firms and the market. javaBin is headquartered in Oslo, with subgroups in Stavanger, Bergen, Trondheim and in southern Norway. In 2009 the group had over 2,000 members from over 210 companies.</p>
	<p>javaBin arranges monthly meetings for its members. The meetings are a good way to strengthen the Java platform and is a venue for sharing experiences and information in addition to being a social arena that links people across firms and institutions.</p>
    <h3><i class="fa fa-question-circle"></i> What is the relationship between JavaZone and javaBin?</h3>
    <p>javaBin is the name of the organization which (among other things) organizes the JavaZone conference every year. This means that members of javaBin get reduced prices on the tickets. It's possible to buy tickets to JavaZone without being a member of javaBin, but we suggest that you <a href="http://java.no/index.html?page=medlemskap">consider a membership in javaBin</a> as well, since that means you get both the benefits of being a member and reduced prices for JavaZone tickets.</p>
</div></div>


<div class="tile tile-small tile-text tile-contact tile-color1"><div class="tile-inner">
    <h2 class="first"><i class="fa fa-money"></i> Ticket prices</h2>
    <ul>
	<li><strong>For JavaBin members:</strong> <a href="https://www.eventsystems.no/es/event/javazone/products">4590,- NOK</a> </li>
	<li><strong>Non-JavaBin members:</strong> <a href="https://www.eventsystems.no/es/event/javazone/products">5190,- NOK</a> </li>
	<li><strong>For partners:</strong> <a href="mailto:partner@java.no">Contact us</a> </li>
    </ul>
</div></div>

<%= partial("_partials/contact.html") %> -->
<%= partial("_partials/footer.html") %>
