<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>



       <!--  <h2 class="first iconheader-text">Top 10 presentations from JavaZone 2013</h2> -->
<!-- <div class="tiles">
    <div class="tile tile-big tile-txt tile-color0"><div class="tile-inner">
        <h2 class="iconheader-stars">
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </h2>
    </div></div>
</div> -->

<div class="tile tile-low tile-big not-min"><div class="tile-inner img-crazy4">
    <div class="img-inner"></div>
    <span class="extra extra-yellow">
        <strong>JavaZone 2013 featured more than 150 fantastic speakers presenting on a range of topics.</strong> 
        <br>We have collected the <a href="#1">10 best presentations</a> and <a href="#11">5 best lightning talks</a> based on your ratings. Enjoy!
    </span>
</div></div>



<a id="1"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#1">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>1</span></div>
        <h4><span>August Lilleaas:</span> You probably don’t know how the internet actually works</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74406482?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="2"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#2">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>2</span></div>
        <h4><span>Simen Sommerfeldt &amp; Torgeir Waterhouse:</span> Lær Kidsa Koding!</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74356964?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="3"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#3">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>3</span></div>
        <h4><span>Kim Joar Bekkelund:</span> Patterns of Large-Scale JavaScript Applications</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74325377?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="4"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#4">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>4</span></div>
        <h4><span>Robert Smallshire:</span> The Unreasonable Effectiveness of Dynamic Typing for Practical Programs</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74354480?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="5"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#5">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>5</span></div>
        <h4><span>Rustam Mehmandarov:</span> Har du lyst til å bli kommandolinjeninja?</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74553110?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="6"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#6">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>6</span></div>
        <h4><span>Tim Berglund:</span> First, Kill All the Product Owners</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74437772?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="7"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#7">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>7</span></div>
        <h4><span>Aksel Gresvig:</span> Building a life-saving portal as a single page Javascript application</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74444253?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="8"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#8">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>8</span></div>
        <h4><span>Thomas Oldervoll:</span> Machine Learning for Java Developers - it’s not just the algorithms</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74713139?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="9"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header">
        <a href="#9">[permalink]</a> 
        <div class="star"><i class="fa fa-star"></i><span>9</span></div>
        <h4><span>Matthew McCullough:</span> Borrowing from GitHub’s Culture for Fun and Profit</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74354409?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="10"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#10">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span class="double">10</span></div>
        <h4><span>Shai Almog:</span> Build True Native Apps for iOS, Android, Windows and More in Java</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74440476?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>


<div class="clear"></div>
<h2 class="iconheader-text">Lightning talks</h2>

<a id="11"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#11">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>1</span></div>
        <h4><span>Martin Cochrane:</span> Home Automation at the touch of a button</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74300430?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="12"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header">
        <a href="#12">[permalink]</a> 
        <div class="star"><i class="fa fa-star"></i><span>2</span></div>
        <h4><span>Jostein Tveit:</span> Implementer tofaktor autentisering på 10 minutter</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74294250?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="13"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#13">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>3</span></div>
        <h4><span>Runar Myklebust:</span> Fire tips for et lykkeligere liv med bash</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74309955?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="14"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#14">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>4</span></div>
        <h4><span>Sven Peters:</span> Don’t use Git</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74377782?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>

<a id="15"></a>
<div class="tile tile-big tile-talk tile-talk-wide"><div class="tile-inner">
    <div class="video-header"> 
        <a href="#15">[permalink]</a>
        <div class="star"><i class="fa fa-star"></i><span>5</span></div>
        <h4><span>Henrik Wingerei:</span> Hvordan og hvorfor gå fra log4j til logback</h4>
        <div class="clear"></div>
    </div>
    <iframe src="http://player.vimeo.com/video/74274217?title=0&amp;byline=0&amp;portrait=0;color=fcaf17" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div></div>


<a href="/speakers.html" class="tile tile-txt tile-small tile-link tile-hover tile-color1 tile-white-color tile-scale-hover animated fadeInLeft"><div class="tile-inner">
    <p>Submit your own talk</p>
</div></a>

<a href="/tickets.html" class="tile tile-txt tile-small tile-link tile-hover tile-color3 tile-white-color tile-scale-hover animated fadeInUp"><div class="tile-inner">
    <p>Tickets to JavaZone 2014</p>
</div></a>

<a href="/partners.html" class="tile tile-txt tile-small tile-link tile-hover tile-color4 tile-white-color tile-scale-hover animated fadeInRight"><div class="tile-inner">
    <p>See our partners</p>
</div></a>

<%= partial("_partials/footer.html") %>
