<% set('page', 'top-talks-page') %>

<div class="jumbotron cf">
	<%= partial('assets/svg/illustrations/hoder/hode2.svg') %>
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Top talks of 2014</h1>
		<div class="section-content">
			<p>JavaZone 2014 had more that 6000 minutes of learning. We have collected the best ones based on your rating and reviews. These are definitely worth a watch!</p>
		</div>
	</div>
</div>

<div class="jumbotron cf">
	<h1>Presentations</h1>
</div>
<div class="talk container cf" id="1">
	<h1 class="talk-header">#01 | Magne Jørgensen, Stein Grimstad</h1>
	<h2 class="talk-title">Det er helt sikkert at det er usikkert. Hvordan (ikke) anslå usikkerhet til estimater. Innlagt NM i estimering.</h2>
	<iframe src="https://player.vimeo.com/video/105785566?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="talk container cf" id="2">
	<h1 class="talk-header">#02 | Rolf Rander Næss</h1>
	<h2 class="talk-title">Hvordan sette opp Transport Layer Security på en sikker måte.</h2>
	<iframe src="https://player.vimeo.com/video/105857864?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="talk container cf" id="3">
	<h1 class="talk-header">#03 | Mikkel Byrsø Dan-Rognlie</h1>
	<h2 class="talk-title">Utvikling og drift av 100% skybasert javaløsning</h2>
	<iframe src="https://player.vimeo.com/video/105785588?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>
<div class="talk container cf" id="4">
	<h1 class="talk-header">#04 | Salve J. Nilsen</h1>
	<h2 class="talk-title">How Open Source can make your $job a better place</h2>
	<iframe src="https://player.vimeo.com/video/105758337?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>
<div class="talk container cf" id="5">
	<h1 class="talk-header">#05 | Ragnvald Balch Barth</h1>
	<h2 class="talk-title">Ultralyd - Java møter IoT og BYOD</h2>
	<iframe src="https://player.vimeo.com/video/105785567?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>
<div class="talk container cf" id="6">
	<h1 class="talk-header">#06 | Simen Sommerfeldt</h1>
	<h2 class="talk-title">En realitetsorientering om tingenes internett - og hvordan du kan komme i gang selv</h2>
	<iframe src="https://player.vimeo.com/video/105851449?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>
<div class="talk container cf" id="7">
	<h1 class="talk-header">#07 | Odin Hole Standal</h1>
	<h2 class="talk-title">Webutvikling med Clojure</h2>
	<iframe src="https://player.vimeo.com/video/105857867?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>
<div class="talk container cf" id="8">
	<h1 class="talk-header">#08 | Magnar Sveen, Christian Johansen</h1>
	<h2 class="talk-title">ZombieCLJ: Live parprogrammering</h2>
	<iframe src="https://player.vimeo.com/video/105777538?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>
<div class="talk container cf" id="9">
	<h1 class="talk-header">#09 | Austin Bingham</h1>
	<h2 class="talk-title">Making the Case for Reviews</h2>
	<iframe src="https://player.vimeo.com/video/105879807?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>
<div class="talk container cf" id="10">
	<h1 class="talk-header">#10 | Martin Skarsaune</h1>
	<h2 class="talk-title">goto java;</h2>
	<iframe src="https://player.vimeo.com/video/105851445?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>


<div class="jumbotron cf">
	<h1>Lightning talks</h1>
</div>

<div class="talk container cf" id="11">
	<h1 class="talk-header">#01 | Christin Gorman</h1>
	<h2 class="talk-title">Fix That!</h2>
	<iframe src="https://player.vimeo.com/video/105869247?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>

<div class="talk container cf" id="12">
	<h1 class="talk-header">#02 | Mark Alan West</h1>
	<h2 class="talk-title">The Spirit of the Dugnad – Support Your Local Meetup!</h2>
	<iframe src="https://player.vimeo.com/video/105869248?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>

<div class="talk container cf" id="13">
	<h1 class="talk-header">#03 | Erik Wendel</h1>
	<h2 class="talk-title">call(me, maybe)</h2>
	<iframe src="https://player.vimeo.com/video/105743348?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="talk container cf" id="14">
	<h1 class="talk-header">#04 | Filip van Laenen</h1>
	<h2 class="talk-title">#NoEstimates</h2>
	<iframe src="https://player.vimeo.com/video/105869249?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="talk container cf" id="15">
	<h1 class="talk-header">#05 | Bendik Solheim</h1>
	<h2 class="talk-title">Ansible: Provisjonering for programmerere</h2>
	<iframe src="https://player.vimeo.com/video/105771548?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>