<% set('page', 'top-talks-page') %>

<div class="jumbotron cf">
	<%= partial('assets/svg/illustrations/presentations.svg') %>
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Top talks of 2014</h1>
		<div class="section-content">
			<p>JavaZone 2015 had more that 6000 minutes of learning. We have collected the best ones based on your rating and reviews. These are definitely worth a watch!</p>
		</div>
	</div>
</div>

<div class="jumbotron cf">
	<h1>Presentations</h1>
</div>

<a id="1"/>
<div class="talk container cf">
	<h1 class="talk-header">Top 10| Best Presentations</h1>
	<h2 class="talk-title">Will be revaled later</h2>
</div>


<div class="jumbotron cf">
	<h1>Lightning talks</h1>
</div>

<a id="11"></a>
<div class="talk container cf">
	<h1 class="talk-header">#01 | Best Lightning talk</h1>
	<h2 class="talk-title">Will be revealed later</h2>
</div>

<a id="12"></a>
<div class="talk container cf">
	<h1 class="talk-header">#02 | Best Lightning talk</h1>
	<h2 class="talk-title">Will be revealed later</h2>
</div>

<a id="13"></a>
<div class="talk container cf">
	<h1 class="talk-header">#03 | Erik Wendel</h1>
	<h2 class="talk-title">call(me, maybe)</h2>
	<iframe src="https://player.vimeo.com/video/105743348?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<a id="14"></a>
<div class="talk container cf">
	<h1 class="talk-header">#04 | Filip van Laenen</h1>
	<h2 class="talk-title">#NoEstimates</h2>
	<iframe src="https://player.vimeo.com/video/105869249?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<a id="15"></a>
<div class="talk container cf">
	<h1 class="talk-header">#05 | Bendik Solheim</h1>
	<h2 class="talk-title">Ansible: Provisjonering for programmerere</h2>
	<iframe src="https://player.vimeo.com/video/105771548?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>