<%= partial("_partials/menu.html") %>

<div class="tile tile-big"><div class="tile-inner img-intro">
    <span class="extra">
        Watch previews and top rated talks from previous conferences.<br>
        See also <a href="/program.html">videos from JavaZone 2013</a>, or visit us at
        <a href="https://vimeo.com/javazone/videos">Vimeo</a> or <a href="https://www.youtube.com/user/JavaZoneNo?feature=watch">YouTube</a>.
    </span>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="https://www.youtube-nocookie.com/embed/E3418SeWZfQ?rel=0&hd=1&vq=hd720&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4><span>JavaZone 2013:</span> Write once, run everywhere? More like write once, ruin everything...</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="https://www.youtube-nocookie.com/embed/HXvm76e2X1Q?rel=0&hd=1&vq=hd720&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4><span>JavaZone 2012:</span> Paper money is obsolete, so what would one nick from a bank these days?</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="https://www.youtube-nocookie.com/embed/5U1_KW6ww7Y?rel=0&hd=1&vq=hd720&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4><span>JavaZone 2011:</span> Be afraid! The JavaZone X trailer is in your computer! Do you dare to watch?</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="https://www.youtube-nocookie.com/embed/kLO1djacsfg?rel=0&hd=1&vq=hd720&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4><span>JavaZone 2010</span> Java 4-ever! A heartwarming story about forbidden love ... and OLE objects.</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="https://www.youtube-nocookie.com/embed/1JZnj4eNHXE?rel=0&hd=1&vq=hd720&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h4><span>JavaZone 2010:</span> The teaser music video featuring Jenny Skavlan as a floppy-rocking geek.</h4>
</div></div>

<!-- 
<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="http://player.vimeo.com/video/49444883?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4><span>Talk #1:</span> Advanced Git – Tim Berglund</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="http://player.vimeo.com/video/49377269?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4><span>Talk #2:</span> Everything a Java(script) programmer needs to know about internet video – Eirik Bjørsnøs</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="http://player.vimeo.com/video/49458025?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4><span>Talk #3:</span> Verden er urettferdig – Aleksander Blomskøld &amp; Rune Peter Bjørnstad</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="http://player.vimeo.com/video/49375217?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4><span>Talk #4:</span> Networks for Programmers – Ken Sipe</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="http://player.vimeo.com/video/49485653?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4><span>Talk #5:</span> Zombie TDD: Live parprogrammering – Christian Johansen &amp; Magnar Sveen</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="http://player.vimeo.com/video/49299023?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4><span>Lightning talk #1:</span> Avinstaller Java nå! – Jostein Tveit</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="http://player.vimeo.com/video/49484333?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4><span>Lightning talk #2:</span> Readable code - and the long lost secret of how to achieve it – Christin Gorman</h4>
</div></div>

<div class="tile tile-talk"><div class="tile-inner">
    <iframe src="http://player.vimeo.com/video/49485270?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <h4><span>Lightning talk #3:</span> Sikker lagring av passord – Jon&nbsp;Are&nbsp;Rakvåg</h4>
</div></div> -->

<div class="tile tile-talk tile-talk-more"><a href="https://vimeo.com/javazone/videos" class="tile-inner">
    <i class="icon-play-sign"></i>
    <span>See all previous talks</span>
</a></div>



<%= partial("_partials/footer.html") %>
