<%= partial("_partials/menu.html") %>

<div class="tiles" id="where">
    <div class="tile tile-med tile-tall"><div class="tile-inner img-view">
	<span class="extra link"><i class="icon icon-play-sign"></i> Expand your horizon. Attend a workshop at JavaZone 2013.</span>
    </div></div>
    <div class="tile tile-invert tile-small tile-tall tile-tall-text"><div class="tile-inner">
	<h2 class="first">How to register</h2>
	<p>Workshops at JavaZone is free for all participants of the regular conference. This means that you can attend workshops free of charge as long as you have a ticket.</p>
	<p>Registration is on a "first come, first served" basis. After you register using the links below, you will get contacted with information about whether you got a spot or not.</p>
    </div></div>
</div>


<div class="tiles tiles-program">
<div class="tile tile-big tile-blank"><div class="tile-inner"><div class="program">

<div class="sessions"><div class="day">

<h2 class="program-header program-header-alone">
    Tuesday, 10 September 2013
</h2>

<div class="slot">
    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEhsd0FBdURyS1IxMlNDbm9JR1oxdGc6MA#gid=0" class="session workshop">
        <div class="time time-show">09:00</div>
        <span class="workshop-tag-full">Full. Waiting list</span>
        <span class="title"><strong>Clojure Workshop</strong> This workshop will provide an introduction to Clojure for the JVM.</span>
        <span class="person">Stuart Sierra</span>
        <span class="room">Room 1</span>
    </a>

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dF9iWHhKblg0SU05LW9faHh3RVlnUVE6MA#gid=0" class="session workshop">
        <div class="time time-show">09:00</div>
        <span class="workshop-tag-medium">A few spots left</span>
        <span class="title"><strong>Un-academic functional programming</strong> Learn what "monoids in the category of endofunctors" are.</span>
        <span class="person">Kaare Nilsen</span>
        <span class="room">Room 2</span>
    </a>

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFd0czJjNkZ0bE41OEdma0c3UU9WVkE6MA#gid=0" class="session workshop">
        <div class="time time-show">09:00</div>
	   <span class="title"><strong>Making sense of Tweets</strong> This workshop will show you how to use the Storm framework (in Norwegian)</span>
        <span class="person">Jon Espen Ingvaldsen</span>
        <span class="room">Room 3</span>
    </a>

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEtZMm16S2UxVlBFZDU1Z2hDZEdWV2c6MA#gid=0" class="session workshop">
        <div class="time time-show">13:30</div>
        <span class="workshop-tag-full">Full. Waiting list</span>
        <span class="title"><strong>Advanced Git</strong> This class provides the next level of Git and GitHub education.</span>
        <span class="person">Matthew McCullough</span>
        <span class="room">Room 2</span>
    </a>

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHpDTVA2QVJoUFlqWGNrOVhHb2gyZ3c6MA#gid=0" class="session workshop">
        <div class="time time-show">13:30</div>
        <span class="title"><strong>Ceylon hands-on session</strong> Learn all about programming using Ceylon's powerful static type system.</span>
	   <span class="person">Stéphane &amp; Gavin</span>
        <span class="room">Room 3</span>
    </a>


</div>

<h2 class="program-header program-header-alone">
    Wednesday, 11 September 2013
</h2>

<div class="slot">

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFlpcnRvdFJSRzJmX0M0UERheWg4ZUE6MA#gid=0" class="session workshop">
        <div class="time time-show">09:00</div>
        <span class="title"><strong>#!/bin/bash for programmers</strong> Coping with common problems encountered while scripting Bash.</span>
        <span class="person">Stein Inge Morisbak</span>
        <span class="room">Room X</span>
    </a>

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dGNuS3FaclE2YldFdW91ZVdLR19KTWc6MA#gid=0" class="session workshop">
        <div class="time time-show">13:00</div>
        <span class="title"><strong>Finding and Solving Java Deadlocks</strong> We will explain what causes deadlocks and how we can find them.</span>
        <span class="person">Heinz Kabutz</span>
        <span class="room">Room X</span>
    </a>

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFJJQXNtRWlPSTNUUnR4amNLNHg3emc6MA#gid=0" class="session workshop">
        <div class="time time-show">17:00</div>
	<span class="title"><strong>NFC Workshop</strong> Learn all about how to use Near Field Communication on Android.</span>
        <span class="person">Thomas Skjølberg</span>
        <span class="room">Room X</span>
    </a>

</div>

<h2 class="program-header program-header-alone">
    Thursday, 12 September 2013
</h2>

<div class="slot">

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dE5hdlBzd0hvNDlGazZEU2JDd0FuUGc6MA#gid=0" class="session workshop">
        <div class="time time-show">09:00</div>
        <span class="title"><strong>Dart hands-on workshop</strong> Learn how to build a declarative, modern, mobile, client-side web app in Dart.</span>
        <span class="person">Seth Ladd</span>
        <span class="room">Room X</span>
    </a>

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dDFSZWEzX3FGam1TRm45eWZNd2MxZHc6MA#gid=0" class="session workshop">
	<div class="time time-show">11.40</div>
        <span class="workshop-tag-medium">A few spots left</span>
        <span class="title"><strong>Hands-on introduction to Puppet</strong> Come to learn Puppet, the ultimate DevOps tool.</span>
        <span class="person">Jakub Holy</span>
        <span class="room">Room X</span>
    </a>

    <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFh2VzF5UkpUSEJzVUtkVDFCWjBTRHc6MA#gid=0" class="session workshop">
        <div class="time time-show">14:20</div>
	<span class="title"><strong>The Web Application Security Hero Challenge</strong> Get your hands dirty fixing security problems.</span>
        <span class="person">Espen, Anders &amp; Øystein</span>
        <span class="room">Room X</span>
    </a>

</div>

</div></div></div>
</div></div></div>

<div class="clear"></div>
<p class="program-disclaimer">When registring for a workshop, remember to use the same e-mail address as your ticket is registred on. Registrations in the form doesn't guarantee you a spot, we will contact you when the seats are assigned.</p>

<%= partial("_partials/footer.html") %>
