<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>


<div class="tile tile-txt tile-med tile-min-height-28" id="become"><div class="tile-inner">

    <h2 class="first"><i class="fa fa-comment"></i> Presentasjon fra JavaZone Partnermøte, 21. august 2014</h2>

    <p>Under finner du presentasjonen som ble holdt på partnermøte #4 for JavaZone 2014. Du kan <a href="/partner/august2014/partnermote5.pdf">laste ned en versjon</a> av presentasjonen dersom du trenger dette. Dersom du har spørsmål til noe, eller vil diskutere noe nærmere: kontakt oss på <a href="mailto:partner@java.no">partner@java.no</a>.</p>

    <ul class="fa-ul">
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 1: Faglig program</strong><br>
        	<a href="#slide4">programmet</a> /
            <a href="#slide7">workshops</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 2: Statusoppdatering JavaZone 2014</strong><br>
        	<a href="#slide8">markedsføring</a> /
        	<a href="#slide12">billettsalg</a> /
        	<a href="#slide14">AweZone</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 3: Årets expo-område</strong><br>
        	<a href="#slide18">expo-kart</a> /
        	<a href="#slide19">partnerstands</a> /
            <a href="#slide21">restaurantstands</a> /
            <a href="#slide22">communityzone</a> /
            <a href="#slide23">drikkbar & infostand</a> /
            <a href="#slide24">standkonkurransen</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 4: Veien videre mot JavaZone 2014</strong><br>
        	<a href="#slide28">huskeliste</a> /
        	<a href="#slide29">viktige frister</a> /
            <a href="#slide30">partnerportalen</a>
        </li>
        <li>
            <i class="fa-li fa fa-angle-right"></i> 
            <strong>Del 5: JavaZone Academy</strong><br>
            <a href="#slide35">trondheim</a> /
            <a href="#slide37">bergen</a> /
            <a href="#slide39">oslo</a> /
            <a href="#slide41">partnerskap</a>
        </li>
    </ul>

    <p>Information is <a href="/partner/eng.html">availiable in english</a>, or contact us at <a href="mailto:partner@java.no">partner@java.no</a>.</p>

</div></div>

<div class="tile tile-txt tile-small tile-color1 tile-min-height-28"><div class="tile-inner">

    <h2 class="first"><i class="fa fa-clock-o"></i> Viktige datoer:</h2>

    <ul class="fa-ul">
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>22. August</strong> <br>Frist for bestilling av møbler</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>9. September</strong> <br>JavaZone 2014: Workshops & rigging av stands</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>10-11. September</strong> <br>JavaZone 2014</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>20. Oktober</strong> <br>JavaZone Academy i Trondheim</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>21. Oktober</strong> <br>JavaZone Academy i Bergen!</li>
    </ul>

</div></div>

 <a name="slide1"></a> <img class="slide" src="/partner/august2014/partnermote5.001.jpg" />
 <a name="slide2"></a> <img class="slide" src="/partner/august2014/partnermote5.002.jpg" />
 <a name="slide3"></a> <img class="slide" src="/partner/august2014/partnermote5.003.jpg" />
 <a name="slide4"></a> <img class="slide" src="/partner/august2014/partnermote5.004.jpg" />
 <a name="slide5"></a> <img class="slide" src="/partner/august2014/partnermote5.005.jpg" />
 <a name="slide6"></a> <img class="slide" src="/partner/august2014/partnermote5.006.jpg" />
 <a name="slide7"></a> <img class="slide" src="/partner/august2014/partnermote5.007.jpg" />
 <a name="slide8"></a> <img class="slide" src="/partner/august2014/partnermote5.008.jpg" />
 <a name="slide9"></a> <img class="slide" src="/partner/august2014/partnermote5.009.jpg" />
<a name="slide10"></a> <img class="slide" src="/partner/august2014/partnermote5.010.jpg" />
<a name="slide11"></a> <img class="slide" src="/partner/august2014/partnermote5.011.jpg" />
<a name="slide12"></a> <img class="slide" src="/partner/august2014/partnermote5.012.jpg" />
<a name="slide13"></a> <img class="slide" src="/partner/august2014/partnermote5.013.jpg" />
<a name="slide14"></a> <img class="slide" src="/partner/august2014/partnermote5.014.jpg" />
<a name="slide15"></a> <img class="slide" src="/partner/august2014/partnermote5.015.jpg" />
<a name="slide16"></a> <img class="slide" src="/partner/august2014/partnermote5.016.jpg" />
<a name="slide17"></a> <img class="slide" src="/partner/august2014/partnermote5.017.jpg" />
<a name="slide18"></a> <img class="slide" src="/partner/august2014/partnermote5.018.jpg" />
<a name="slide19"></a> <img class="slide" src="/partner/august2014/partnermote5.019.jpg" />
<a name="slide20"></a> <img class="slide" src="/partner/august2014/partnermote5.020.jpg" />
<a name="slide21"></a> <img class="slide" src="/partner/august2014/partnermote5.021.jpg" />
<a name="slide22"></a> <img class="slide" src="/partner/august2014/partnermote5.022.jpg" />
<a name="slide23"></a> <img class="slide" src="/partner/august2014/partnermote5.023.jpg" />
<a name="slide24"></a> <img class="slide" src="/partner/august2014/partnermote5.024.jpg" />
<a name="slide25"></a> <img class="slide" src="/partner/august2014/partnermote5.025.jpg" />
<a name="slide26"></a> <img class="slide" src="/partner/august2014/partnermote5.026.jpg" />
<a name="slide27"></a> <img class="slide" src="/partner/august2014/partnermote5.027.jpg" />
<a name="slide28"></a> <img class="slide" src="/partner/august2014/partnermote5.028.jpg" />
<a name="slide29"></a> <img class="slide" src="/partner/august2014/partnermote5.029.jpg" />
<a name="slide30"></a> <img class="slide" src="/partner/august2014/partnermote5.030.jpg" />
<a name="slide31"></a> <img class="slide" src="/partner/august2014/partnermote5.031.jpg" />
<a name="slide32"></a> <img class="slide" src="/partner/august2014/partnermote5.032.jpg" />
<a name="slide33"></a> <img class="slide" src="/partner/august2014/partnermote5.033.jpg" />
<a name="slide34"></a> <img class="slide" src="/partner/august2014/partnermote5.034.jpg" />
<a name="slide35"></a> <img class="slide" src="/partner/august2014/partnermote5.035.jpg" />
<a name="slide36"></a> <img class="slide" src="/partner/august2014/partnermote5.036.jpg" />
<a name="slide37"></a> <img class="slide" src="/partner/august2014/partnermote5.037.jpg" />
<a name="slide38"></a> <img class="slide" src="/partner/august2014/partnermote5.038.jpg" />
<a name="slide39"></a> <img class="slide" src="/partner/august2014/partnermote5.039.jpg" />
<a name="slide40"></a> <img class="slide" src="/partner/august2014/partnermote5.040.jpg" />
<a name="slide41"></a> <img class="slide" src="/partner/august2014/partnermote5.041.jpg" />
<a name="slide42"></a> <img class="slide" src="/partner/august2014/partnermote5.042.jpg" />
<a name="slide43"></a> <img class="slide" src="/partner/august2014/partnermote5.043.jpg" />
<a name="slide44"></a> <img class="slide" src="/partner/august2014/partnermote5.044.jpg" />
<a name="slide45"></a> <img class="slide" src="/partner/august2014/partnermote5.045.jpg" />
<a name="slide46"></a> <img class="slide" src="/partner/august2014/partnermote5.046.jpg" />
<a name="slide47"></a> <img class="slide" src="/partner/august2014/partnermote5.047.jpg" />

<%= partial("_partials/footer.html") %>