<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<img class="slide" src="/partner/dec2013/partnermote1.001.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.002.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.003.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.004.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.005.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.006.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.007.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.008.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.009.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.010.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.011.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.012.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.013.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.014.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.015.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.016.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.017.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.018.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.019.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.020.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.021.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.022.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.023.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.024.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.025.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.026.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.027.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.028.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.029.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.030.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.031.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.032.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.033.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.034.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.035.jpg" />
<img class="slide" src="/partner/dec2013/partnermote1.036.jpg" />

<%= partial("_partials/footer.html") %>