<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<img class="slide" src="/partner/eng/partnermote1eng.001.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.002.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.003.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.004.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.005.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.006.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.007.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.008.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.009.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.010.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.011.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.012.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.013.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.014.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.015.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.016.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.017.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.018.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.019.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.020.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.021.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.022.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.023.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.024.jpg" />
<img class="slide" src="/partner/eng/partnermote1eng.025.jpg" />

<%= partial("_partials/footer.html") %>