<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>

<a href="#slide21" class="tile tile-txt tile-small tile-link tile-hover tile-color1 tile-white-color tile-scale-hover"><div class="tile-inner">
    <p>Student-torsdagen</p>
</div></a>

<a href="#slide23" class="tile tile-txt tile-small tile-link tile-hover tile-color3 tile-white-color tile-scale-hover"><div class="tile-inner">
    <p>Student-konkurransen</p>
</div></a>

<a href="#slide27" class="tile tile-txt tile-small tile-link tile-hover tile-color4 tile-white-color tile-scale-hover"><div class="tile-inner">
    <p>JavaZone Academy</p>
</div></a>

<img class="slide" src="/partner/feb2014/partnermote2.001.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.002.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.003.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.004.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.005.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.006.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.007.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.008.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.009.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.010.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.011.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.012.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.013.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.014.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.015.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.016.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.017.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.018.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.019.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.020.jpg" />
<a name="slide21"></a> 
<img class="slide" src="/partner/feb2014/partnermote2.021.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.022.jpg" />
<a name="slide23"></a> 
<img class="slide" src="/partner/feb2014/partnermote2.023.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.024.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.025.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.026.jpg" />
<a name="slide27"></a> 
<img class="slide" src="/partner/feb2014/partnermote2.027.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.028.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.029.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.030.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.031.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.032.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.033.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.034.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.035.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.036.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.037.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.038.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.039.jpg" />
<img class="slide" src="/partner/feb2014/partnermote2.040.jpg" />

<%= partial("_partials/footer.html") %>