<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>


<div class="tile tile-txt tile-med tile-min-height-28" id="become"><div class="tile-inner">

    <h2 class="first"><i class="fa fa-comment"></i> Presentasjon fra JavaZone Partnermøte, 12. juni 2014</h2>

    <p>Under finner du presentasjonen som ble holdt på partnermøte #3 for JavaZone 2014. Du kan <a href="/partner/juni2014/partnermote4.pdf">laste ned en versjon</a> av presentasjonen dersom du trenger dette. Dersom du har spørsmål til noe, eller vil diskutere noe nærmere: kontakt oss på <a href="mailto:partner@java.no">partner@java.no</a>.</p>

    <ul class="fa-ul">
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 1: Faglig program</strong><br>
        	<a href="#slide4">temamøter</a> /
        	<a href="#slide5">programmet</a> /
        	<a href="#slide6">datoer</a> /
            <a href="#slide7">workshops</a> /
            <a href="#slide8">JourneyZone</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 2: Statusoppdatering JavaZone 2014</strong><br>
        	<a href="#slide11">ny JavaZone-profil</a> /
        	<a href="#slide19">JavaZone-filmen</a> /
        	<a href="#slide26">AweZone</a> /
        	<a href="#slide29">JavaZone Academy</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 3: Viktig info for partnere</strong><br>
        	<a href="#slide43">expo-området</a> /
        	<a href="#slide48">standkonkurranse</a> /
            <a href="#slide50">utvidelser</a> /
            <a href="#slide52">matkonsepter</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 4: Veien videre mot JavaZone 2014</strong><br>
        	<a href="#slide58">huskeliste</a> /
        	<a href="#slide59">viktige frister</a> /
            <a href="#slide60">partnerportalen</a> /
            <a href="#slide69">kontaktinfo</a>
        </li>
    </ul>

    <p>Information is <a href="/partner/eng.html">availiable in english</a>, or contact us at <a href="mailto:partner@java.no">partner@java.no</a>.</p>

</div></div>

<div class="tile tile-txt tile-small tile-color1 tile-min-height-28"><div class="tile-inner">

    <h2 class="first"><i class="fa fa-clock-o"></i> Viktige datoer:</h2>

    <ul class="fa-ul">
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>20. Juni</strong> <br>Påmeldingsfrist partnerband til AweZone</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>1. Juli</strong> <br>Frist for kjøp av deltakerbilletter</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>15. August</strong> <br>Frist innlevering av standdesign</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>9. September</strong> <br>JavaZone braker løs!</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>20. Oktober</strong> <br>JavaZone Academy i Trondheim</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>21. Oktober</strong> <br>JavaZone Academy i Bergen!</li>
    </ul>

</div></div>

 <a name="slide1"></a> <img class="slide" src="/partner/juni2014/partnermote4.001.jpg" />
 <a name="slide2"></a> <img class="slide" src="/partner/juni2014/partnermote4.002.jpg" />
 <a name="slide3"></a> <img class="slide" src="/partner/juni2014/partnermote4.003.jpg" />
 <a name="slide4"></a> <img class="slide" src="/partner/juni2014/partnermote4.004.jpg" />
 <a name="slide5"></a> <img class="slide" src="/partner/juni2014/partnermote4.005.jpg" />
 <a name="slide6"></a> <img class="slide" src="/partner/juni2014/partnermote4.006.jpg" />
 <a name="slide7"></a> <img class="slide" src="/partner/juni2014/partnermote4.007.jpg" />
 <a name="slide8"></a> <img class="slide" src="/partner/juni2014/partnermote4.008.jpg" />
 <a name="slide9"></a> <img class="slide" src="/partner/juni2014/partnermote4.009.jpg" />
<a name="slide10"></a> <img class="slide" src="/partner/juni2014/partnermote4.010.jpg" />
<a name="slide11"></a> <img class="slide" src="/partner/juni2014/partnermote4.011.jpg" />
<a name="slide12"></a> <img class="slide" src="/partner/juni2014/partnermote4.012.jpg" />
<a name="slide13"></a> <img class="slide" src="/partner/juni2014/partnermote4.013.jpg" />
<a name="slide14"></a> <img class="slide" src="/partner/juni2014/partnermote4.014.jpg" />
<a name="slide15"></a> <img class="slide" src="/partner/juni2014/partnermote4.015.jpg" />
<a name="slide16"></a> <img class="slide" src="/partner/juni2014/partnermote4.016.jpg" />
<a name="slide17"></a> <img class="slide" src="/partner/juni2014/partnermote4.017.jpg" />
<a name="slide18"></a> <img class="slide" src="/partner/juni2014/partnermote4.018.jpg" />
<a name="slide19"></a> <img class="slide" src="/partner/juni2014/partnermote4.019.jpg" />
<a name="slide20"></a> <img class="slide" src="/partner/juni2014/partnermote4.020.jpg" />
<a name="slide21"></a> <img class="slide" src="/partner/juni2014/partnermote4.021.jpg" />
<a name="slide22"></a> <img class="slide" src="/partner/juni2014/partnermote4.022.jpg" />
<a name="slide23"></a> <img class="slide" src="/partner/juni2014/partnermote4.023.jpg" />
<a name="slide24"></a> <img class="slide" src="/partner/juni2014/partnermote4.024.jpg" />
<a name="slide25"></a> <img class="slide" src="/partner/juni2014/partnermote4.025.jpg" />
<a name="slide26"></a> <img class="slide" src="/partner/juni2014/partnermote4.026.jpg" />
<a name="slide27"></a> <img class="slide" src="/partner/juni2014/partnermote4.027.jpg" />
<a name="slide28"></a> <img class="slide" src="/partner/juni2014/partnermote4.028.jpg" />
<a name="slide29"></a> <img class="slide" src="/partner/juni2014/partnermote4.029.jpg" />
<a name="slide30"></a> <img class="slide" src="/partner/juni2014/partnermote4.030.jpg" />
<a name="slide31"></a> <img class="slide" src="/partner/juni2014/partnermote4.031.jpg" />
<a name="slide32"></a> <img class="slide" src="/partner/juni2014/partnermote4.032.jpg" />
<a name="slide33"></a> <img class="slide" src="/partner/juni2014/partnermote4.033.jpg" />
<a name="slide34"></a> <img class="slide" src="/partner/juni2014/partnermote4.034.jpg" />
<a name="slide35"></a> <img class="slide" src="/partner/juni2014/partnermote4.035.jpg" />
<a name="slide36"></a> <img class="slide" src="/partner/juni2014/partnermote4.036.jpg" />
<a name="slide37"></a> <img class="slide" src="/partner/juni2014/partnermote4.037.jpg" />
<a name="slide38"></a> <img class="slide" src="/partner/juni2014/partnermote4.038.jpg" />
<a name="slide39"></a> <img class="slide" src="/partner/juni2014/partnermote4.039.jpg" />
<a name="slide40"></a> <img class="slide" src="/partner/juni2014/partnermote4.040.jpg" />
<a name="slide41"></a> <img class="slide" src="/partner/juni2014/partnermote4.041.jpg" />
<a name="slide42"></a> <img class="slide" src="/partner/juni2014/partnermote4.042.jpg" />
<a name="slide43"></a> <img class="slide" src="/partner/juni2014/partnermote4.043.jpg" />
<a name="slide44"></a> <img class="slide" src="/partner/juni2014/partnermote4.044.jpg" />
<a name="slide45"></a> <img class="slide" src="/partner/juni2014/partnermote4.045.jpg" />
<a name="slide46"></a> <img class="slide" src="/partner/juni2014/partnermote4.046.jpg" />
<a name="slide47"></a> <img class="slide" src="/partner/juni2014/partnermote4.047.jpg" />
<a name="slide48"></a> <img class="slide" src="/partner/juni2014/partnermote4.048.jpg" />
<a name="slide49"></a> <img class="slide" src="/partner/juni2014/partnermote4.049.jpg" />
<a name="slide50"></a> <img class="slide" src="/partner/juni2014/partnermote4.050.jpg" />
<a name="slide51"></a> <img class="slide" src="/partner/juni2014/partnermote4.051.jpg" />
<a name="slide52"></a> <img class="slide" src="/partner/juni2014/partnermote4.052.jpg" />
<a name="slide53"></a> <img class="slide" src="/partner/juni2014/partnermote4.053.jpg" />
<a name="slide54"></a> <img class="slide" src="/partner/juni2014/partnermote4.054.jpg" />
<a name="slide55"></a> <img class="slide" src="/partner/juni2014/partnermote4.055.jpg" />
<a name="slide56"></a> <img class="slide" src="/partner/juni2014/partnermote4.056.jpg" />
<a name="slide57"></a> <img class="slide" src="/partner/juni2014/partnermote4.057.jpg" />
<a name="slide58"></a> <img class="slide" src="/partner/juni2014/partnermote4.058.jpg" />
<a name="slide59"></a> <img class="slide" src="/partner/juni2014/partnermote4.059.jpg" />
<a name="slide60"></a> <img class="slide" src="/partner/juni2014/partnermote4.060.jpg" />
<a name="slide61"></a> <img class="slide" src="/partner/juni2014/partnermote4.061.jpg" />
<a name="slide62"></a> <img class="slide" src="/partner/juni2014/partnermote4.062.jpg" />
<a name="slide63"></a> <img class="slide" src="/partner/juni2014/partnermote4.063.jpg" />
<a name="slide64"></a> <img class="slide" src="/partner/juni2014/partnermote4.064.jpg" />
<a name="slide65"></a> <img class="slide" src="/partner/juni2014/partnermote4.065.jpg" />
<a name="slide66"></a> <img class="slide" src="/partner/juni2014/partnermote4.066.jpg" />
<a name="slide67"></a> <img class="slide" src="/partner/juni2014/partnermote4.067.jpg" />
<a name="slide68"></a> <img class="slide" src="/partner/juni2014/partnermote4.068.jpg" />
<a name="slide69"></a> <img class="slide" src="/partner/juni2014/partnermote4.069.jpg" />

<%= partial("_partials/footer.html") %>