<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>


<div class="tile tile-txt tile-med tile-min-height-28" id="become"><div class="tile-inner">

    <h2 class="first"><i class="fa fa-comment"></i> Presentasjon fra JavaZone Partnermøte, 13. mars 2014</h2>

    <p>Under finner du presentasjonen som ble holdt på partnermøte #2 for JavaZone 2014. Du kan <a href="/partner/mars2014/partnermote3.pdf">laste ned en versjon</a> av presentasjonen dersom du trenger dette. Dersom du har spørsmål til noe, eller vil diskutere noe nærmere: kontakt oss på <a href="mailto:partner@java.no">partner@java.no</a>.</p>

    <ul class="fa-ul">
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 1: Statusoppdatering</strong><br>
        	<a href="#slide4">partnere og stands</a> /
        	<a href="#slide7">markedsføring og profilering</a> /
        	<a href="#slide11">faglig innhold</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 2: Partner på JavaZone 2014</strong><br>
        	<a href="#slide18">partnerpakken</a> /
        	<a href="#slide20">expo-området</a> /
        	<a href="#slide21">stand-utvidelse</a> /
        	<a href="#slide24">stand-plassering</a> /
        	<a href="#slide25">stand-konkurranse</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 3: Tidsplaner og frister som partner</strong><br>
        	<a href="#slide33">månedsoversikt frem mot september</a> /
        	<a href="#slide53">viktige datoer</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 4: Nye og velkjente konsepter</strong><br>
        	<a href="#slide35">AweZone</a> /
        	<a href="#slide38">DrikkBar</a>
        </li>
        <li>
        	<i class="fa-li fa fa-angle-right"></i> 
        	<strong>Del 5: JavaZone's studentinitiativer</strong><br>
        	<a href="#slide45">JavaZone Academy</a> 
        	(<a href="/partner/feb2014.html">mer info på forrige partnermøte</a>)
        </li>
    </ul>

    <p>Information is <a href="/partner/eng.html">availiable in english</a>, or contact us at <a href="mailto:partner@java.no">partner@java.no</a>.</p>

</div></div>

<div class="tile tile-txt tile-small tile-color1 tile-min-height-28"><div class="tile-inner">

    <h2 class="first"><i class="fa fa-clock-o"></i> Viktige datoer:</h2>

    <ul class="fa-ul">
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>1. April</strong> <br>Frist for å melde interesse for Academy-partnerskap</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>13. April</strong> <br>Frist for å melde interesse for DrikkBar-konseptet</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>28. April</strong> <br>Call for Speakers stenger</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>1. Juli</strong> <br>Frist for kjøp av deltakerbilletter</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>Juni</strong> <br>Neste partnermøte (dato kommer)</li>
        <li><i class="fa-li fa fa-angle-right"></i>  <strong>9. September</strong> <br>JavaZone braker løs!</li>
    </ul>

</div></div>

<a name="slide1"></a> <img class="slide" src="/partner/mars2014/partnermote3.001.jpg" />
<a name="slide2"></a> <img class="slide" src="/partner/mars2014/partnermote3.002.jpg" />
<a name="slide3"></a> <img class="slide" src="/partner/mars2014/partnermote3.003.jpg" />
<a name="slide4"></a> <img class="slide" src="/partner/mars2014/partnermote3.004.jpg" />
<a name="slide5"></a> <img class="slide" src="/partner/mars2014/partnermote3.005.jpg" />
<a name="slide6"></a> <img class="slide" src="/partner/mars2014/partnermote3.006.jpg" />
<a name="slide7"></a> <img class="slide" src="/partner/mars2014/partnermote3.007.jpg" />
<a name="slide8"></a> <img class="slide" src="/partner/mars2014/partnermote3.008.jpg" />
<a name="slide9"></a> <img class="slide" src="/partner/mars2014/partnermote3.009.jpg" />
<a name="slide10"></a> <img class="slide" src="/partner/mars2014/partnermote3.010.jpg" />
<a name="slide11"></a> <img class="slide" src="/partner/mars2014/partnermote3.011.jpg" />
<a name="slide12"></a> <img class="slide" src="/partner/mars2014/partnermote3.012.jpg" />
<a name="slide13"></a> <img class="slide" src="/partner/mars2014/partnermote3.013.jpg" />
<a name="slide14"></a> <img class="slide" src="/partner/mars2014/partnermote3.014.jpg" />
<a name="slide15"></a> <img class="slide" src="/partner/mars2014/partnermote3.015.jpg" />
<a name="slide16"></a> <img class="slide" src="/partner/mars2014/partnermote3.016.jpg" />
<a name="slide17"></a> <img class="slide" src="/partner/mars2014/partnermote3.017.jpg" />
<a name="slide18"></a> <img class="slide" src="/partner/mars2014/partnermote3.018.jpg" />
<a name="slide19"></a> <img class="slide" src="/partner/mars2014/partnermote3.019.jpg" />
<a name="slide20"></a> <img class="slide" src="/partner/mars2014/partnermote3.020.jpg" />
<a name="slide21"></a> <img class="slide" src="/partner/mars2014/partnermote3.021.jpg" />
<a name="slide22"></a> <img class="slide" src="/partner/mars2014/partnermote3.022.jpg" />
<a name="slide23"></a> <img class="slide" src="/partner/mars2014/partnermote3.023.jpg" />
<a name="slide24"></a> <img class="slide" src="/partner/mars2014/partnermote3.024.jpg" />
<a name="slide25"></a> <img class="slide" src="/partner/mars2014/partnermote3.025.jpg" />
<a name="slide26"></a> <img class="slide" src="/partner/mars2014/partnermote3.026.jpg" />
<a name="slide27"></a> <img class="slide" src="/partner/mars2014/partnermote3.027.jpg" />
<a name="slide28"></a> <img class="slide" src="/partner/mars2014/partnermote3.028.jpg" />
<a name="slide29"></a> <img class="slide" src="/partner/mars2014/partnermote3.029.jpg" />
<a name="slide30"></a> <img class="slide" src="/partner/mars2014/partnermote3.030.jpg" />
<a name="slide31"></a> <img class="slide" src="/partner/mars2014/partnermote3.031.jpg" />
<a name="slide32"></a> <img class="slide" src="/partner/mars2014/partnermote3.032.jpg" />
<a name="slide33"></a> <img class="slide" src="/partner/mars2014/partnermote3.033.jpg" />
<a name="slide34"></a> <img class="slide" src="/partner/mars2014/partnermote3.034.jpg" />
<a name="slide35"></a> <img class="slide" src="/partner/mars2014/partnermote3.035.jpg" />
<a name="slide36"></a> <img class="slide" src="/partner/mars2014/partnermote3.036.jpg" />
<a name="slide37"></a> <img class="slide" src="/partner/mars2014/partnermote3.037.jpg" />
<a name="slide38"></a> <img class="slide" src="/partner/mars2014/partnermote3.038.jpg" />
<a name="slide39"></a> <img class="slide" src="/partner/mars2014/partnermote3.039.jpg" />
<a name="slide40"></a> <img class="slide" src="/partner/mars2014/partnermote3.040.jpg" />
<a name="slide41"></a> <img class="slide" src="/partner/mars2014/partnermote3.041.jpg" />
<a name="slide42"></a> <img class="slide" src="/partner/mars2014/partnermote3.042.jpg" />
<a name="slide43"></a> <img class="slide" src="/partner/mars2014/partnermote3.043.jpg" />
<a name="slide44"></a> <img class="slide" src="/partner/mars2014/partnermote3.044.jpg" />
<a name="slide45"></a> <img class="slide" src="/partner/mars2014/partnermote3.045.jpg" />
<a name="slide46"></a> <img class="slide" src="/partner/mars2014/partnermote3.046.jpg" />
<a name="slide47"></a> <img class="slide" src="/partner/mars2014/partnermote3.047.jpg" />
<a name="slide48"></a> <img class="slide" src="/partner/mars2014/partnermote3.048.jpg" />
<a name="slide49"></a> <img class="slide" src="/partner/mars2014/partnermote3.049.jpg" />
<a name="slide50"></a> <img class="slide" src="/partner/mars2014/partnermote3.050.jpg" />
<a name="slide51"></a> <img class="slide" src="/partner/mars2014/partnermote3.051.jpg" />
<a name="slide52"></a> <img class="slide" src="/partner/mars2014/partnermote3.052.jpg" />
<a name="slide53"></a> <img class="slide" src="/partner/mars2014/partnermote3.053.jpg" />
<a name="slide54"></a> <img class="slide" src="/partner/mars2014/partnermote3.054.jpg" />


<%= partial("_partials/footer.html") %>