<h2>Konferansen som helhet:</h2>

<div class="feedbackwrapper">

	<p class="ratingheader">Alle stjerneratings fra web:</p>
	<div class="paperrating paperrating-neutral">Antall: <%= feedback.totalNumberOfRatings %></div>
	<div class="paperrating paperrating-neutral">Avg: <%= feedback.conferenceAverageRating %></div>
	<div class="clear"></div>

	<p class="ratingheader">Kommentarer:</p>
	<% _.each(feedback.conferenceFeedback, function(s) { %>
		<div class="webcomment"><%= jz.utils.paragraphs(s) %></div>
	<% }) %>
</div>

<h2>Epost-adresser som har gitt feedback:</h2>

<div class="feedbackwrapper">
	<% _.each(feedback.emails, function(s) { %>
		<div class="webcomment"><%= jz.utils.paragraphs(s) %></div>
	<% }) %>
</div>

<h2>Talks:</h2>

<% _.each(feedback.feedbacks, function(f, i) { %>
	
	<div class="feedbackwrapper">
		<h4><%= f.title %> (
			<% _.each(f.speakers, function(s) { %>
				<%= s %>  
			<% }) %>
		)</h4>
		<p class="ratingheader">Stjerneratings fra web:</p>
		<div class="paperrating paperrating-neutral">Antall: <%= f.numberOfRatingsWeb %></div>
		<% if(f.averageRatingWeb != -1) { %><div class="paperrating paperrating-neutral">Avg: <%= f.averageRatingWeb %></div><% } %>
		<div class="clear"></div>

		<p class="ratingheader">Papirlapp-ratings:</p>
		<div class="paperrating paperrating-green"><%= f.greenPaperfeedback %></div>
		<div class="paperrating paperrating-yellow"><%= f.yellowPaperfeedback %></div>
		<div class="paperrating paperrating-red"><%= f.redPaperfeedback %></div>
		<% if((f.greenPaperfeedback + f.yellowPaperfeedback + f.redPaperfeedback) > 0) { %>
			<div class="paperrating paperrating-neutral">Avg: <%= ((f.greenPaperfeedback * 3 + f.yellowPaperfeedback * 2 + f.redPaperfeedback * 1) / (f.greenPaperfeedback + f.yellowPaperfeedback + f.redPaperfeedback)).toFixed(2) %></div>
		<% } %>
		<div class="clear"></div>

		<p class="ratingheader">Webkommentarer:</p>
		<% _.each(f.writtenFeedbacks, function(s) { %>
			<div class="webcomment"><%= jz.utils.paragraphs(s) %></div>
		<% }) %>
	</div>
	

<% }) %>