<h2>Konferansen som helhet:</h2>

<div class="feedbackwrapper">
	<p>Totalt antall stjerneratings på web: <%= feedback.totalNumberOfRatings %></p>
	<p>Gjennomsnitt stjerneratings fra web for alle talks: <%= feedback.conferenceAverageRating %></p>

	<p>Kommentarer:</p>
	<% _.each(feedback.conferenceFeedback, function(s) { %>
		<div class="webcomment"><%= jz.utils.paragraphs(s) %></div>
	<% }) %>
</div>

<h2>Epost-adresser som har gitt feedback:</h2>

<div class="feedbackwrapper">
	<% _.each(feedback.emails, function(s) { %>
		<div class="webcomment"><%= jz.utils.paragraphs(s) %></div>
	<% }) %>
</div>

<h2>Talks:</h2>

<% _.each(feedback.feedbacks, function(f, i) { %>
	
	<div class="feedbackwrapper">
		<h4><%= f.title %> (
			<% _.each(f.speakers, function(s) { %>
				<%= s %>  
			<% }) %>
		)</h4>
		<p>Stjerneratings antall: <%= f.numberOfRatingsWeb %></p>
		<p>Stjerneratings gjennomsnitt: <%= f.averageRatingWeb %></p>
		<p>Webkommentarer:</p>
		<% _.each(f.writtenFeedbacks, function(s) { %>
			<div class="webcomment"><%= jz.utils.paragraphs(s) %></div>
		<% }) %>
	</div>
	

<% }) %>