<div class="feedback hide">
    <textarea placeholder="Provide feedback to this presenter..."></textarea>
    <p><a href="#">Submit feedback</a></p>
</div>



<!-- UNGROUPED PRESENTATIONS -->
<% if(notScheduledPresentations.length > 0) { %>
    <div class="day">

        <h2 class="program-header">
            Presentations at JavaZone 2014
        </h2>
        <% _.each(notScheduledPresentations, function(pres, i) { %>
            
            <a href="/presentation.html?id=<%= pres.id %>"
                data-id="<%= pres.id %>"
                data-feedback="<%= jz.api.link(pres, 'feedback') %>"
                class="session session-<%= i %>
                    <%= pres.slugs.join(' ') %>
                    <%= jz.utils.slug(pres.language) %>
                    <%= jz.utils.slug(pres.level) %>
                    <%= jz.utils.slug(pres.format) %>
                    <% if (jz.api.link(pres, 'feedback')) { %>session-rateable<% } %>
                    <% if (pres.format === 'presentation') { %>session-presentation<% } %>
                    <% if (pres.format === 'lightning-talk') { %>session-lightning<% } %>
                    <% if (pres.format === 'workshop') { %>session-workshop<% } %>
                    ">

                    <div class="badge-lightning"><i class="fa fa-bolt" title="Lightning talk"></i></div>
                    <div class="badge-workshop"><i class="fa fa-cogs" title="Workshop"></i></div>

                <span class="title">
                    <span class="level level-<%= pres.level %>" title="<%= _.str.capitalize(pres.level) %>"></span>
                    <%= _.str.truncate(pres.title, 55) %>
                </span>

                <span class="person">
                    <img src="<%= pres.imgs[0] %>?s=36&amp;d=identicon"> 
                    <%= _.str.truncate(pres.names, 20).replace(/[ ]+/g, "&nbsp;") %>
                </span>

                <span class="room">
                    <% if (jz.api.link({ links: pres.links }, 'video')) { %>
                        <span class="videolink"><i class="fa fa-play"></i> Watch</span>
                    <% } %>
                </span>
            </a>

        <% }) %>

    </div>
<% } %>


<!-- UNGROUPED LIGHTNING TALKS -->
<% if(notScheduledLightning.length > 0) { %>
    <div class="day">

        <h2 class="program-header">
            Lightning Talks at JavaZone 2014
        </h2>
        <% _.each(notScheduledLightning, function(pres, i) { %>
            
            <a href="/presentation.html?id=<%= pres.id %>"
                data-id="<%= pres.id %>"
                data-feedback="<%= jz.api.link(pres, 'feedback') %>"
                class="session session-<%= i %>
                    <%= pres.slugs.join(' ') %>
                    <%= jz.utils.slug(pres.language) %>
                    <%= jz.utils.slug(pres.level) %>
                    <%= jz.utils.slug(pres.format) %>
                    <% if (jz.api.link(pres, 'feedback')) { %>session-rateable<% } %>
                    <% if (pres.format === 'presentation') { %>session-presentation<% } %>
                    <% if (pres.format === 'lightning-talk') { %>session-lightning<% } %>
                    <% if (pres.format === 'workshop') { %>session-workshop<% } %>
                    ">
                    
                    <div class="badge-lightning"><i class="fa fa-bolt" title="Lightning talk"></i></div>
                    <div class="badge-workshop"><i class="fa fa-cogs" title="Workshop"></i></div>

                <span class="title">
                    <span class="level level-<%= pres.level %>" title="<%= _.str.capitalize(pres.level) %>"></span>
                    <%= _.str.truncate(pres.title, 55) %>
                </span>

                <span class="person">
                    <img src="<%= pres.imgs[0] %>?s=36&amp;d=identicon"> 
                    <%= _.str.truncate(pres.names, 20).replace(/[ ]+/g, "&nbsp;") %>
                </span>

                <span class="room">
                    <% if (jz.api.link({ links: pres.links }, 'video')) { %>
                        <span class="videolink"><i class="fa fa-play"></i> Watch</span>
                    <% } %>
                </span>
            </a>

        <% }) %>

    </div>
<% } %>