<div class="feedback hide">
    <textarea placeholder="Provide feedback to this presenter..."></textarea>
    <p><a href="#">Submit feedback</a></p>
</div>

<div class="sessions">
<% _.each(sessions, function(day) { %>
<div class="day">

    <h2 class="program-header">
        <%= jz.date.weekday(day[0][0].start) %>,<br>
        <%= jz.date.day(day[0][0].start) %>
    </h2>
    <% _.each(day, function(slot) { %>
        <div class="slot">

            <div class="slot-time">
                <%= jz.date.time(slot[0].start) %>
            </div>

            <% _.each(slot, function(pres, i) { %>
                
                <a href="/presentation.html?id=<%= pres.id %>"
                    data-id="<%= pres.id %>"
                    data-feedback="<%= jz.api.link(pres, 'feedback') %>"
                    class="session session-<%= i %>
                        <%= pres.slugs.join(' ') %>
                        <%= jz.utils.slug(pres.language) %>
                        <%= jz.utils.slug(pres.level) %>
                        <%= jz.utils.slug(pres.room) %>
                        <%= jz.utils.slug(pres.format) %>
                        <% if (jz.api.link(pres, 'feedback')) { %>session-rateable<% } %>
                        session-<%= pres.format === 'presentation' ? 'long' : 'short' %>">

                    <div class="time"><%= jz.date.time(pres.start) %></div>
                    <div class="badge"><i class="icon-bolt" title="Lightning talk"></i></div>

                    <span class="title">
                        <span class="level level-<%= pres.level %>" title="<%= _.str.capitalize(pres.level) %>"></span>
                        <%= _.str.truncate(pres.title, 55) %>
                    </span>

                    <span class="person">
                        <img src="<%= pres.imgs[0] %>?s=36&amp;d=identicon"> 
                        <%= _.str.truncate(pres.names, 20).replace(/[ ]+/g, "&nbsp;") %>
                    </span>

                    <% if (jz.api.link(pres, 'feedback')) { %>
                        <span class="rate <%= pres.rating > 0 ? 'rate-inactive' : 'rate-active' %>">
                            <i class="rate-icon <%= pres.rating > 0 ? 'icon-star' : 'icon-star-empty' %>" data-rate="1"></i>
                            <i class="rate-icon <%= pres.rating > 1 ? 'icon-star' : 'icon-star-empty' %>" data-rate="2"></i>
                            <i class="rate-icon <%= pres.rating > 2 ? 'icon-star' : 'icon-star-empty' %>" data-rate="3"></i>
                            <i class="comment-icon icon-comment-alt"></i>
                        </span>
                    <% } else { %>
                        <span class="room"><%= pres.room %></span>
                    <% } %>
                </a>

            <% }) %>


        </div>

    <% }) %>

</div>
<% }) %>
</div>
