<h2 class="first"><%= all.feedback.title %> <br><span><%= all.feedback.speakers.join(" and ") %></span></h2>

<p>Below, we have collected the feedback we have on your talk. We hope this is of use for you. Please let us know if you have any questions or if there is anything that's unclear.</p>
<p>We hope to see you again next year. We'll give you a heads up before the "Call for Speakers" for JavaZone 2015 starts.</p>


<div class="ratingresult-wrapper">
	<h4>1. Ratings given right after the talk (paper notes)</h4>
	<% if(avgPaper > 0) { %>
		<p>During the conference, we asked all participants to rate the talks using green, yellow and red notes. <%= all.feedback.greenPaperfeedback + all.feedback.yellowPaperfeedback + all.feedback.redPaperfeedback %> people left this kind of feedback for your talk. This is the counted ratings:</p>

		<div class="paperrating paperrating-green"><%= all.feedback.greenPaperfeedback %><span>Green notes</span></div>
		<div class="paperrating paperrating-yellow"><%= all.feedback.yellowPaperfeedback %><span>Yellow notes</span></div>
		<div class="paperrating paperrating-red"><%= all.feedback.redPaperfeedback %><span>Red notes</span></div>
		<div class="clear"></div>
		<div class="space"></div>

		<p>To give you a feel for how this compares to the rest of the conference, here are your talk's calculated score (<%= avgPaper %>) compared to the average rating of all other JavaZone talks combined (<%= avgAllPaper %>).</p>
		<div>
			<canvas id="average-rating-paper-gauge" width="150" height="100"></canvas>
			<canvas id="average-rating-paper-all-gauge" width="150" height="100"></canvas>
		</div>
		<div class="gaugetext">Your talk</div>
		<div class="gaugetext">All talks</div>
		<div class="clear"></div>
		<div class="space"></div>
		<p class="small">A full gauge would mean only green notes, and an empty one would mean only red ones.</p>

		<p>To give you an even better context for your rating, here are all the rated talks at JavaZone and their rating shown in a histogram.</p>
		<div class="histogram">
			<canvas id="paperHistogram" width="730" height="150"></canvas>
		</div>
	<% } else { %>
		<p>We didn't collect paper ratings at the lightning talks due to the fact that there were four or five consecutive talk in the same room. Sorry about that. We'll look into a smarter system for this next year :)</p>
	<% } %>
</div>



<div class="ratingresult-wrapper">
	<h4>2. Ratings given after the conference (web form)</h4>

	<% if(avgWeb > 0) { %>
		<p>We sent out a feedback form to all attendees of JavaZone, asking them to rate the talks using 1 to 3 stars. The feedback-form <a href="/survey.html">can be found here</a>, and are still active, meaning these numbers will update if more people give their feedback.</p>

		<p><%= all.feedback.redWeb + all.feedback.yellowWeb + all.feedback.greenWeb %> people voted on your talk:</p> 

		<div class="paperrating paperrating-green"><%= all.feedback.greenWeb %><span>3 stars</span></div>
		<div class="paperrating paperrating-yellow"><%= all.feedback.yellowWeb %><span>2 stars</span></div>
		<div class="paperrating paperrating-red"><%= all.feedback.redWeb %><span>1 star</span></div>
		<div class="clear"></div>
		<div class="space"></div>

		<p>The calculated rating for your talk (<%= avgWeb %>) can be compared to the conference average (<%= avgAllWeb %>):</p>
		<div>
			<canvas id="average-rating-web-gauge" width="150" height="100"></canvas>
			<canvas id="average-rating-web-all-gauge" width="150" height="100"></canvas>
		</div>
		<div class="gaugetext">Your talk</div>
		<div class="gaugetext">All talks</div>
		<div class="clear"></div>
		<div class="space"></div>
		<p class="small">A full gauge would mean an average of 1.00, a full gauge an average of 3.00.</p>

		<p>To give you an even better context for your rating, here are all the rated talks at JavaZone and their rating shown in a histogram.</p>
		<div class="histogram">
			<canvas id="webHistogram" width="730" height="150"></canvas>
		</div>
		<div class="spacex"></div>
		<p class="small">A note about web ratings: these numbers are based on a total of <%= all.feedback.redWeb + all.feedback.yellowWeb + all.feedback.greenWeb %> votes on your talk, and a total of <%= all.redWebRatings + all.yellowWebRatings + all.greenWebRatings %> ratings for all talks. This means they are less statistically significant than we would like. If you have any good ideas on how to get even more people to vote after the conference, please let us know :)</p>
	<% } else { %>
		<p>No feedback was given on your talk at the web pages</p>
		<p class="small">We are open for any good suggestions on how we can get more people to give feedback after the conference, please let us know if you have any good ideas :)</p>
	<% } %>
</div>


<div class="ratingresult-wrapper">
	<h4>3. Comments given on your talk (web form)</h4>

	<% if(all.feedback.writtenFeedbacks.length > 0) { %>
		<p>We also provided the attendees with the opportunity to leave comments on the rating form. The following comments were left on your talk.</p>

		<% _.each(all.feedback.writtenFeedbacks, function(s) { %>
			<div class="webcomment"><%= jz.utils.paragraphs(s) %></div>
		<% }) %>

		<p class="small">Please note that these comments are uncensored directly from the web, so should there be any inappropriate comments, please let us know (we have the IP-adresses of all commenters).</p>
	<% } else { %>
		<p>No written comments was given on your talk at the web pages.</p>
		<p class="small">We are open for any good suggestions on how we can get more people to give feedback after the conference, please let us know if you have any good ideas :)</p>
	<% } %>
</div>


<div class="ratingresult-wrapper">
	<h4>4. The video of your talk at Vimeo</h4>
	<p>We release all talks on video at Vimeo just hours after the conference is over. JavaZone is a conference arranged by volunteers, and we belive in the sharing of knowledge: thats why all videos are release for free, without any sort of login. Feel free to share it as much as you like :)</p>

	<div class="talkvideo">
        <iframe src="<%= all.feedback.vimeoLink.replace("http://vimeo.com/", "//player.vimeo.com/video/") %>?title=0&amp;byline=0&amp;portrait=0&amp;color=A10735" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="space"></div>
    <p>Your talk at Vimeo: <a href="<%= all.feedback.vimeoLink %>"><%= all.feedback.vimeoLink %></a></p>
    <p>If you would like to share it in the context of your talk's description, feel free to use the program site URL instead: <a href="/presentation.html?id=<%= all.feedback.id.substring(0,8) %>">http://2014.javazone.no/presentation.html?id=<%= all.feedback.id.substring(0,8) %></a></p>

	<p>The following are a few stats for your video:</p>
	<div class="paperrating paperrating-neutral"><%= all.feedback.vimeoStats.loads %><span>Loads</span></div>
	<div class="paperrating paperrating-green"><%= all.feedback.vimeoStats.plays %><span>Full plays</span></div>
	<div class="paperrating paperrating-yellow"><%= all.feedback.vimeoStats.downloads %><span>Downloads</span></div>
	<% if(all.feedback.vimeoStats.likes > 0) { %><div class="paperrating paperrating-blue"><%= all.feedback.vimeoStats.likes %><span>Likes</span></div><% } %>
	<div class="clear"></div>
	<div class="space"></div>
	<p class="small">(updated September 21th. See the stats at vimeo for the most up to date stats)</p>

	<p>Regarding copyright: you are free to do whatever you want with the video, it is your presentation, so you control the content. Feel free to embed it and share it anywhere you like, or download it and host it elsewhere if you want that as well.</p>
</div>


<p>Best regards,<br>
The JavaZone Program committee.<br>
<a href="mailto:javazone@java.no">javazone@java.no</a></p>
