<h2 class="first"><%= _.pluck(session.speakers, "name").join("and ") %>, you rock!</h2>
<p>Thank you for doing an awesome job presenting <%= session.title %> at JavaZone 2013! We have asked the participants to rate all the talks, and the following is a a summary of the stats we have for yours.</p>

<h3><i class="icon-star"></i>Rating from participants</h3>
<p class="small">The participants were asked to rate talks on a scale from 1 to 3 stars. Your talk received an average rating of <strong><%= avgRating.toFixed(2) %></strong>.</p>

<canvas id="average-rating-gauge" width="200" height="100"></canvas>

<h3><i class="icon-bullhorn"></i>Average conference rating</h3>
<p class="small">You can compare your talk to the rest. The average rating of all talks at JavaZone 2013 was <strong><%= avgRatingForAllTalks.toFixed(2) %></strong></p>
<canvas id="avg-all-talks-gauge" width="200" height="100"></canvas>


<h3><i class="icon-signal"></i> Statistics and stuff</h3>
<p class="small">
	We have collected some statistics from various systems about your talk. These numbers are counting stuff up until the 10th of October 2013.
	<ul class="talkcomments">
		<li>On our web pages, the page of your presentation has been viewed a total of <strong><%= pageViews %> times</strong> after the conference.</li>
		<li>While your talk has been on Vimeo, there have been <strong><%= videoStats.loads %> people</strong> who have started viewing it. </li>
		<li>Of these views, a total of <strong><%= videoStats.plays %> people</strong> has viewed the whole thing from start to finish. </li>
		<li><strong><%= videoStats.downloads %> cool people</strong> have even downloaded your talk from Vimeo to their machine. </li>
	</ul>
</p>

<% if(comments.length > 0) { %>
	<h3><i class="icon-comments-alt"></i>Comments on your talk</h3>
	<p class="small">The participants were asked to comment on your talk. This is the comments that were submitted.</p>

	<ul class="talkcomments">
	    <% _.each(comments, function(text) { %>
	    	<li><%= text %></li>
	    <% }); %>
	</ul>
<% } %>

<h3><i class="icon-heart"></i>Share the love!</h3>
<p class="small">Even though JavaZone 2013 is over, people from all over the world can still see your talk. We guess you already know this, but your talk is availiable on Vimeo. Share it with everyone: <a href="<%= jz.api.link(session, "video") %>"><%= jz.api.link(session, "video") %></a></p>

<p>&nbsp;</p>

<p>Thanks again! We hope to see you again next year. Follow us on <a href="https://twitter.com/JavaZone">Twitter</a> to be the first to know about next years Call for Speakers.</p>
<p>Best regards,<br>The JavaZone committee!</p>

<% if(comments.length > 0) { %>
	<p class="small">Note: the comments displayed above are unmoderated by us. Feel free to <a href="mailto:javazone@java.no">contact us</a> if there are any inappropriate comments.</p>
<% } %>