<h3 class="first">Want to attend the workshop?</h3>

<% if(status == 'FULL') { %>
	<p class="status">The workshops are included in the regular JavaZone ticket, but registration is on a first-come first-served basis, as the seating is limited.</p>
	<p class="status">This workshop is fully booked. You can sign up for the waiting list, meaning you will get a spot if someone else unregisters.</p>
	<a href="/moosehead/#/register/<%= id %>" class="sharer"><i class="fa fa-pencil"></i> <span>Sign up for waiting list</span></a>
<% } else if(status == 'FREE_SPOTS' || status == 'FEW_SPOTS') { %>
	<p class="status">The workshops are included in the regular JavaZone ticket, but registration is on a first-come first-served basis, as the seating is limited.</p>
	<a href="/moosehead/#/register/<%= id %>" class="sharer"><i class="fa fa-pencil"></i> <span>Sign up for the workshop</span></a>
<% } else if(status == 'NOT_OPENED') { %>
	<p class="status">Registration for workshops will be opened <strong>August 14th</strong>. The workshops are included in the regular JavaZone ticket, but registration is on a first-come first-served basis, as the seating is limited.</p>
<% } else { %>
	<p class="status">Registration for workshops will be opened <strong>August 14th</strong>. The workshops are included in the regular JavaZone ticket, but registration is on a first-come first-served basis, as the seating is limited.</p>
<% } %>