<div class="jumbotron illustration-question">
	<%= partial('assets/svg/illustrations/hoder/hode5.svg') %>
</div>

<div class="jumbotron container">
	<h1>JavaZone Partnermøte Juni 2015</h1>
	<p>Nedenfor finner du presentasjonen som ble holdt på Teknologihuset torsdag 11. Juni.</p>
	<p>Presentasjonen inneholder en statusoppdatering for JavaZone 2015, informasjon om vårt nye expo-område og nyttige tips og frister for partnerskap og stand i Expo.</p>
	<br>
	<div class="contact">
		<a class="button button-wide" href="mailto:<%= settings.partner_mail %>">Spørsmål? <%= settings.partner_mail %></a>
	</div>
</div>

<div class="section container cf">
	<div class="sub-section cf">
		<h1 class="section-header">Viktig info om <br>Expo-området</h1>
		<div class="section-content">
			<p>
				I 2015 gjør vi en stor endring i kveldskonseptet på JavaZone. Vi flytter rett og slett hele festen fra Rockefeller og ned til Oslo Spektrum. Vi lanserer en splitter ny Sal 1, der vi kommer til å kjøre de største foredragene på dagtid, og deretter kjører vi konserter på kveldstid. Dette betyr at det blir mingling i Expo-området også på kveldstid. Les mer om dette <a href="#slide018">i presentasjonen nedenfor</a>. Vi har også en del <a href="#slide024">nyttige tips til deg som skal være partner på JavaZone</a>, og anbefaler at du leser igjennom disse. Ta kontakt på <a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a> om du har noen spørsmål.</p>
			</p>
		</div>
	</div>

	<div class="sub-section">
		<div class="table-of-contents">
			<div class="table-of-content cf">
				<h2>Statusoppdateringer:</h2>
				<ul>
					<li><a href="#slide005">Call for Speakers</a></li>
					<li><a href="#slide054">Viktige datoer</a></li>
					<li><a href="#slide013">Markedsføring</a></li>
					<li><a href="#slide048">JavaZone Academy</a></li>
				</ul>
			</div>
			<div class="table-of-content">
				<h2>Expo 2.0:</h2>
				<ul>
					<li><a href="#slide018">Konseptet Expo 2.0</a></li>
					<li><a href="#slide021">Nyheter siden sist</a></li>
					<li><a href="#slide022">Konserter og musikk</a></li>
					<li><a href="#slide027">Skisser Expo-område</a></li>
				</ul>
			</div>
			<div class="table-of-content">
				<h2>Partnerskap og stand</h2>
				<ul>
					<li><a href="#slide032">Standkonkurransen</a></li>
					<li><a href="#slide040">Tips til kvelden</a></li>
					<li><a href="#slide036">Veien videre & tidsfrister</a></li>
					<li><a href="#slide045">Partnerbilletter</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>


<a class="anchor" id="slide001"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.001.jpg" />
<a class="anchor" id="slide002"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.002.jpg" />
<a class="anchor" id="slide003"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.003.jpg" />
<a class="anchor" id="slide004"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.004.jpg" />
<a class="anchor" id="slide005"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.005.jpg" />
<a class="anchor" id="slide006"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.006.jpg" />
<a class="anchor" id="slide007"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.007.jpg" />
<a class="anchor" id="slide008"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.008.jpg" />
<a class="anchor" id="slide009"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.009.jpg" />
<a class="anchor" id="slide010"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.010.jpg" />
<a class="anchor" id="slide011"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.011.jpg" />
<a class="anchor" id="slide012"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.012.jpg" />
<a class="anchor" id="slide013"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.013.jpg" />
<a class="anchor" id="slide014"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.014.jpg" />
<a class="anchor" id="slide015"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.015.jpg" />
<a class="anchor" id="slide016"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.016.jpg" />
<a class="anchor" id="slide017"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.017.jpg" />
<a class="anchor" id="slide018"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.018.jpg" />
<a class="anchor" id="slide019"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.019.jpg" />
<a class="anchor" id="slide020"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.020.jpg" />
<a class="anchor" id="slide021"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.021.jpg" />
<a class="anchor" id="slide022"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.022.jpg" />
<a class="anchor" id="slide023"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.023.jpg" />
<a class="anchor" id="slide024"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.024.jpg" />
<a class="anchor" id="slide025"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.025.jpg" />
<a class="anchor" id="slide026"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.026.jpg" />
<a class="anchor" id="slide027"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.027.jpg" />
<a class="anchor" id="slide028"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.028.jpg" />
<a class="anchor" id="slide029"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.029.jpg" />
<a class="anchor" id="slide030"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.030.jpg" />
<a class="anchor" id="slide031"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.031.jpg" />
<a class="anchor" id="slide032"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.032.jpg" />
<a class="anchor" id="slide033"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.033.jpg" />
<a class="anchor" id="slide034"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.034.jpg" />
<a class="anchor" id="slide035"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.035.jpg" />
<a class="anchor" id="slide036"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.036.jpg" />
<a class="anchor" id="slide037"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.037.jpg" />
<a class="anchor" id="slide038"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.038.jpg" />
<a class="anchor" id="slide039"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.039.jpg" />
<a class="anchor" id="slide040"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.040.jpg" />
<a class="anchor" id="slide041"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.041.jpg" />
<a class="anchor" id="slide042"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.042.jpg" />
<a class="anchor" id="slide043"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.043.jpg" />
<a class="anchor" id="slide044"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.044.jpg" />
<a class="anchor" id="slide045"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.045.jpg" />
<a class="anchor" id="slide046"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.046.jpg" />
<a class="anchor" id="slide047"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.047.jpg" />
<a class="anchor" id="slide048"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.048.jpg" />
<a class="anchor" id="slide049"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.049.jpg" />
<a class="anchor" id="slide050"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.050.jpg" />
<a class="anchor" id="slide051"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.051.jpg" />
<a class="anchor" id="slide052"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.052.jpg" />
<a class="anchor" id="slide053"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.053.jpg" />
<a class="anchor" id="slide054"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.054.jpg" />
<a class="anchor" id="slide055"></a> <img class="slide" src="/resources/partner/juni2015/slides/slide.055.jpg" />

<div class="section container">
	<div class="prospectus">
		<a class="button button-wide" href="/resources/partner/juni2015/javazone-partnermote-juni2015.pdf">Last ned presentasjonen (PDF)</a>
	</div>

	<div class="sub-section cf">
		<h1 class="section-header">Kontakt oss</h1>
		<div class="section-content">
			<p>JavaZone holdes i September 2015, men ta kontakt med oss om du har noen tanker og ideer så snart som mulig, slik at vi kan hjelpe deg å få til et så bra standkonsept som mulig. Vi jobber hardt for at alle standplasseringene i Expo-området skal være godt plassert og ha en god dynamikk, men har du spesielle ønsker så lønner det seg å være tidlig ute.</p>

			<p>Send oss en mail til <a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a>, så tar vi kontakt.</p>

			<p>For information in english, please refer to our <a href="/partners.html">partnership web pages</a> and our <a href="/resources/partner/partnership-prospectus-javazone2015.pdf">partnership prospectus</a>. You can also contact us at <a href="mailto:<%= settings.partner_mail %>"><%= settings.partner_mail %></a></p>
		</div>
	</div>
</div>