<div class="nav">
	<div class="container cf">
		<ul class="nav-mobile">
			<li><a href="/partners.html">Partners</a></li>
			<li><a href="/contact.html">Contact</a></li>
		</ul>
		<div class="nav-desktop">
			<div class="nav-element nav-item left">
				<a href="/partners.html">Partners</a>
			</div>
			<div class="nav-element logo">
				<a href="/"><%= partial('assets/svg/logo.svg') %></a>
			</div>
			<div class="nav-element nav-item right">
				<a href="/contact.html">Contact</a>
			</div>

			<button class="nav-toggle">
				<%= partial('assets/svg/menu.svg') %>
			</button>
		</div>
	</div>
</div>