<div class="nav">
	<div class="nav-logo">
		<a href="/"><%= partial('assets/svg/logo.svg') %></a>
	</div>
	<div class="nav-desktop container cf">
		<ul>
			<li class="nav-item left">
				<a href="/speakers.html">Partners</a>
			</li>
			<li class="nav-item left">
				<a href="/tickets.html">Tickets</a>
			</li>
			<li class="nav-item left">
				<a href="/toptalks.html">Best of '14</a>
			</li>
			<li class="nav-item">
				<a href="/partners.html">Speakers</a>
			</li>
			<li class="nav-item">
				<a href="/stories.html">Stories</a>
			</li>
			<li class="nav-item">
				<a href="/contact.html">Contact</a>
			</li>
		</ul>
	</div>
	<div class="nav-mobile">
		<button class="nav-toggle">
			<%= partial('assets/svg/menu.svg') %>
		</button>
		<div class="mobile-background"></div>
		<div class="nav-mobile-items">
			<ul>
				<li class="nav-item">
					<a href="/speakers.html">Speakers</a>
				</li>
				<li class="nav-item">
					<a href="/tickets.html">Tickets</a>
				</li>
				<li class="nav-item">
					<a href="/toptalks.html">Best of '14</a>
				</li>
				<li class="nav-item">
					<a href="/partners.html">Partners</a>
				</li>
				<li class="nav-item">
					<a href="/stories.html">Stories</a>
				</li>
				<li class="nav-item">
					<a href="/contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>