# Instead of Control-a, make the escape/command character be Control-x
escape ^Xx

# Autodetach session on hangup instead of terminating screen completely
autodetach on

# Turn off the splash screen
startup_message off

# Use a 3000-line scrollback buffer
defscrollback 3000

# Charset
encoding UTF-8
defutf8 on

# Color
term screen-256color
attrcolor b ".I"
defbce "on"

# Make xterm scrolling work properly with screen.
termcapinfo xterm-color|xterm|xterms|xs|rxvt|screen-256color-bce ti@:te@

# No key timeout
maptimeout 0
defc1 off

# don't remove windows from the window list as soon as window process exits.
zombie kr #  k: destory window, r: resurrect window

# Open initial screens
screen -t work $JZ_BASEDIR/screen-intro.sh
screen -t backend $JZ_BASEDIR/web.sh
screen -t frontend $JZ_BASEDIR/frontend.sh
screen -t mongo $JZ_BASEDIR/mongo.sh
screen -t proxy $JZ_BASEDIR/proxy

# Go to the first shell
select work

# Changing windows
bindkey ^[[5;5~ prev
bindkey ^[[6;5~ next
bind ',' prev
bind '.' next
bind 'q' quit

# F1-F10 selects screens 0-9
bindkey -k k1 select 0
bindkey -k k2 select 1
bindkey -k k3 select 2
bindkey -k k4 select 3
bindkey -k k5 select 4
bindkey -k k6 select 5
bindkey -k k7 select 6
bindkey -k k8 select 7
bindkey -k k9 select 8
bindkey -k k0 select 9

# messages
bell_msg '[ ^GBell -> %n ]'
activity '[ ^GActivity -> %n ]'

# toolbar
hardstatus off
caption always '%{= kb}%c%{= kw} :: %{= kg}%H%{= kw} :: %{= kw}%?%-Lw%?%{= kr}%n*%f %t%?(%u)%?%{= kw}%?%+Lw%?%?'
