<% set('page', 'page-invert') %>
<%= partial("_partials/menu.html") %>


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0 tile-volunteer-dragup"><div class="tile-inner tile-inner-tighttop">
        <div class="illustration ill-infostand ill-infostand-center animated rollIn"></div>

        <div class="spacex"></div>

    	<h2 class="first center color1 animated fadeInDown">
            Hjelp oss å arrangere Nord-Europas største IT-konferanse!<br>
            Meld deg som JavaZone-frivillig i dag!
        </h2>

        <p class="center animated fadeInDown">Hvert år strømmer over 2000 utviklere til Oslo for å delta på JavaZone. I tillegg kommer over 150 foredragsholdere fra hele verden, pluss mennesker fra over 40 ulike partnere.</p> 
		<p class="center animated fadeInDown">Har du lyst til å bidra til at disse 2.500 menneskene skal få en fantastisk opplevelse, og også få ta del i dette selv? Er du student? Perfekt! Du er akkurat den vi leter etter! Søk som frivillig på JavaZone 2014, og bli med å hjelpe oss å lage tidenes beste JavaZone!</p>

		<div class="spacexx"></div>
        <p class="centerbutton animated fadeInDown">
            <a href="https://docs.google.com/forms/d/1UiqYKiWLMKHmSL8cI4RC-7FtB7QrOcs-glEv1A-Ukw8/viewform" class="button"><i class="fa fa-check"></i> Søk som frivillig<span class="not-min"> på JavaZone 2014</span></a>
        </p>
		<p class="centersmall animated fadeInDown">Søknadsfrist 15. Juni 2014</p>

        <div class="spacexx"></div>

        <h2 class="first center color2">
            Vil du ha litt mer informasjon kanskje? Det skal du få!
        </h2>

        <div class="spacex"></div>

        <div class="moreinfoboxes">
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-user"></i> Hvem kan bli frivillig på JavaZone?</h3>
	        	<p>Alle studenter som behersker norsk og engelsk flytende kan bli frivillige på JavaZone. Så lenge du vil gjøre en innsats, så er du hjertelig velkommen til å søke!</p>
	        </div>
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-bar-chart-o"></i> Hvor mange frivillige bidrar på JavaZone?</h3>
	        	<p>Hvert år deltar ca 50 frivillige på JavaZone. Interessen for dette er stor, så dessverre får ikke alle søkere plass. Men ikke la dette hindre deg i å søke, prøv da vel!</p>
	        </div>
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-comments-o"></i> Får jeg med meg noe faglig som frivillig?</h3>
	        	<p>Å være frivillig på JavaZone er litt som å være frivillig på en musikkfestival, bare mer nerdete! Du får derfor ca 50% fri, og kan da gå på foredrag, spise god mat og snakke med kule folk.</p>
	        </div>
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-fighter-jet"></i> Hva med reise hvis jeg ikke bor i Oslo?</h3>
	        	<p>JavaZone dekker ikke reise eller overnatting for frivillige. Men erfaringsmessig så er det mange studiesteder som velger å gi reisestøtte. Spør derfor instituttet/skolen din om dette.</p>
	        </div>
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-beer"></i> Får jeg bli med på AweZone?</h3>
	        	<p>Selvsagt får du det! JavaZone er ikke det samme uten! Her får du se 6 band og snakke med de kuleste folka i IT-bransjen! Ingen jobbing på kvelden – bare fest og morro =)</p>
	        </div>
	        <div class="moreinfobox">
	        	<h3><i class="fa fa-flag-o"></i> I don't speak norwegian… What about me?</h3>
	        	<p>Beeing a volunteer at JavaZone requires you to be fluent in both norwegian and english. This is because you are one of the main goto-people for 2500 guests.</p>
	        </div>
	        <div class="clear"></div>
        </div>

        <div class="spacex"></div>

        <p class="questions-link"><a href="mailto:student@java.no">Spørsmål? Kontakt oss på <span>student@java.no</span></a></p>

        <p class="centerbutton">
            <a href="https://docs.google.com/forms/d/1UiqYKiWLMKHmSL8cI4RC-7FtB7QrOcs-glEv1A-Ukw8/viewform" class="button"><i class="fa fa-check"></i> Søk som frivillig<span class="not-min"> på JavaZone 2014</span></a>
        </p>
        <p class="centersmall">Søknadsfrist 15. Juni 2014</p>

    </div></div>
</div>


<div class="tiles">
    <div class="tile tile-big tile-ill tile-ill-full tile-color0"><div class="tile-inner">
        <div class="illustration ill-8"></div>
    </div></div>
</div>













<%= partial("_partials/footer.html") %>