/*
	Fargepaletten til JavaZone
	(inntil vi får less-variabler)

    Main Text #394549
    Light Text #ccc

    Burgunder:  a10035;
    Lyserød:    ff4f4c;
    Oransje:    ff8641;
    Gul:        fcaf17;
    Lysegrønn:  149089;
    Mørkegrønn: 286a65;
    Svart:      101010;
*/


body {
	background: #fefefe;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'sans serif';
	font-size: 16px;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
	margin-left: 20px;
	margin-right: 20px;
}

a {
	color: #a10035;
	text-decoration: none;
}
a:hover {
	color: #ff8641;
}