/*
	Fargepaletten til JavaZone
	(inntil vi får less-variabler)

    Main Text #394549
    Light Text #ccc

    Burgunder:  a10035;
    Lyserød:    ff4f4c;
    Oransje:    ff8641;
    Gul:        fcaf17;
    Lysegrønn:  149089;
    Mørkegrønn: 286a65;
    Svart:      101010;
*/


body {
	background: #fefefe;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'sans serif';
	font-size: 16px;
    line-height: 1.4;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content {
    margin: 210px 0 40px 0;
}

.container {
    max-width: 840px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

@media (min-width: 880px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

a {
	color: #a10035;
	text-decoration: none;
}

a:hover {
	color: #ff8641;
}

h1 {
    font-size: 1.6em;
    font-weight: 300;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}