.contact dl {
	margin: 0;
	padding: 0;
}

.contact dt, .contact dd {
	float: left;
	width: 50%;
	font-size: .9em;
	font-weight: 300;
	margin: 0;
}

.contact dt {
	margin-bottom: 15px;
	text-align: left;
}

.contact dd {
	margin-bottom: 15px;
	text-align: right;
}

.contact dd a {
	background: none;
	color: #286a65;	
}

.contact dd a:hover {
	background: none;
}

.contact .contacts {
	margin-top: 3.5em;
}

@media (min-width: 768px) {
	.contact dt, .contact dd {
		font-size: 1.3em;
	}
}

@media (min-width: 345px) {
	.contact dt {
		padding-right: 20px;
		text-align: right;
	}

	.contact dd {
		padding-left: 20px;
		text-align: left;
	}
}