.javazone-submission-details .section {
    padding-top: 0;
}

.details-page .submission-speakers-images {
    text-align: center;
}

.details-page .submission-speakers-images img {
    border-radius: 100%;
    height: 120px;
    margin: 0 20px;
    width: 120px;
}

.details-page .submission-speakers-names {
    font-family: Vollkorn;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 1em;
    text-align: center;
}

.details-page p:first-child {
    margin: .4em 0;
}

.details-page p.submission-summary {
    font-size: .9em;
    font-weight: 600;
    margin-top: .6em;
}

.details-page .section > h1 {
    margin-top: 2em;
    text-align: center;
}

.details-page .submission-description {
    margin-top: 1.5em;
}

.details-page .section ul:before {
    display: none;
}

.details-page .section ul {
    margin-bottom: 0;
    padding-left: 0;
}

.details-page .submission-keyword {
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 0;
    opacity: .5;
    padding: 1px 10px;
}

.details-page dl {
    margin-top: .3em;
}

.details-page input[type=radio]{
    display: none;
}

.details-page #video iframe {
    height: 27em;
    width: 100%;
}

.details-page .rating-category {
    margin-bottom: 1.5em;
}

.details-page .rating-label {
    -webkit-transition: border-color .2s ease;
    -moz-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    transition: border-color .2s ease;
    border: 2px solid #ddd;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    text-align: center;
    width: 50px;
}

.details-page .rating-container h1 {
    text-align: center;
}

.details-page .rating-container .section.container {
    margin: 0;
}

.details-page .rating-label:before {
    -webkit-transition: border-color .2s ease;
    -moz-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    transition: border-color .2s ease;
    content: '';
    display: inline-block;
    position: relative;
    border: 1px solid #ddd;
}

.details-page label:nth-of-type(1) .rating-label:before {
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom: 1px solid #ddd;
    height: 15px;
    top: 17px;
    width: 28px;
}

.details-page label:nth-of-type(2) .rating-label:before {
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom: 0;
    height: 12px;
    top: 18px;
    width: 28px;
}

.details-page label:nth-of-type(3) .rating-label:before {
    border: 0;
    border-top: 1px solid #ddd;
    width: 28px;
    top: 10px;
    height: 1px;
}

.details-page label:nth-of-type(4) .rating-label:before {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top: 0;
    height: 15px;
    top: 20px;
    width: 28px;
}

.details-page label:nth-of-type(5) .rating-label:before {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top: 1px solid #ddd;
    height: 15px;
    top: 20px;
    width: 28px;
}

.details-page label:nth-of-type(1) input[type=radio]:checked + .rating-label,
.details-page label:nth-of-type(2) input[type=radio]:checked + .rating-label {
    border-color: #a10035;
}

.details-page label:nth-of-type(1) input[type=radio]:checked + .rating-label:before,
.details-page label:nth-of-type(2) input[type=radio]:checked + .rating-label:before {
    border-color: #a10035;
}

.details-page label:nth-of-type(3) input[type=radio]:checked + .rating-label {
    border-color: #fcaf17;
}

.details-page label:nth-of-type(3) input[type=radio]:checked + .rating-label:before {
    border-color: #fcaf17;
}

.details-page label:nth-of-type(4) input[type=radio]:checked + .rating-label,
.details-page label:nth-of-type(5) input[type=radio]:checked + .rating-label {
    border-color: #149089;
}

.details-page label:nth-of-type(4) input[type=radio]:checked + .rating-label:before,
.details-page label:nth-of-type(5) input[type=radio]:checked + .rating-label:before {
    border-color: #149089;
}

@media (min-width: 768px) {
    .details-page .rating-container h2 {
        display: inline-block;
        margin-right: 42px;
        min-width: 150px;
        position: relative;
        top: 7px;
    }

    .details-page .rating-category {
        margin-bottom: 1em;
    }

    .details-page label:not(:last-child) {
        margin-right: 20px;
    }
}