.footer {

}

.footer .twitter, .footer .facebook, .footer .contact {
	margin-bottom: 1em;
}

@media (max-width: 767px) {

	.footer {
		background: #252525;
		color: #ccc;
		padding: 2em 20px 5em 20px;
		margin-top: 5em;
		margin-left: 0;
		margin-right: 0;
		text-align: left;
	}

	.footer .footer-logo {
		margin-bottom: 2em;
		text-align: center;
	}

	.footer a {
		color: #ccc;
	    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, #ccc);
	    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #ccc);
	    background-repeat: repeat-x;
	    background-size: 2px 5px;
	    background-position: 0 16px;
	    text-shadow: 2px 0 0 #252525, -2px 0 0 #252525;
	}
}

@media (min-width: 768px) {

	.footer {
		margin-bottom: 5em;
		margin-top: 10em;
		text-align: left;
	}

	.footer .twitter, .footer .facebook, .footer .contact {
		display: inline-block;
		float: left;
		margin-right: 20px;
		width: auto;
	}

	.footer .social {
		float: left;
		width: 50%;
	}

	.footer .footer-logo {
		display: none;
	}

	.footer .made-by {
		float: left;
		text-align: right;
		width: 50%;
	}

}