.ill-1 { background-image:url("/assets/img/ill/ill1.png"); width:444px; height:390px;  }
.ill-2 { background-image:url("/assets/img/ill/ill2.png"); width:384px; height:382px;  }
.ill-3 { background-image:url("/assets/img/ill/ill3.png"); width:1172px; height:538px;  }
.ill-4 { background-image:url("/assets/img/ill/ill4.png"); width:310px; height:511px;  }
.ill-5 { background-image:url("/assets/img/ill/ill5.png"); width:1175px; height:364px;  }
.ill-6 { background-image:url("/assets/img/ill/ill6.png"); width:616px; height:451px;  }
.ill-7 { background-image:url("/assets/img/ill/ill7.png"); width:1233px; height:554px;  }
.ill-8 { background-image:url("/assets/img/ill/ill8.png"); width:1134px; height:441px;  }