.ill-1 { background-image:url("/assets/img/ill/ill1.png"); width:24.66666em; height:21.66666em; background-size: 24.66666em 21.66666em; }
.ill-2 { background-image:url("/assets/img/ill/ill2.png"); width:21.33333em; height:21.22222em; background-size: 21.33333em 21.22222em; }
.ill-3 { background-image:url("/assets/img/ill/ill3.png"); width:65.11111em; height:29.88888em; background-size: 65.11111em 29.88888em; }
.ill-4 { background-image:url("/assets/img/ill/ill4.png"); width:17.22222em; height:28.38888em; background-size: 17.22222em 28.38888em; }
.ill-5 { background-image:url("/assets/img/ill/ill5.png"); width:65.27777em; height:20.22222em; background-size: 65.27777em 20.22222em; }
.ill-6 { background-image:url("/assets/img/ill/ill6.png"); width:34.22222em; height:25.05555em; background-size: 34.22222em 25.05555em; }
.ill-7 { background-image:url("/assets/img/ill/ill7.png"); width:68.50000em; height:30.77777em; background-size: 68.50000em 30.77777em; }
.ill-8 { background-image:url("/assets/img/ill/ill8.png"); width:63.00000em; height:24.50000em; background-size: 63.00000em 24.50000em; }


.tile-ill .illustration { }
.tile-ill-right .illustration { float: right; }
.tile-ill-right .floatedcontent { float: left; width: 60%;}

.tile-ill-left .illustration { float: left; }
.tile-ill-left .floatedcontent { float: right; width: 60%;}

.tile-ill-full .illustration { }
.tile-ill.tile-ill-full .tile-inner .floatedcontent { }

.tile-ill h2.center { text-align: center; width: 100% !important; }

.tile-ill {  }
.tile-ill .tile-inner { height:auto; }
.tile-ill .tile-inner h2 {  font-size: 2.5em; margin-bottom: .5em; line-height: 1.2; font-weight: 400; font-family: 'Londrina Solid', cursive; }
.tile-ill .tile-inner p { font-size: 1.1em; color: #eee !important; font-weight: 300; line-height: 1.4; }

.tile-ill .tile-inner .color1 { color: #fcaf17 !important; }
.tile-ill .tile-inner .color2 { color: #149089 !important; }
.tile-ill .tile-inner .color3 { color: #a10035 !important; }
.tile-ill .tile-inner .color4 { color: #ff8641 !important; }
.tile-ill .tile-inner .color5 { color: #ff4f4c !important; }
.tile-ill .tile-inner .color6 { color: #286a65 !important; }

/*    
    Main Text   394549
    Light Text  ccc
    Burgunder:  a10035;
    Lyserød:    ff4f4c;
    Oransje:    ff8641;
    Gul:        fcaf17;
    Lysegrønn:  149089;
    Mørkegrønn: 286a65;
    Svart:      101010;*/

.salesbubbles {
}

.salesbubbles .salesbubble {
	font-size: .9em;
	float: left;
	width: 6em;
	height: 6em;
	margin: 2em 1.6em;
	padding: 1em;
	text-align: center;
	border: 3px solid #fcaf17;
	border-radius: 200px;
	text-transform: uppercase;
	color: #fcaf17 !important;
	transition: all 0.5s ease;
}
.salesbubbles .salesbubble:hover {
	transform:rotate(7deg);
	-ms-transform:rotate(7deg);
	-webkit-transform:rotate(360deg);
	transition: all 0.5s ease;
}

.salesbubbles .salesbubble span {
	display: block;
	margin-top: 1.6em;
	line-height: 1.5;
}





