.ill-1 { background-image:url("/assets/img/ill/intro.png"); width: 24.60388em; height: 20.54666em; background-size: 24.60388em 20.54666em; }
.ill-2 { background-image:url("/assets/img/ill/mainperson.png"); width: 18.98333em; height: 20.47222em; background-size: 18.98333em 20.47222em; }
.ill-3 { background-image:url("/assets/img/ill/spektrum.png"); width: 65.12000em; height: 27.62666em; background-size: 65.12000em 27.62666em; }
.ill-4 { background-image:url("/assets/img/ill/ticket.png"); width: 17.25666em; height: 27.55500em; background-size: 17.25666em 27.55500em; }
.ill-5 { background-image:url("/assets/img/ill/arrows.png"); width: 65.24944em; height: 20.56500em; background-size: 65.24944em 20.56500em; }
.ill-6 { background-image:url("/assets/img/ill/workshop.png"); width: 34.08000em; height: 23.14666em; background-size: 34.08000em 23.14666em; }
.ill-7 { background-image:url("/assets/img/ill/awezone.png"); width: 65.16611em; height: 28.56388em; background-size: 65.16611em 28.56388em; }
.ill-8 { background-image:url("/assets/img/ill/outro.png"); width: 63.00750em; height: 20.59950em; background-size: 63.00750em 20.59950em; }

.ill-infostand { background-image:url("/assets/img/ill/infostand.png"); width: 28.00000em; height: 34.0555em; background-size: 28.00000em 34.0555em; }

.page-invert .tile-ill.tile-color0 .tile-inner a {
	color: #fff;
}

.tile-ill .illustration { }
.tile-ill-right .illustration { float: right; }
.tile-ill-right .floatedcontent { float: left; width: 60%;}

.tile-ill-left .illustration { float: left; }
.tile-ill-left .floatedcontent { float: right; width: 60%;}

.tile-ill-full .illustration { }
.tile-ill.tile-ill-full .tile-inner .floatedcontent { }

.tile-ill h2.center { text-align: center; width: 100% !important; }
.tile-ill p.center { width: 40em !important; max-width: 40em !important; margin-left: auto; margin-right: auto; }

.tile-ill p.small { width: 28em !important; }

.tile-ill {  }
.tile-ill .tile-inner { height:auto; }
.tile-ill .tile-inner h2, .tile-ill .tile-inner h3 { line-height: 1.2; font-weight: 400; font-family: 'Londrina Solid', cursive; }
.tile-ill .tile-inner h2 {  font-size: 2.5em; margin: 0 0 .5em 0;  }
.tile-ill .tile-inner h3 {  font-size: 1.2em; margin: 0 0 .5em 0;  }
.tile-ill .tile-inner p { font-size: 1.1em; color: #eee !important; font-weight: 300; line-height: 1.4; max-width: 30em; }
.tile-ill .tile-inner p strong { font-weight: 700; }

.tile-ill .tile-inner .color1 { color: #fcaf17 !important; }
.tile-ill .tile-inner .color2 { color: #149089 !important; }
.tile-ill .tile-inner .color3 { color: #a10035 !important; }
.tile-ill .tile-inner .color4 { color: #ff8641 !important; }
.tile-ill .tile-inner .color5 { color: #ff4f4c !important; }
.tile-ill .tile-inner .color6 { color: #286a65 !important; }

/*    
    Main Text   394549
    Light Text  ccc
    Burgunder:  a10035;
    Lyserød:    ff4f4c;
    Oransje:    ff8641;
    Gul:        fcaf17;
    Lysegrønn:  149089;
    Mørkegrønn: 286a65;
    Svart:      101010;*/

.crazyheader {
	transform:rotate(-2.5deg);
	-ms-transform:rotate(-2.5deg);
	-webkit-transform:rotate(-2.5deg);
	margin: -1.9em 0 0 1em !important;
	background: transparent !important;
}

.salesbubbles .salesbubble {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 16.666666%;
	padding: 1em;
}

.salesbubbles .salesbubble .salesbubble-inner {
	font-size: .9em;
	width: 9em;
	height: 9em;
	text-align: center;
	border: 3px solid #fcaf17;
	border-radius: 200px;
	text-transform: uppercase;
	color: #fcaf17 !important;
	transition: all 0.5s ease;

	/* hack for å unngå hopping ved hover */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	backface-visibility:         hidden;
}
.salesbubbles .salesbubble:hover .salesbubble-inner {
	transform:rotate(360deg) scale(1.1);
	-ms-transform:rotate(360deg) scale(1.1);
	-webkit-transform:rotate(360deg) scale(1.1);
	transition: all 0.5s ease;
}

.salesbubbles .salesbubble .salesbubble-inner span {
	display: block;
	margin-top: 3.1em;
	line-height: 1.5;
}

.infoboxes .infobox {
	float: left;
	padding: 1.5em;
	margin: 0 0 1em 0;
	height: 17em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.infoboxes .infobox h3 {
	text-align: center;
}
.infoboxes .infobox p {
	font-size: .9em;
	text-align: center;
}

.infoboxes .infobox .infobox-icon {
	text-align: center;
	margin: 0 0 .6em 0;
}
.infoboxes .infobox .infobox-icon i {
	background: #149089;
	border-radius: 200px;
	font-size: 2em;
	padding: .4em;
}

.infoboxes .infobox-small { width: 30%; }
.infoboxes .infobox-med { width: 40%; }


.timetable {
	width: 30em;
}

.timetable .timetable-line {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.timetable .timetable-line .timetable-line-content {
	float: left;
	padding: .7em 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.timetable .timetable-line .timetable-line-first {
	width: 15%;
	background: #222;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #777;
	font-size: .8em;
	
}
.timetable .timetable-line .timetable-line-second {
	width: 85%;
	background: #fff;
	color: #555;
	border-bottom: 1px solid #777;
	font-size: .8em;
}
.timetable .timetable-line .timetable-line-header {
	width: 100%;
	background: #222;
	color: #fff;
	text-align: center;
	
	border-bottom: 1px solid #777;
	
}
.timetable .timetable-line .timetable-line-header span.date {
	font-weight: bold;
	text-transform: uppercase;
	font-size: .6em;
	line-height: 1.5;
}
.timetable .timetable-line .timetable-line-header span.title {
	font-size: 1.3em;
}

.timetable .timetable-line.timetable-line-last .timetable-line-content {
	border-bottom: none;
}

.floated-timetables .timetable-left {
	float: left;
}
.floated-timetables .timetable-right {
	float: right;
}

.subjects .subject {
	float: left;
	width: 33%;
	padding: .5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.subjects .subject .subject-inner {
	height: 6.5em;
	border: 2px solid #444;
	color: #fff;
	padding: 2em;
	border-radius: 1em;
	font-size: .8em;
	line-height: 1.3;
}
.subjects .subject .subject-inner span {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	color: #149089;
	padding-bottom: 0em;
	display: block;
}

.subjects-alt .subject .subject-inner {
	border-color: #a10035;
}
.subjects-alt .subject .subject-inner span {
	color: #a10035;
}

a.map {
	display: block;
	width: 100%;
	height: 100%;
	background-image:url("/assets/img/maps/2014.jpg"); 
	background-size: 22.22222em 14.44444em;
	border-radius: 1em;
	border: 5px solid #149089;
}

.topics .topic {
	float: left;
	width: 12.5%;
	padding: .5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*    
    Main Text   394549
    Light Text  ccc
    Burgunder:  a10035;
    Lyserød:    ff4f4c;
    Oransje:    ff8641;
    Gul:        fcaf17;
    Lysegrønn:  149089;
    Mørkegrønn: 286a65;
    Svart:      101010;*/

.topics .topic .topic-inner {
	text-align: center;
	border-radius: 10em;
	background: #a10035;
	padding-top: 2em;
	width: 7em;
	height: 5em;
	margin: 0 auto;
	transition: all 0.5s ease;


}
.topics .topic:hover .topic-inner {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: all 0.5s ease;
}

.topics .topic .topic-inner .topic-icon {
	padding-bottom: .2em;
	font-size: 2em;
}
.topics .topic .topic-inner .topic-title {
	font-size: .8em;
	text-transform: uppercase;
	font-weight: 700;
}

.tile-ill .tile-inner p.be-a-volunteer {
	font-size: .8em;
	color: #ccc;
	padding-top: 1em;
	font-weight: 300;
}
.tile-ill .tile-inner p.be-a-volunteer span {
	border-bottom: 1px solid #888;
}


.centerbutton {
	text-align: center;
	width: 100% !important;
	max-width: 100% !important;
}

.spinner {
	text-align: center;
	margin: 0 0 .1em 0;
	font-size: 10em;
	color: #149089;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 6000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 6000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	.ill-1 { background-image:url("/assets/img/ill/intro@2x.png"); }
	.ill-2 { background-image:url("/assets/img/ill/mainperson@2x.png"); }
	.ill-3 { background-image:url("/assets/img/ill/spektrum@2x.png"); }
	.ill-4 { background-image:url("/assets/img/ill/ticket@2x.png"); }
	.ill-5 { background-image:url("/assets/img/ill/arrows@2x.png"); }
	.ill-6 { background-image:url("/assets/img/ill/workshop@2x.png"); }
	.ill-7 { background-image:url("/assets/img/ill/awezone@2x.png"); }
	.ill-8 { background-image:url("/assets/img/ill/outro@2x.png"); }

	.ill-infostand { background-image:url("/assets/img/ill/infostand@2x.png"); }

	a.map { background-image:url("/assets/img/maps/2014@2x.jpg");  }

}


@media only screen and (max-width: 500px) {
	.ill-1 { width: 26.14285em; height: 21.83185em; background-size: 26.14285em 21.83185em; }
	.ill-2 { width: 26.14285em; height: 28.19327em; background-size: 26.14285em 28.19327em; }
	.ill-3 { width: 26.14285em; height: 11.09090em; background-size: 26.14285em 11.09090em; }
	.ill-4 { width: 26.14285em; height: 41.74425em; background-size: 26.14285em 41.74425em; }
	.ill-5 { width: 26.14285em; height: 8.23957em; background-size: 26.14285em 8.23957em; }
	.ill-6 { width: 26.14285em; height: 17.75586em; background-size: 26.14285em 17.75586em; }
	.ill-7 { width: 26.14285em; height: 11.45904em; background-size: 26.14285em 11.45904em; }
	.ill-8 { width: 26.14285em; height: 8.54707em; background-size: 26.14285em 8.54707em; }




	.tile-ill-right .illustration { float: none; }
	.tile-ill-right .floatedcontent { float: none; width: 100%;}

	.tile-ill-left .illustration { float: none; }
	.tile-ill-left .floatedcontent { float: none; width: 100%;}

	.crazyheader {
		transform: none;
		-ms-transform: none;
		-webkit-transform: none;
		margin: 0 !important;
	}
	.infoboxes .infobox {
		float: none;
		padding: 1em 0;
		height: auto;
	}
	.infoboxes .infobox-small { width: 100%; }
	.infoboxes .infobox-med { width: 100%; }

	a.map {
		height: 15em;
	}

	.timetable { width: 100%; margin: 1em 0; }

	.topics .topic {
		width: 50%;
	}

	.tile-ill h2.center {
		text-align: left;
	}
	.tile-ill p.center { 
		width: auto !important; 
		max-width: auto;
	}

	.subjects .subject {
		float: none;
		width: 100%;
	}
}



/*    
    Main Text   394549
    Light Text  ccc
    Burgunder:  a10035;
    Lyserød:    ff4f4c;
    Oransje:    ff8641;
    Gul:        fcaf17;
    Lysegrønn:  149089;
    Mørkegrønn: 286a65;
    Svart:      101010;*/




/* -------------------------------
             FILMLAUNCH          
   -------------------------------*/


.filmlaunch {
	color: #fff;

	width: 100%;
	min-height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filmlaunch .shareinfo {
	background: #fff;
	color: #222;
	padding: 2em;
	border-radius: .5em;
	position: fixed;
	top: 30%;
	left: 20%;
	width: 60%;
	z-index: 2000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.filmlaunch .shareinfo h2 {
	font-size: 2em;
	padding: 0 0 .5em 0;
}
.filmlaunch .shareinfo-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 1000;
}
.filmlaunch .shareinfo .close-shareinfo {
	position: absolute;
	top: .3em;
	right: .6em;
	font-size: 1.5em;
	font-weight: bold;
	color: #bbb;
}
.filmlaunch .shareinfo .close-shareinfo:hover {
	color: #666;
}
.filmlaunch .shareinfo p span.url {
	font-family: 'Courier New', monospace;
}
.filmlaunch .shareinfo p span.votedescription {
	font-size: .7em;
}
.filmlaunch .shareinfo .shareicons {
	margin: .5em 0 0 0;
	text-align: center;
	
}
.filmlaunch .shareinfo .shareicons a {
	color: #999;
	font-size: 2em;
	padding: 0 .1em;
}
.filmlaunch .shareinfo .shareicons a:hover {
	color: #333;
}

.filmlaunch h2 {
	text-align: center;
	color: #fcaf17;
	margin: 0;
	padding: 0em 0 .5em 0;
	font-size: 3em;
	font-weight: 400; 
	font-family: 'Londrina Solid', cursive;
}
.filmlaunch p {
	display: block;
	text-align: center;
	font-size: 1.2em;
	max-width: none;
	margin: 0 0 .2em 0;
}
.filmlaunch p.small {
	font-size: .7em;
	margin-top: 1em;
	color: #bbb;
}

.filmlaunch .movies {
	margin: 2em 0 0 0;
}

.filmlaunch .movies .movie {
	float: left;
	width: 33.333333%;
	height: 17em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1em;
}

.filmlaunch .movies .movie-inner {
	width: 100%;
	height: 100%;
}
.filmlaunch .movies .movie-inner .stats {
	margin: 1em 0 3em 0;
}
.filmlaunch .movies .movie-inner .stats .stat {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.1;
	font-weight: 400;
	font-size: .8em;
}
.filmlaunch .movies .movie-inner .stats .stat span {
	display: block;
	font-size: 3em;
	font-weight: 200;
}


.filmlaunch .movies .movie-inner .vote {
	text-align: center;
	margin: 1em 0 0 0;
}
.filmlaunch .movies .movie-inner .vote a {
	margin: 1em 0 0 0;
	padding: .6em 1em;
	background-color: #a10035;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(161, 0, 53)), to(rgb(146, 0, 38)));
	background-image: -webkit-linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
	background-image: -moz-linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
	background-image: -o-linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
	background-image: -ms-linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
	background-image: linear-gradient(top, rgb(161, 0, 53), rgb(146, 0, 38));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a10035', EndColorStr='#920026');

	color: #fff;
	line-height: 1.5;
	text-transform: uppercase;
	font-weight: bold;
}
.filmlaunch .movies .movie-inner .vote a i {
	margin-right: .5em;
}

.filmlaunch .scrolldown {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	cursor: pointer;
	color: #ccc;
}
.filmlaunch .scrolldown:hover {
	color: #a10035;
}
.filmlaunch .scrolldown i {
	font-size: 5em;
}
.filmlaunch .scrolldown span {
	margin-bottom: -2em;
	display: block;
}

.filmlaunch .handpoint {
	background-image:url("/assets/img/point3.png"); width: 4.34722em; height: 4.52777em; background-size: 4.34722em 4.52777em; 
	width: 4.34722em;
	margin: 1em auto 0 auto;
}

@media only screen and (max-height: 900px) and (min-width: 1000px) {
	.filmlaunch h2.smaller {
		font-size: 2em;
	}
	.filmlaunch p.smaller {
		font-size: 1em;
	}
}

@media only screen and (max-height: 800px) and (min-width: 1000px) {
	.filmlaunch h2 {
		font-size: 2em;
		padding-bottom: .2em;
	}
	.filmlaunch p {
		font-size: 1em;
	}
	.headerbreak {
		display: none;
	}
}
@media only screen and (max-height: 700px) and (min-width: 1000px) {
	.filmlaunch .movies {
		margin: .5em 0 0 0;
	}
	.filmlaunch .movies .movie {
		padding: 0 1em;
	}
	.filmlaunch .movies .movie-inner .stats {
		margin: .5em 0 1.5em 0;
	}
}
@media only screen and (max-height: 900px) and (min-width: 1200px) {
	.filmlaunch .scrolldown {
		display: none;
	}
}


@media only screen and (max-width: 850px) {
	.filmlaunch {
		min-height: auto;
	}
	.filmlaunch h2 {
		font-size: 3em;
		margin: 0 .5em;
	}
	.filmlaunch p {
		margin: .5em 2em;
	}
	.filmlaunch p.small {
		font-size: .9em;
	}
	.filmlaunch .scrolldown {
		display: none;
	}
	.filmlaunch .movies .movie {
		width: 100%;
		float: none;
		height: auto;
		padding: 1em 1em 3em 1em;
	}
	.filmlaunch .movies .movie .movie-inner {
		height: auto;
	}
	.filmlaunch .movies .movie .movie-inner iframe {
		height: 15em;
	}
	.filmlaunch .shareinfo {
		padding: 1em;
		position: fixed;
		top: 20%;
		left: 5%;
		width: 90%;
		z-index: 500;
	}
	.filmlaunch .shareinfo br {
		display: block;
	}

	.filmlaunch .handpoint {
		background-image:url("/assets/img/point3.png"); width: 8.69444em; height: 9.05555em; background-size: 8.69444em 9.05555em; 
		width: 8.69444em;
		margin: 1em auto 1em auto;
	}
}





/* STUDENT-TING */

.ill-infostand-center {
	width: 18.66666em; height: 22.70370em; background-size: 18.66666em 22.70370em; 
	margin: 0 auto;
}
.tile-volunteer-dragup {
	margin-top: -4em;
}
.tile-volunteer-dragup .tile-inner {
	background: transparent;
}

.moreinfoboxes .moreinfobox {
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 2em 2em 0;
}
.moreinfoboxes .moreinfobox h3 {
	color: #fff;
}

.tile-ill .tile-inner p.centersmall {
	font-size: .8em;
	color: #ccc !important;
	text-align: center;
	max-width: 100%;
	text-transform: uppercase;
	margin-top: 1.5em;
}

.tile-ill .tile-inner p.questions-link {
	font-size: .8em;
	color: #aaa;
	padding-bottom: 3em;
	font-weight: 300;
	text-align: center;
	max-width: 100%;
}
.tile-ill .tile-inner p.questions-link span {
	border-bottom: 1px solid #888;
}

@media only screen and (max-width: 850px) {
	.tile-volunteer-dragup { margin-top: 1em; }
	.moreinfoboxes .moreinfobox { float: none; width: 100%; padding: 2em; }
}










.speakerimages .speakerimage {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 10%;
	padding: 1em;
	transition: all 0.5s ease;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.speakerimages .speakerimage:hover {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transition: all 0.5s ease;
}

.speakerimages .speakerimage .speakerimage-inner {
	width: 5em;
	margin: 0 auto;
}

.speakerimages .speakerimage .speakerimage-inner .image-inner {
	width: 5em;
	height: 5em;
	border: 1px solid #fff;
	border-radius: 200px;
}

.speakerimages .speakerimage .speakerimage-inner .image-inner img {
	width: 5em;
	height: 5em;
	border-radius: 200px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
.speakerimages .speakerimage .speakerimage-inner .image-inner i {
	display: block;
	font-size: 2em;
	text-align: center;
	padding-top: .8em;
	width: 100%;
	color: #fff;
}

.speakerimages .speakerimage .speakerimage-inner span {
	display: block;
	text-align: center;
	margin-top: .8em;
	text-transform: uppercase;
	font-size: .7em;
	font-weight: bold;
	line-height: 1.3;
	color: #fff;
}

@media only screen and (max-width: 850px) {
	.speakerimages {
		display: none;
	}
}
