.img {
    background-size:100% 100%;
    display:inline-block;
    text-indent:-999em;
    background-repeat: no-repeat;
    background-position: center center;
    width:128px;
    height:128px;
    position: relative;
}

.img-half {
    width: 19em;
    height: 19em;
}

.img-inner {
    display: none;
    width:100%;
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:1em solid rgba(0,0,0,0.1);
    position: absolute;
    top:0;
    left:0;
}

a:hover .img-inner {
    display: block;
}

.img-logo { background-image:url("/assets/img/logos/javazone.horizontal.png"); width:19.444em; height:4.889em; }
.img-logo2 { background-image:url("/assets/img/logos/javazone.png"); width:11.11111em; height:10.27777em; }
.page-invert .img-logo2 { background-image:url("/assets/img/logos/javazone.light.png"); }
.page-invert .img-logo { background-image:url("/assets/img/logos/javazone.horizontal.light.png"); }

.img-map { background-image:url("/assets/img/maps/spektrum.gif"); }
.img-intro { background-image:url("/assets/img/tiles/topdown.jpg"); }
.img-stand { background-image:url("/assets/img/tiles/stand.jpg"); }
.img-stand2 { background-image:url("/assets/img/tiles/stand2.jpg"); }
.img-agir { background-image:url("/assets/img/tiles/agir.jpg"); }
.img-awezone { background-image:url("/assets/img/tiles/awezone2.jpg"); }
.img-awezone5 { background-image:url("/assets/img/tiles/awezone5.jpg"); }
.img-workshop { background-image:url("/assets/img/tiles/workshop.jpg"); }
.img-crowd { background-image:url("/assets/img/tiles/crowd.jpg"); }
.img-bags { background-image:url("/assets/img/tiles/bags.jpg"); }
.img-flam { background-image:url("/assets/img/tiles/flam.jpg"); }
.img-view { background-image:url("/assets/img/tiles/view.jpg"); }
.img-spektrum { background-image:url("/assets/img/tiles/spektrum.jpg"); }
.img-crazy1 { background-image:url("/assets/img/tiles/crazy1.jpg"); }
.img-crazy2 { background-image:url("/assets/img/tiles/crazy2.jpg"); }
.img-crazy3 { background-image:url("/assets/img/tiles/crazy3.jpg"); }
.img-crazy4 { background-image:url("/assets/img/tiles/crazy4.jpg"); }
.img-standcomic { background-image:url("/assets/img/tiles/standcomic.jpg"); }
.img-standcomic-cramped { background-image:url("/assets/img/tiles/standcomic-cramped.jpg"); }
.img-expo2014 { background-image:url("/assets/img/tiles/expo2014.jpg"); }
.img-expo2014-tiltshift { background-image:url("/assets/img/tiles/expo2014-tiltshift.jpg"); }

.img-awezone-poster { background-image:url("/assets/img/awezone/poster.jpg"); width: 45.111em; height: 63.167em; }

.img-journeyzonebaat1 { background-image:url("/assets/img/tiles/journeyzone1.jpg"); }
.img-journeyzonebaat2 { background-image:url("/assets/img/tiles/journeyzone2.jpg"); }

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .img-logo { background-image:url("/assets/img/logos/javazone.horizontal@2x.png"); }
    .img-logo2 { background-image:url("/assets/img/logos/javazone@2x.png"); }
    .page-invert .img-logo2 { background-image:url("/assets/img/logos/javazone.light@2x.png"); }
    .page-invert .img-logo { background-image:url("/assets/img/logos/javazone.horizontal.light@2x.png"); }

    .img-map { background-image:url("/assets/img/maps/spektrum@2x.gif"); }
    .img-intro { background-image:url("/assets/img/tiles/topdown@2x.jpg"); }
    .img-stand { background-image:url("/assets/img/tiles/stand@2x.jpg"); }
    .img-stand2 { background-image:url("/assets/img/tiles/stand2@2x.jpg"); }
    .img-agir { background-image:url("/assets/img/tiles/agir@2x.jpg"); }
    .img-awezone { background-image:url("/assets/img/tiles/awezone2@2x.jpg"); }
    .img-awezone5 { background-image:url("/assets/img/tiles/awezone5@2x.jpg"); }
    .img-workshop { background-image:url("/assets/img/tiles/workshop@2x.jpg"); }
    .img-crowd { background-image:url("/assets/img/tiles/crowd@2x.jpg"); }
    .img-bags { background-image:url("/assets/img/tiles/bags@2x.jpg"); }
    .img-flam { background-image:url("/assets/img/tiles/flam@2x.jpg"); }
    .img-view { background-image:url("/assets/img/tiles/view@2x.jpg"); }
    .img-spektrum { background-image:url("/assets/img/tiles/spektrum@2x.jpg"); }
    .img-crazy1 { background-image:url("/assets/img/tiles/crazy1@2x.jpg"); }
    .img-crazy2 { background-image:url("/assets/img/tiles/crazy2@2x.jpg"); }
    .img-crazy3 { background-image:url("/assets/img/tiles/crazy3@2x.jpg"); }
    .img-crazy4 { background-image:url("/assets/img/tiles/crazy4@2x.jpg"); }
    .img-standcomic { background-image:url("/assets/img/tiles/standcomic@2x.jpg"); }
    .img-standcomic-cramped { background-image:url("/assets/img/tiles/standcomic-cramped@2x.jpg"); }
    .img-expo2014 { background-image:url("/assets/img/tiles/expo2014@2x.jpg"); }
    .img-expo2014-tiltshift { background-image:url("/assets/img/tiles/expo2014-tiltshift@2x.jpg"); }

    .img-awezone-poster { background-image:url("/assets/img/awezone/poster@2x.jpg"); }

}



.img-journeyzone1 { background-image: url("/journeyzone/01.jpg")} 
.img-journeyzone2 { background-image: url("/journeyzone/02.jpg")} 
.img-journeyzone3 { background-image: url("/journeyzone/03.jpg")} 
.img-journeyzone4 { background-image: url("/journeyzone/04.jpg")} 
.img-journeyzone5 { background-image: url("/journeyzone/05.jpg")} 
.img-journeyzone6 { background-image: url("/journeyzone/06.jpg")} 
.img-journeyzone7 { background-image: url("/journeyzone/07.jpg")} 
.img-journeyzone8 { background-image: url("/journeyzone/08.jpg")} 
.img-journeyzone9 { background-image: url("/journeyzone/09.jpg")} 
.img-journeyzone10 { background-image: url("/journeyzone/10.jpg")} 
.img-journeyzone11 { background-image: url("/journeyzone/11.jpg")} 
.img-journeyzone12 { background-image: url("/journeyzone/12.jpg")} 
.img-journeyzone13 { background-image: url("/journeyzone/13.jpg")} 
.img-journeyzone14 { background-image: url("/journeyzone/14.jpg")} 
.img-journeyzone15 { background-image: url("/journeyzone/15.jpg")} 
.img-journeyzone16 { background-image: url("/journeyzone/16.jpg")} 

.img-jzfact1 { background-image: url("/assets/img/jzfacts/jzfacts-stor.001.jpg")} 
.img-jzfact2 { background-image: url("/assets/img/jzfacts/jzfacts-stor.002.jpg")} 
.img-jzfact3 { background-image: url("/assets/img/jzfacts/jzfacts-stor.003.jpg")} 
.img-jzfact4 { background-image: url("/assets/img/jzfacts/jzfacts-stor.004.jpg")} 
.img-jzfact5 { background-image: url("/assets/img/jzfacts/jzfacts-stor.005.jpg")} 
.img-jzfact6 { background-image: url("/assets/img/jzfacts/jzfacts-stor.006.jpg")} 
.img-jzfact7 { background-image: url("/assets/img/jzfacts/jzfacts-stor.007.jpg")} 
.img-jzfact8 { background-image: url("/assets/img/jzfacts/jzfacts-stor.008.jpg")} 