.index-page {
	text-align: center;
}

.index-page h1 {
	margin-top: 0;
}

.index-page .teaser-image svg {
	margin-top: 3em;
}

.index-page h2 {
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5;
}

.index-page .buttons {
	list-style: none;
	text-align: center;
	margin-top: 70px;
	padding: 0;
}

.index-page .button {
	max-width: 300px;
	width: 100%;
}

.index-page li:first-child .button {
	margin-top: 0;
}

@media (min-width: 768px) {

	.index-page .button {
		margin: 10px 10px;
		width: 200px;
	}

	.index-page .buttons li {
		display: inline-block;
	}
}