.index-page {
	text-align: center;
}

.index-page .movie-container {
    background: black;
    display: none;
    max-height: 480px;
    max-width: 640px;
}

.index-page .movie {
    border: 1px solid #999;
    display: block;
    height: 140px;
    margin: 20px auto 0 auto;
    text-align: center;
    vertical-align: top;
    width: 250px;
}

.index-page .movie h1 {
    margin-top: 0;
}

.index-page .movie h2 {
    margin-bottom: 0;
    margin-top: 1.2em;
}

.movie-1 {
    background-image: url('/assets/img/movies/movie_1@2x.jpg');
    background-size: cover;
}

.play {
    -webkit-transition: background-color .4s ease;
    -moz-transition: background-color .4s ease;
    -o-transition: background-color .4s ease;
    transition: background-color .4s ease;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    position: relative;
    top: 45px;
    width: 50px;
}

.play:before {
    border-width: 15px;
    border-top-width: 13px;
    border-bottom-width: 13px;
    border-color: transparent;
    border-left-color: rgba(255, 255, 255, .75);
    border-style: solid;
    content: '';
    display: block;
    left: 20px;
    position: absolute;
    top: 12px;
}

.play:hover {
    background-color: rgba(0, 0, 0, .9);
}

.index-page h1 {
	/*margin-top: 0;*/
    margin-top: 2.5em;
	font-size: 1.4em;
}

.index-page h2 {
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5;
}

.index-page .teaser-image {
    margin-top: -2.5em;
}

.index-page .teaser-image + h1 {
    margin-top: .5em;
}

.index-page .teaser-image svg {
	margin: 0em 0 1em 0;
    width: 500px;
}

.index-page .buttons {
	list-style: none;
	text-align: center;
	margin-top: 60px;
	padding: 0;
}

.index-page .button {
	max-width: 300px;
	width: 100%;
}

.index-page li:first-child .button {
	margin-top: 0;
}

.index-page .movieheader {
    margin-top: 2em;
    color: #a10035;
}

@media (min-width: 768px) {

	.index-page h1 {
		/*margin-top: 0;*/
		font-size: 1.8em;
	}

	.index-page .teaser-image svg {
		margin-top: 0;
	}

	.index-page .button {
		margin: 10px 10px;
		width: 200px;
	}

	.index-page .buttons li {
		display: inline-block;
	}
	
}

@media (min-width: 880px) {

    .index-page .movie {
        display: inline-block;
        margin-right: 51px;
        margin-top: 0;
    }

    .index-page .movie:last-child {
        margin-right: 0;
    }
}