.info-page .ticket-includes:before {
	display: none;
}

.info-page .ticket-includes {
	margin: 2.5em 0 0 0;
	padding: 0;
	text-align: center;
}

.info-page .ticket-includes li {
	display: block;
	float: left;
	min-height: 250px;
	padding: 0 20px;
	width: 33%;
}

.info-page .ticket-inclues li:first-child {
	padding-left: 0;
}

.info-page .ticket-includes li:nth-child(3) {
	padding-right: 0;
}

.info-page .ticket-includes li:nth-child(4) {
	margin-left: 15%;
}

.info-page .includes-icon {
	font-size: 140%;
}

.info-page .includes-title {
	font-size: 1em;
	font-weight: 700;
}

.info-page .includes-description{
	text-align: justify;
}

.info-page .map {
	height: 500px;
}

.info-page .practicality {
	position: relative;
}

.info-page .practicality-location:before {
	background: url('/assets/svg/location.svg') no-repeat;
	content: '';
	display: inline-block;
	height: 44px;
	left: -4.2em;
	margin-top: -22px;
	position: absolute;
	top: 50%;
	width: 34px;
}

.info-page .practicality-foods:before {
	background: url('/assets/svg/location.svg') no-repeat;
	content: '';
	display: inline-block;
	height: 44px;
	left: -4.2em;
	margin-top: -22px;
	position: absolute;
	top: 50%;
	width:34px;
}

.info-page .practicality-hotels:before {
	background: url('/assets/svg/location.svg') no-repeat;
	content: '';
	display: inline-block;
	height: 44px;
	left: -4.2em;
	margin-top: -22px;
	position: absolute;
	top: 50%;
	width:34px;
}

.info-page .practicality-language:before {
	background: url('/assets/svg/location.svg') no-repeat;
	content: '';
	display: inline-block;
	height: 44px;
	left: -4.2em;
	margin-top: -22px;
	position: absolute;
	top: 50%;
	width:34px;
}

/*
	At the conference timeline
*/

.info-page .conference-days .timeline {
	height: 1500px;
	position: relative;
}

.info-page .conference-days .timeline:before {
	background: #149089;
	bottom: 14px;
	content: '';
	display: block;
	left: 50%;
	position: absolute;
	top: 0;
	width: 1px;
	z-index: 1;
}

.info-page .conference-day {
	height: 33.33%;
	position: relative;
}

.info-page .conference-day-first {
	background: #e3e3e3;
}

.info-page .conference-day-second {
	background: #e8ede9
}

.info-page .conference-day.conference-day-third {
	background: #ebf3f6;
	height: 32.33%;
}

.info-page .conference-day.conference-end {
	height: 1%;
}

.info-page .conference-day-title {
	float: right;
	margin-top: -16px !important;
	padding-left: 1em;
	text-align: left;
	text-transform: uppercase;
	width: 50%;
}

.info-page .conference-day-title:before {
	background: white;
	border: 1px solid #149089;
	border-radius: 100%;
	content: '';
	display: block;
	height: 21px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	top: -10px;
	width: 21px;
	z-index: 2;
}

.info-page .conference-event {
	position: relative;
	text-align: left;
	width: 50%;
}

.info-page .conference-day .container {
	height: 100%;
}

.info-page .conference-event .time, .info-page .conference-event .title {
	display: inline-block;
	margin-bottom: 10px
}

.info-page .conference-event .time {
	margin-right: 10px;
}

.info-page .conference-event .title {
	padding-left: 10px;
	position: relative;
}

.info-page .conference-event .title:before {
	background: #149089;
	bottom: 2px;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	top: 5px;
	width: 1px;
}

.info-page .conference-event .separator {
	border-bottom: 1px solid #149089;
	margin-bottom: 10px;
	opacity: .5;
}

.info-page .conference-event.right {
	margin-left: 50%;
	text-align: right;
}

.info-page .conference-event.right .title {
	padding-right: 10px;
}

.info-page .conference-event.right .title:before {
	display: none;
}

.info-page .conference-event.right .title:after {
	background: #149089;
	bottom: 2px;
	content: '';
	display: block;
	right: 0;
	position: absolute;
	top: 5px;
	width: 1px;
}

.info-page .conference-event.right .time {
	margin-left: 10px;
	margin-right: 0;
}

.info-page .conference-day-first .conference-event:nth-child(2) {
	top: 10%;
}

.info-page .conference-day-first .conference-event:nth-child(3) {
	top: 40%;
}

.info-page .conference-day-first .conference-event:nth-child(4) {
	top: 50%;
}

.info-page .conference-day-second .conference-event:nth-child(2) {
	top: 10%;
}

.info-page .conference-day-second .conference-event:nth-child(3) {
	top: 5%;
}

.info-page .conference-day-second .conference-event:nth-child(4) {
	top: 5%;
}

.info-page .conference-day-second .conference-event:nth-child(5) {
	top: 5%;
}

.info-page .conference-day-second .conference-event:nth-child(6) {
	top: 20%;
}

.info-page .conference-day-third .conference-event:nth-child(2) {
	top: 10%;
}

.info-page .conference-day-third .conference-event:nth-child(3) {
	top: 10%;
}

.info-page .conference-day-third .conference-event:nth-child(4) {
	top: 10%;
}

.info-page .conference-day-third .conference-event:nth-child(5) {
	top: 20%;
}



.info-page .topics {
	/*background: #efefef;*/
}

.info-page .topics h2 {
	margin-top: 2.5em;
}

.info-page .topics ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.info-page .topics ul:before {
	display: none;
}

.info-page .topic {
	margin-bottom: 2em;
}

.info-page .topic .topic-header {
	font-weight: bold;
}

.info-page .formats ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.info-page .formats img {
	width: auto;
}

.info-page .format-lightning svg {
	height: 240px;
}

.info-page .format-lightning h2 {
	position: relative;
	top: 10px;
}

.info-page .format-lightning p {
	position: relative;
	top: 10px;
}

.info-page .format-presentation svg {
	height: 250px;
	position: relative;
	top: -5px;
}

.info-page .format-workshop svg {
	height: 250px;
	position: relative;
	top: -10px;
}

.info-page .format {
	padding: 0 20px;
}

.info-page .format h2 {
	line-height: 1.2;
}

.info-page .format h2 span {
	font-size: .7em;
}




@media (min-width: 768px) {

	.info-page .topics h2 {
		margin-top: 1em;
	}

	.info-page .topic {
		float: left;
		min-height: 150px;
		padding: 0 20px;
		width: 33%;
	}

	.info-page .topic-header {
		position: relative;
	}

	.info-page .topic-header [class^='icon-'] {
		left: -30px;
		position: absolute;
	}

	.info-page .topic:last-child {
		margin-left: 33%;
		margin-bottom: 0;
	}

	.info-page .format {
		float: left;
		width: 33%;
	}
}