.interview-image {
	text-align: center;
}

.interview-image img {
	border-radius: 100%;
	height: 150px;
	width: 150px;
}

.interview-info {
	line-height: 150%;
	text-align: center;
	margin-top: 15px;
}

.interview-info h1 {
	display: inline-block;
	margin: 0;
}

.interview-info .twitter {
	margin-left: 20px;
}

.interview-info .twitter path {
	-webkit-transition: fill .4s ease;
	-moz-transition: fill .4s ease;
	-o-transition: fill .4s ease;
	transition: fill .4s ease;
	fill: #707070;
}

.interview-info .twitter:hover path {
	fill: #00ACED;
}

.interview-info h2 {
	color: #707070;
	font-family: Vollkorn;
	font-size: 1em;
	font-weight: 300;
	margin-top: .7em;
	font-style: italic;
}

.interview-text {
	margin-top: 2em;
	text-align: justify;
}

@media (min-width: 768px) {
	.interview-image {
		float: left;
	}

	.right .interview-image {
		float: right;
	}

	.interview-image img {
		height: 200px;
		width: 200px;
	}

	.interview-content {
		margin-left: 250px;
	}

	.right .interview-content {
		margin-left: 0;
		margin-right: 250px;
	}

	.interview-info {
		text-align: left;
		margin-top: 0;
	}

	.right .interview-info {
		text-align: left;
	}

	.interview-info h2 {
		font-size: 1.15em;
		margin-top: .7em;
	}
}