.journeyzone-page .nav {
    background: transparent;
}

.journeyzone-page .mood {
    margin-top: -210px;
    min-height: 400px;
    position: relative;
}

.journeyzone-page .mood:before {
    content: '';
    display: block;
    padding-top: 40%;
}

.mood .mood-background {
    background-image: url('/assets/img/spitsbergen_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}