.kids-page .nav {
    background: transparent;
}

.kids-page .nav.bg {
    background: rgba(254, 254, 254, .95);
}

.kids-page .nav a {
    color: #fff;
}

.kids-page .nav.bg a {
    color: #101010;
}

.kids-page .mood {
    margin-top: -210px;
    min-height: 400px;
    position: relative;
}

.kids-page .mood:before {
    content: '';
    display: block;
    padding-top: 45%;
}

/* https://www.flickr.com/photos/wildlife_encounters/8024194007/in/photolist-de56jx-66zzgf-dmtR3S-j2AkLb-5ngbsN-aBkpC-qYEYHo-5jWU3i-ajj77A-61T8sa-7mwezf-gkTjM6-77tbUt-8tD92f-9C3sma-dteoXm-PusQ8-tm5x9k-qJRjVL-p8ULNk-rosmrD-61Sq7F-dX4JyE-pENpXu-BmW1n-aZAXL-3hxgy-Krwr4-pTFESj-5EGLDG-5EjcJo-i5ZJa1-5EGJ3q-7hdVjk-99iWsp-5jWTUH-FPUC6-Puspa-pMob6r-a3Pdjy-8CuAQr-Gu2rq-61WDuw-61SruR-61Sqi2-t4zvff-uykKac-7PdCSM-pmJu1Z-8pgkwm */
.kids-page .mood .mood-background {
    background-image: url('/assets/img/kids/kids2_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.kids-page .jumbotron {
    margin-top: 5em;
}

/*  http://cannybots.com */
.kids-page .img-cannybots {
    background-image: url('/assets/img/kids/cannybots.jpg');
    height: 500px;
}

/*  https://www.flickr.com/photos/kwarz/13974382668/in/photolist-nhSn7d-5ESVRc-pa1tU5-kQStQ4-2yGq7-9TfRmX-ehBnRE-7WmkhD-7WpBWm-5QT8MU-itLPxf-aiJKsj-9PWn4-zB9w4-539gSu-9PWnv-68fTjR-63CgrG-4Cnamd-5mafQF-5nF9AA-hT9xeh-771N9b-7CDfhH-5X58n4-pwe8oK-4K6zsd-a4BoB-8JMvMz-5pDsRR-2mMw3-5guc28-6wdLat-4E2zcQ-5gCCxz-6Yv8t-3j864t-4JNs7f-56ZPbz-nqwu-2Gf1s9-4m5ojv-uVicS-d3FSMW-4cPmgA-6wnx18-7ScYqT-4kAwqA-9k5FFA-dWWQXm */
.kids-page .img-code-mac {
    background-image: url('/assets/img/kids/code-mac.jpg');
    height: 500px;
}

/* https://www.flickr.com/photos/kjarrett/15611702891/in/photolist-pMy4ne-oQWfsE-pKGsxd-oQZkxT-pkWskU-jr3aLG-d6yB37-khNTBc-b9xtAT-pRi9xF-9sBMJC-czMCty-pvoztm-pvkTBj-pKGsD5-pvmsxZ-pMy4d6-oQZkKr-pKGssJ-pvoz81-pMS3qQ-oQZkxn-pvoyGS-qtXAo2-cm82iJ-qkMuoN-9gKPdS-9gGJdt-9gKP77-9gKL5C-9gKL5u-dm7xco-chW6xQ-8RvpQv-bb2VTX-ferjje-vUrpm1-fucE8X-9hUdYJ-9hR8kH-9FSB1u-qwa9Ux-nnNfxW-qLo6uH-gG3fQc-qw3NZW-qLo6ux-qtPLNE-8MWXC6-qtNWuJ */
.kids-page .img-minecraft {
    background-image: url('/assets/img/kids/minecraft.jpg');
    height: 500px;
}

.kids-page .img-keyboard {
    background-image: url('/assets/img/kids/keyboard.jpg');
    height: 500px;
}

.kids-page .workshop-status:before {
    border-radius: 100%;
    content: '';
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    width: 20px;
}

.kids-page .workshop-registration.free-spots .workshop-status:before {
    background: #149089;
}

.kids-page .workshop-registration.few-spots .workshop-status:before {
    background: #fcaf17;
}

.kids-page .workshop-registration.full .workshop-status:before {
    background: #a10035;
}

.kids-page .workshop-registration.very-full .workshop-status:before {
    background: #a10035;
}

.kids-page .workshop-registration.not-opened .workshop-status:before {
    background: #101010;
}

.kids-page .workshop-registration.closed .workshop-status:before {
    background: #101010;
    opacity: .5;
}