.nav {
	-webkit-transition: line-height .1s ease;
	-moz-transition: line-height .1s ease;
	-o-transition: line-height .1s ease;
	transition: line-height .1s ease;
	background: rgba(254, 254, 254, .9);
	position: fixed;
	text-align: center;
	top: -80px;
	width: 100%;
	z-index: 1;
}

.nav .logo {
	font-size: 0;
}

.nav .logo svg {
	-webkit-transition: width .1s ease;
	-moz-transition: width .1s ease;
	-o-transition: width .1s ease;
	transition: width .1s ease;
	transform-origin: 50% 0;
	margin: 20px 0;
}

.nav .logo a {
	margin-left: 30px;
}

.nav-toggle {
	background: transparent;
	border: 0;
	display: table-cell;
	height: 100%;
	padding: 0;
}

.nav-toggle:focus {
	outline: 0;
}

.nav-toggle svg {
	position: relative;
	top: -10px;
}

.nav-desktop {
	display: table;
}

.nav-mobile, .nav-desktop {
	width: 100%;
}

.nav-mobile {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-element {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.nav-element.left {
	text-align: right;
}

.nav-element.right {
	text-align: left;
}

.nav a {
	-webkit-transition: color .4s ease;
	-moz-transition: color .4s ease;
	-o-transition: color .4s ease;
	transition: color .4s ease;
	color: #101010;
	display: inline-block;
	font-size: 1.8em;
	font-weight: 300;
	position: relative;
}

.nav .nav-item a {
	position: relative;
	top: -8px;
}

.nav a:hover,
.nav a:focus {
	color: #ff8641;
}

.nav a.active {
	color: #ff8641;
}

.nav-item {
	display: none;
}

@media (min-width: 768px) {

	.nav {
		top: 0;
	}

	.nav .logo a {
		margin-left: 0;
	}

	.nav-toggle {
		display: none;
	}

	.nav-element {
		width: 33.33%;
	}

	.nav-mobile {
		display: none;
	}

	.nav-item {
		display: table-cell;
	}
}