.menu {
	-webkit-transition: line-height .1s ease;
	-moz-transition: line-height .1s ease;
	-o-transition: line-height .1s ease;
	transition: line-height .1s ease;
	background: rgba(254, 254, 254, .9);
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}

.menu svg {
	-webkit-transition: width .1s ease;
	-moz-transition: width .1s ease;
	-o-transition: width .1s ease;
	transition: width .1s ease;
	transform-origin: 50% 0;
	margin: 20px 0;
}

.menu .container {
	display: table;
}

.menu .menu-item {
	display: table-cell;
	vertical-align: middle;
	width: 33.33%;
}

.menu-item.left {
	text-align: left;
}

.menu-item.right {
	text-align: right;
}

.menu a {
	-webkit-transition: color .4s ease;
	-moz-transition: color .4s ease;
	-o-transition: color .4s ease;
	transition: color .4s ease;
	color: #101010;
	display: block;
	font-size: 1.8em;
	font-weight: 300;
	margin-top: -10px;
}

.menu a:hover,
.menu a:focus {
	color: #ff8641;
}

.menu a.active {
	text-decoration: underline;
}

/*.menu .menu-item {
	float: left;
	font-size: 1.8em;
	width: 33.33%;
	display: inline-block;
}

.menu .menu-item.left {
	text-align: left;
}

.menu .menu-item.right {
	text-align: right;
}*/