.nav {
	-webkit-transition: line-height .1s ease;
	-moz-transition: line-height .1s ease;
	-o-transition: line-height .1s ease;
	transition: line-height .1s ease;
	background: rgba(254, 254, 254, .95);
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
}

.nav-desktop {
	display: none;
	position: relative;
}

.nav ul {
	padding: 0;
	list-style: none;
}

.nav-desktop ul {
	text-align: right;
}

.nav .nav-logo {
	left: 50%;
	position: absolute;
	top: 20px;
	z-index: 2;
}

.nav .nav-logo a {
	margin-left: -61px;
}

.nav-desktop .nav-item {
	display: inline-block;
	text-align: left;
	position: relative;
	top: 20px;
}

.nav-item.left {
	float: left;
}

.nav-mobile, .nav-desktop {
	width: 100%;
}

.nav-mobile {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav a {
	-webkit-transition: color .4s ease;
	-moz-transition: color .4s ease;
	-o-transition: color .4s ease;
	transition: color .4s ease;
	color: #101010;
	display: inline-block;
	font-size: 1.7em;
	padding: 0 .5em;
	font-weight: 300;
	position: relative;
	text-decoration: none;
}

.nav .nav-item a {
	display: block;
}

.nav a:hover,
.nav a:focus {
	color: #ff8641;
}

.nav a.active {
	color: #ff8641;
}

.mobile-background {
	background: rgba(254, 254, 254, 0);
	height: 76px;
	width: 100%;
}

.nav-mobile-items {
	background: rgba(254, 254, 254, .95);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.nav-mobile-items ul {
	margin-top: 150px;
}

.nav-toggle {
	background: transparent;
	border: 0;
	padding: 0;
	position: fixed;
	right: 25px;
	top: 52px;
	z-index: 2;
	outline: none;
}

@media (min-width: 768px) {

	.nav {
		top: 0;
	}

	.nav-desktop {
		display: block;
	}

	.nav .logo a {
		margin-left: 0;
	}

	.nav-toggle {
		display: none;
	}

	.nav-mobile {
		display: none;
	}
}