.partner-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}

.partner-list li {
	display: inline-block;
}

.partner-list img {
	-webkit-transition: opacity .8s;
	-moz-transition: opacity .8s;
	-ms-transition: opacity .8s;
	-o-transition: opacity .8s;
	transition: opacity .8s;
	display: block;
	height: 63px;
	opacity: .01;
	width: 140px;
}

.partner-list img.visible {
	opacity: 1;
}

.partner-list a {
	display: block;
	position: relative;
}

.partner-list a:after {
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-ms-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
	background: white;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.partner-list a:hover:after {
	opacity: .1;
}

.contact {
	margin-top: 5em;
	text-align: center;
}

.contact a {
	padding: 10px 40px;
}

.section {
	margin-top: 2.5em;
}

.section h1, .section h2 {
	float: left;
	margin: 0;
	padding-right: 20px;
	text-align: right;
	width: 40%;
}

.section h2 {
	font-size: 1.3em;
	font-weight: 300;
}

.section-content {
	float: left;
	padding-left: 20px;
	width: 60%;
}

.section-content p {
	margin: 1.5em 0;
	text-align: left;
}

.section-content p:first-child {
	margin-top: .7em;
}

/*.sub-section {
	float: left;
	width: 50%;
}*/

@media (min-width: 768px) {
	.sub-section {
		float: left;
		width: 50%;
	}
}

.section ul {
	list-style: none;
	margin: 0;
	padding: 0 20px;
	position: relative;
}

.section ul:before {
	background: #101010;
	content: "";
	display: block;
	top: 7px;
	bottom: 5px;
	left: 10px;
	position: absolute;
	width: 2px;
}

.section ul.section-content {
	padding-left: 20px;
}

.section ul {
	padding-right: 0;
	margin-top: .3em;
}

.section-content li {
	margin-bottom: 20px;
	text-align: justify;
}

.section-content li:last-child {
	margin-bottom: 0;
}

.package .package-title {
	font-weight: 300;
}