.program-days ul {
    padding-left: 0;
}

.program-days ul:before {
    display: none;
}

.program-days li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}

.program-days a {
    background-position: 0 33px;
}

.program-days a.active-day {
    color: #ff8641;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, #ff8641);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #ff8641);
}

.program-day {
    margin-bottom: 2.5em;
}

.program-day-title {
    border-bottom: 1px solid black;
}

.javazone-program .section-content h2 {
    /*border-bottom: 1px solid #999;*/
    display: inline-block;
    margin-bottom: 0.25em;
    position: relative;
}

.javazone-program .section-content h2 a {
    background-position: 0 21px;
}

.javazone-program .submission .submission-icon {
    font-size: .7em;
    opacity: .5;
    position: relative;
}

.javazone-program .submission .submission-flag {
    height: 24px;
    position: relative;
    top: 5px;
    width: 24px;
}

@media (min-width: 768px) {
    .javazone-program .submission .submission-icon {
        left: -30px;
        position: absolute;
        top: 6px;
    }

    .javazone-program .submission .submission-flag {
        /*left: -34px;
        position: absolute;
        top: 41px;*/
        margin-left: 3px;
    }
}

.javazone-program .sub-section .section-icon {
    opacity: .9;
    position: absolute;
    right: 16px;
    top: 120%;
}

.javazone-program .section-content ul + p {
    margin-bottom: 1.7em;
    margin-top: .02em;
}

.javazone-program ul {
    padding-left: 0;
    margin: 0;
}

.javazone-program ul:before {
    display: none;
}

.javazone-program .submission-keyword, .filter-difficulty, .filter-category {
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity: .2s ease-in-out;
    -o-transition: opacity: .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 0;
    padding: 1px 10px;
}

.javazone-program .submission-keyword {
    opacity: .5;
}

.javazone-program .submission-speaker:not(:last-child):after {
    content: '&';
    margin-left: 10px;
    margin-right: 10px;
}

.javazone-program .submission-speaker img {
    border-radius: 100%;
    height: 24px;
    margin-bottom: -5px;
    margin-right: 5px;
    width: 24px;
}

/*.javazone-program li:hover {
    opacity: 1;
}*/

.topics, .topic-submissions {
    list-style: none;
    padding: 0;
}

.topic-submissions {
    padding-left: 4em;
}

.topic {
    margin: 5em 0 2em;
}

.topic-title h2 {
    font-size: 1.3em;
    font-weight: 300;
    margin: 0;
}

.topic-title h2 i {
    margin-right: 1.5em;
}

/* keyword colors */

.submission-keyword, .filter-category {
    background-color: #777;
}

.difficulty-hardcore {
    background-color: #a10035;
}

.difficulty-advanced {
    background-color: #ff4f4c;
}

.difficulty-beginner {
    background-color: #149089;
}

.difficulty-intermediate {
    background-color: #fcaf17;
}

/* filter */
.javazone-program-filter {
    text-align: center;
}

.javazone-program-filter .filter-difficulties {
    padding: 0;
}

.javazone-program-filter .filter-categories {
    margin: 0 auto;
    max-width: 500px;
    padding: 0;
}

.javazone-program-filter .filter-difficulty,
.javazone-program-filter .filter-category {
    cursor: pointer;
    opacity: .3;
}

.javazone-program-filter .filter-difficulty:hover,
.javazone-program-filter .filter-category:hover {
    opacity: 1;
}

.javazone-program-filter li.active {
    opacity: 1;
}

/* Heads up */
.heads-up {
    background: rgba(252,175,23, .7);
    margin: 0 auto;
    max-width: 550px;
    padding: 20px;
}

.heads-up svg {
    float: left;
    height: 80px;
    width: 80px;
}

.heads-up-text {
    margin-left: 120px;
}

.heads-up-text h1 {
    font-size: 1.3em;
    margin: 0;
}

.heads-up-text p {
    font-size: .8em;
    margin: 0;
}