.speakers-page .submit {
	text-align: center;
}

.speakers-page .topics {
	background: #efefef;
}

.speakers-page .topics ul {
	margin: 0;
	list-style: none;
}

.speakers-page .topic {
	float: left;
	margin-bottom: 2em;
	width: 25%;
}

.speakers-page .topic .topic-header {
	font-weight: bold;
}

.speakers-page .deadlines ul {
	margin: 0;
	list-style: none;
}

.speakers-page .deadlines ul:before {
	display: none;
}

.speakers-page .deadline {
	border: 1px solid #101010;
	float: left;
	font-size: 16px;
	margin: 10px;
	padding: 17px;
	width: calc(33% - 20px);
}

.speakers-page .happening {
	color: #a10035;
	text-transform: uppercase;
	text-align: left;
}

.speakers-page .spread-the-word {
	font-size: 1.4em;
	font-weight: 300;
}

.speakers-page .regards {
	color: #a10035;
	font-size: 1em;
}