.speakers-page .hello .illustration-mobile {
	width: 200px;
}

.speakers-page .hello .illustration-desktop {
	width: 300px;
}

@media (min-width: 768px) {

	.speakers-page .hello .illustration {
		width: auto;
	}

}

.speakers-page .submit {
	text-align: center;
}

.speakers-page .topics {
	background: #efefef;
}

.speakers-page .topics ul {
	margin: 0;
	list-style: none;
}

.speakers-page .topic {
	margin-bottom: 2em;
}

.speakers-page .topic .topic-header {
	font-weight: bold;
}

.speakers-page .deadlines ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.speakers-page .deadlines ul:before {
	display: none;
}

.speakers-page .deadline {
	border: 1px solid #101010;
	font-size: 16px;
	margin: 10px;
	padding: 17px;
}

.speakers-page .happening {
	color: #a10035;
	text-transform: uppercase;
	text-align: left;
}

.speakers-page .spread-the-word {
	font-size: 1.4em;
	font-weight: 300;
}

.speakers-page .regards {
	color: #a10035;
	font-size: 1em;
}

@media (min-width: 768px) {

	.speakers-page .topic {
		float: left;
		width: 25%;
	}

	.speakers-page .deadline {
		float: left;
		width: calc(33% - 20px);
	}
}