.teaser {
	margin: 55px 0;
	text-align: center;
}

.teaser img {
	margin-bottom: 40px;
	max-width: 250px;
	width: 50%;
}

.teaser h1 {
	font-weight: 300;
}

.teaser h2 {
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5;
}

.teaser .splitter {
	width: 100px;
	margin: 70px auto;
	border-bottom: 1px solid #eee;
}

.teaser .buttons {
	list-style: none;
	text-align: center;
	margin-top: 70px;
	padding: 0;
}

.teaser .button {
	max-width: 300px;
	width: 100%;
}

.teaser li:first-child .button {
	margin-top: 0;
}

@media (min-width: 768px) {

	.teaser .button {
		margin: 10px 10px;
		width: 200px;
	}

	.teaser .buttons li {
		display: inline-block;
	}
}