/*.tickets-page .ticket {
	border-radius: 5px;
	box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, .2);
	line-height: 1;
	margin: 50px auto;
	width: 650px;
}*/

.tickets .ticket-types:before {
	display: none;
}

ul.ticket-types {
	padding-left: 0;
}

li.ticket-type {
	font-size: 2em;
	font-weight: 300;
	margin-top: 40px;
	text-align: center;
}

.ticket-type {
	text-align: center;
}

.ticket-type a {
	display: block;
	background-image: none;
}

.ticket-type a:hover {
	background-image: none;
}

.ticket-type svg {
	transition: width .4s ease;
	height: 140px;
	width: 140px;
}

.ticket-type a {
    background-position: 0 33px;
}

.ticket-type a .price {
	font-size: .6em;
	color: #a10035;
}
.ticket-type a .vatinfo {
	font-size: .4em;
	color: #777;
	margin-top: -5px;
}

.buybutton {
	text-align: center;
}
.section-content .javabin-info p {
	font-size: .8em;
	text-align: center;
	max-width: 45em;
	margin: 0 auto 1em auto;
}

.tickets .sub-section {
	margin-top: 0;
}

@media (min-width: 768px) {

	li.ticket-type {
		float: left;
		width: 50%;
		margin-top: 0;
	}

	.ticket-type svg {
		height: 200px;
		width: 200px;
	}

}

/*.ticket-main {
	padding: 30px 40px;
}

.tickets-page .ticket-for {
	color: #a10035;
	font-size: .8em;
	text-transform: uppercase;
}

.tickets-page .ticket-title {
	color: #101010;
	font-size: 2em;
	font-weight: 300;
	margin-top: 5px;
	text-transform: uppercase;
}

.tickets-page .ticket-includes {
	color: #CECECE;
	font-size: .9em;
	margin-top: 9px;
}

.ticket-dates, .ticket-location {
	color: #a10035;
	float: left;
	margin-top: 25px;
	width: 50%;
}

.ticket-info {
	margin-top: 55px;
}

.ticket-type-section {
	float: left;
	margin-top: 4px;
	width: 50%;
}

.ticket-total {
	float: left;
	width: 50%;
}

.tickets-page .ticket-type-text {
	color: #CECECE;
	font-size: .8em;
	text-transform: uppercase;
}

.tickets-page .ticket-total {
	color: #a10035;
	font-size: 2em;
	font-weight: 400;
	text-align: right;
}

.tickets-page .icon {
	margin-right: 7px;
}

.tickets-page .or {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}*/