.workshop-page .section-header a {
    background-position: 0 22px;
}

.workshop-page .section-content h2 {
    display: inline-block;
    margin-bottom: 0.25em;
    position: relative;
}

.workshop-page .submission-speaker:not(:last-child):after {
    content: '&';
    margin-left: 10px;
    margin-right: 10px;
}

.workshop-page .submission-speaker img {
    border-radius: 100%;
    height: 24px;
    margin-bottom: -5px;
    margin-right: 5px;
    width: 24px;
}

.workshop-page .workshop-registration .status {
    /*display: inline-block;*/
    padding-left: 10px;
}

.workshop-page .section-content p:first-child {
    margin-top: .4em;
}

.workshop-page .section-content p {
    margin-bottom: 1em;
}